.main {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
}

.button-group {
    display: block;
}

.button-list {
    font-family: 'Acrom', sans-serif;
    font-size: 16px;
    border: 1px solid;
    border-color: #ff506f;
    width: 230px;
    padding: 9px 17px;
    align-items: center;
    color: #ff506f;
    background: #1e2025;
    transition: background 0.5s ease 0s;
}

.button-list:hover {
    color: #ffffff;
    background: #ff506f;
}

.faq-tech-ques {
    color: #ffffff;
    margin: 0 0 0 30px;
}

.faq-tech-answer {
    color: gray;
}

.faq-link {
    color: gray;
    transition: color 0.5s ease 0s;
}

.faq-link:hover {
    color: #ff506f;
}