.about-market {
    background: #ffffff;
    padding: 90px 20px 50px 20px;
}

.acc {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.about-acc-head {
    color: #ffffff;
    margin: 0px;
    margin-bottom: 10px;
}

.about-acc-info {
    color: #ffffff;
}

.about-acc-stats {
    color: #ffffff;
}

.avatar-user {
    width: 61px;
    height: 61px;
    border-radius: 5px;
    margin-top: 7px;
}

.cost-acc {
    color: rgb(255, 255, 255);
    display: inline-flex;
    max-height: 23px;
    font-size: 18px;
    background: rgb(0, 139, 0);
    border-radius: 5px;
    margin-bottom: 16px;
    padding: 0 5px 3px 5px;
}

.frame {
    display: inline-flex;
    min-width: 800px;
    margin: 0 0 0 auto;
}

.frame-acc-game {
    display: inline-block;
    background: #3d3d3d;
    border-radius: 5px;
    margin-top: 20px;
    padding: 3px 5px 3px 5px;
}