/speedhack/cache/
**/__pycache__/
**/migrations/
db.sqlite3
**/media/
**/posts/
**/static/images/posts/*.png
**/static/images/posts/*.jpg
**/static/images/posts/*.gif
**/static/images/posts/*.mp4
**/static/images/avatars/*.png
**/static/images/avatars/*.jpg
**/static/images/avatars/*.gif
**/static/images/avatars/*.mp4
**/static/images/cache/
**/static/images/backgrounds/*.png
**/static/images/backgrounds/*.jpg
