.frame-users {
  display: none;
  background: #242424b6;
  border-radius: 10px;
  width: 1041px;
  padding: 20px 0 20px 0;
}

.frame-users.active-tab {
  display: block;
}

.users-username {
  display: block;
  font-size: 20px;
  color: #d6d6d6;
  cursor: pointer;
}

.admin-link {
  text-decoration: none;
}

.admin-btn {
  display: flex;
}

.admin-button {
  background: #3d3d3d;
  font-size: 16px;
  padding: 8px 0px;
  text-align: center;
  color: #d6d6d6;
  border-radius: 10px;
  text-decoration: none;
  width: 150px;
  transition: 0.5s ease 0s;
}

.admin-button:hover {
  background: #505050;
}

.admin-hr {
  margin: 10px 0 10px 0;
  border: none;
  background: #555555;
  height: 1px;
}

.switch-info-admin {
  color: #d6d6d6;
  display: grid;
  align-content: center;
  margin-right: 15px;
  margin-bottom: 15px;
  background: #242424b6;
  padding: 12px 0px;
  min-width: 205px;
  max-height: 165px;
  border-radius: 10px;
}

.ads-description {
  max-width: 650px;
  max-height: 120px;
  padding: 7px;
}

.ads-label {
  color: #d6d6d6;
  font-size: 18px;
  margin-right: 10px;
  min-width: 200px;
  max-width: 200px;
  text-align: right;
}

.admin-edit-user {
  min-width: 45px;
  min-height: 45px;
  position: relative;
  top: -2px;
  color: #3d3d3d;
  transition: 0.3s;
}

.admin-edit-user:hover {
  color: #505050;
}
