.ads_con {
  display: block;
}

.ads-main-div {
  background: #242424b6;
  width: 1041px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.ads-main-div-content {
  display: grid;
  /* align-items: flex-start; */
  gap: 28px;
  grid-template-columns: repeat(3, 1fr);
}

.ads-cart {
  width: 100%;
  border-radius: 10px;
  background: #2d2d2d;
  display: flex;
  justify-content: center;
  gap: 4px;
  padding: 20px 0;
  align-items: center;
  flex-direction: column;
}

.ads-block-title {
  color: #d6d6d6;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  line-height: 36px;
  pointer-events: none;
  transition: all .3s ease-out;
}

.ads-block-text {
  color: #949494;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  pointer-events: none;
  transition: all .3s ease-out;
}
