.button-group {
	display: block;
}

.button-list {
	font-family: 'Acrom', sans-serif;
	font-size: 16px;
	border: 1px solid;
	border-color: #ff506f;
	display: block;
	margin: 0 auto 0 auto;
	width: 230px;
	padding: 5px 0;
	text-align: center;
	color: #ff506f;
	background: #242729;
	transition: background 0.5s ease 0s;
}

.button-list:hover {
	background: #ff506f;
	color: #ffffff;
}

.faq-tech-ques__none {
	color: #ffffff;
	margin: 0 0 0 30px;
}

.faq-tech-answer {
	color: gray;
}

.faq-link {
	color: gray;
	transition: color 0.5s ease 0s;
}

.faq-link:hover {
	color: #ff506f;
}

.button-list {
	padding: 0.5rem 0.75rem;
	text-decoration: none;
	text-align: center;
	flex-shrink: 0;
	flex-grow: 1;
	border: 1px solid #ff506f;
	cursor: pointer;
}

.button-list__active {
	cursor: default;
	color: #ffffff;
	background: #ff506f;
}

.faq-tech-ques__none {
	display: none;
}

.faq-tech-ques__none__show {
	display: block;
}
