.user-agreement-con {
  max-width: 1081px;
  margin: 0 auto;
  display: flex;
}

.button-list {
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', HelveticaNeue, sans-serif;
  font-size: 16px;
  border: 1px solid;
  border-color: #ff506f;
  display: block;
  margin: 0 auto 0 auto;
  width: 230px;
  text-align: center;
  color: #ff506f;
  background: #242729b6;
  transition: all 0.5s ease 0s;
}

.button-list:hover {
  background: #ff506f;
  color: #d6d6d6;
}

.faq-tech-ques {
  color: #d6d6d6;
}

.button-list {
  padding: 7px 10px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.button-list__active {
  cursor: default;
  color: #d6d6d6;
  background: #ff506f;
}
