.footer {
    min-height: 100%;
    justify-content: center;
    text-align: center;
    background: #1e2025;
}

.footer ul {
    padding: 0;
}

.footer hr {
    width: 201px;
    margin: 0 auto 10px auto;
}

.footer-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: color 0.5s ease 0s;
}

.footer-link:hover {
    color: #ff506f;
}