* {
  margin: 0;
  padding: 0;
}

.bg-header {
  --mm-ocd-width: 80%;
  --mm-ocd-min-width: 200px;
  --mm-ocd-max-width: 440px;
  display: block;
  background: #242424;
  padding: 2px 0px;
  position: fixed;
  z-index: 9999;
  width: var(--mm-ocd-width);
  min-width: var(--mm-ocd-min-width);
  max-width: var(--mm-ocd-max-width);
  overflow: scroll;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overscroll-behavior: contain;
  line-height: 20px;
  transform: translate3d(-100%, 0, 0);
  transition: .3s;
}

.bg-open {
  transform: translate3d(0, 0, 0);
}

.bg-search .bg-input-search {
  margin: 15px 15px 0;
}

.bg-input-search {
  width: calc(100% - 34px);
  font-size: 16px;
  background-color: #2d2d2d;
  border: 2px solid #44444400;
  color: #d6d6d6;
  outline: none;
  border-radius: 10px;
  height: 35px;
  padding-left: 10px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.bg-input-search:focus {
  border: 2px solid #4444448a;
  border-color: #ff506f;
  outline: 0;
}

.bg-search {
  margin: 0 auto;
}

.bg-links {
  display: block;
  margin-top: 10px;
}

.bg-link {
  display: flex;
  text-decoration: none;
  padding: 8px 0 8px 16px;
}

.bg-icons {
  color: #505050;
  width: 20px;
  height: 20px;
}

.bg-link-text {
  font-size: 15px;
  color: #ececec;
  display: block;
  margin-left: 12px;
}

.bg-sep {
  padding-left: 16px;
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bg-sep-text {
  white-space: nowrap;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  color: #A2A2A2;
}

.bg-sep-line {
  width: 100%;
  margin-left: 8px;
  height: 1px;
  background-color: #ffffff26;
}

.header {
  background: #242424;
  /* background: #1e2122; */
  position: fixed;
  z-index: 100;
  height: 44px;
  width: 100%;
  line-height: 20px;
}

.header-con {
  width: 1081px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 2px 0;
}

.brandLogo {
  margin: 0;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header-menu {
  flex: 1 1 auto;
}

.menu-list {
  margin-left: 30px;
  list-style-type: none;
  display: flex;
  position: absolute;
  top: 25%;
}

.menu-item {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ff506f;
  padding-right: 30px;
}

.menu-link {
  text-decoration: none;
  color: #d6d6d6;
  transition: color 0.5s ease 0s;
}

.menu-link:hover {
  color: #ff506f;
  color: #ffffff;
}

.button {
  cursor: pointer;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  padding: 7px 8px;
  color: #ffffff;
  background: #ff506f;
  border: none;
  text-decoration: none;
  border-radius: 6px;
  transition: all 0.5s ease 0s;
}

.button:hover {
  color: #ffffff;
  background: #ff6b86;
}

.button-off {
  cursor: pointer;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  padding: 7px 8px;
  color: #b8b8b8;
  border: none;
  text-decoration: none;
  border-radius: 6px;
  transition: all 0.5s ease 0s;
}

.button-off:hover {
  color: #d6d6d6;
}

.notification {
  width: 25px;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.5s ease 0s;
}

.notification:hover {
  color: #d13232;
}

.user-avatar-header {
  margin-top: 3px;
  max-width: 35px;
  border-color: #ff506f;
  border-radius: 50px;
}

.user-avatar-header-first {
  max-height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.window-main {
  max-height: 40px;
  position: relative;
  display: block;
}

.window-button {
  color: #d6d6d6;
  font-size: 16px;
  display: flex;
  text-decoration: none;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.window-button:hover {
  color: #ffffff;
}

a.window-button {
  display: block;
}

.window-button-second {
  color: #d6d6d6;
  font-size: 16px;
  position: relative;
  padding: 7px 20px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.window-button-second:hover {
  box-shadow: inset 4px 0px 0px 0px #ff506f;
  font-size: 16px;
  cursor: pointer;
}

.window-button-bb {
  color: #d6d6d6;
  background: #242424;
  border: none;
  width: 200px;
  min-height: 40px;
  text-align: left;
  font-size: 16px;
  position: relative;
  padding: 7px 20px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.window-button-bb:hover {
  box-shadow: inset 4px 0px 0px 0px #ff506f;
  font-size: 16px;
  cursor: pointer;
}

.window-other a:hover {
  background: #242424b6;
  /* background-color: #333333; */
}

.window-main:hover .window-other {
  display: grid;
  align-content: center;
  border: 1px solid #444444;
  background: #242424;
  /* background: #292a2e; */
  min-width: 200px;
  border-radius: 10px;
}

.window-other {
  display: none;
  position: absolute;
  align-content: center;
  box-shadow: 0 5px 26px 0 rgba(0,0,0,.32);
  padding: 10px 0px;
  min-width: 200px;
  border-radius: 10px;
}

.icons-header {
  color: #cacaca;
  transition: all 0.5s ease 0s;
}

.window-main:hover .icons-header {
  transform: rotate(180deg);
}

.icon-rub {
  width: 9px;
  height: 19px;
}

.icon-burger {
  display: none;
  color: #d6d6d6;
  margin-left: 20px;
}
