.header {
	/* background: #2b2e35; */
	/* background: #25262b; */
	background: #1e2122;
	padding: 10px 0px;
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
}

.header_con {
	display: flex;
	align-items: center;
}

.brandLogo img {
	width: 35px;
}

.header_menu {
	flex: 1 1 auto;
}

.menu_list {
	list-style-type: none;
	display: flex;
}

.menu_item {
	font-family: 'Ubuntu', 'Acrom', sans-serif;
	font-size: 16px;
	color: #ff506f;
	padding-right: 30px;
}

.menu_link {
	text-decoration: none;
	color: #ffffff;
	transition: color 0.5s ease 0s;
}

.menu_link:hover {
	color: #ff506f;
	color: #ddd;
}

.button {
	cursor: pointer;
	font-size: 16px;
	font-family: 'Ubuntu', 'Acrom', sans-serif;
	padding: 5px 10px;
	color: #ff506f;
	background: #1e2122;
	border: 1px solid;
	text-decoration: none;
	border-color: #ff506f;
	border-radius: 6px;
	transition: all 0.5s ease 0s;
}

.button:hover {
	color: white;
	background: #ff506f;
}

.user-icon {
	cursor: pointer;
	font-size: 14px;
	font-family: 'Ubuntu', 'Acrom', sans-serif;
	padding: 5px 25px;
	min-width: 100px;
	color: #ff506f;
	background: #1e2122;
	border: 1px solid;
	border-color: #ff506f;
	border-radius: 5px;
	color: #ff4545;
	transition: all 0.5s ease 0s;
}

.notification {
	width: 35px;
	margin-right: 10px;
	cursor: pointer;
	border-radius: 10px;
	transition: all 0.5s ease 0s;
}

.notification:hover {
	background: #7d7d7d;
}

.user-button {
	position: relative;
	display: inline-block;
}

.user-button-content {
	padding-top: 10px;
	display: none;
	position: absolute;
	min-width: 130px;
	z-index: 1;
	transition: all 0.5s ease 0s;
}

.user-button-content a {
	color: #ff506f;
	background: #1e2122;
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-color: #ff506f;
	font-size: 14px;
	padding: 5px 0px 5px 9px;
	width: 110px;
	text-decoration: none;
	display: block;
	transition: all 0.5s ease 0s;
}

.user-button-content a:hover {
	color: #ffffff;
	background: #ff506f;
}

.user-button:hover .user-button-content {
	display: block;
}

.user-button:hover .user-icon {
	color: #ffffff;
	background: #ff506f;
}



.menu ul {
	margin: 0;
	list-style: none;
	padding-left: 20px;
	display: none;
}

.menu .title {
	font-size: 18px;
	cursor: pointer;
}

.menu.open span {
	display: block;
}




.arrow-4 {
	position: relative;
	cursor: pointer;
	width: 66px;
	height: 30px;
}

.arrow-4-left {
	margin-left: 65px;
	position: absolute;
	background-color: transparent;
	top: 11px;
	left: 0px;
	width: 12px;
	height: 3px;
	display: block;
	transform: rotate(45deg);
	float: right;
}

.arrow-4-left:after {
	content: "";
	background-color: #888888;
	width: 12px;
	height: 3px;
	display: block;
	float: right;
	border-radius: 7px 10px 10px 7px;
	transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
	z-index: -1;
}

.arrow-4-right {
	margin-left: 65px;
	position: absolute;
	background-color: transparent;
	top: 11px;
	left: 7px;
	width: 12px;
	height: 3px;
	display: block;
	transform: rotate(-45deg);
	float: right;
}

.arrow-4-right:after {
	content: "";
	background-color: #888888;
	width: 12px;
	height: 3px;
	display: block;
	float: right;
	border-radius: 10px 7px 7px 10px;
	transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
	z-index: -1;
}

.open .arrow-4-left:after {
	transform-origin: center center;
	transform: rotate(-90deg);
}

.open .arrow-4-right:after {
	transform-origin: center center;
	transform: rotate(90deg);
}