.frames-con {
  max-width: 1081px;
  display: flex;
  margin: 0 auto;
}

.frame-left {
  min-width: 250px;
  background: #242424b6;
  border-radius: 10px;
  padding: 20px 10px 15px 10px;
  margin: 0px 15px 20px 0px;
}

.button-frame {
  cursor: pointer;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto 0 auto;
  color: #ffffff;
  font-weight: 700;
  background: #ff506f;
  /* background: #701198; */
  /* background: #66b814; */
  /* background: #4169E1; */
  text-decoration: none;
  border-radius: 10px;
  display: block;
  padding: 5px 0px;
  width: 240px;
  text-align: center;
  transition: background 0.5s ease 0s;
}

.button-frame:hover {
  background: #ff6b86;
}

.div-ul-up {
  margin-top: 20px;
}

.text-section {
  color: #777777;
  font-size: 18px;
  font-weight: 500;
  padding: 0px 10px;
}

.text-section-li:hover {
  color: #ff506f;
}

.li-label-ts {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 2px 0;
  transition: all 0.5s ease 0s;
}

.li-label-ts:hover {
  background: #202020b6;
  /* background: #2e2e2eb6; */
}

.li-label-ts.active-menu {
  background: #202020b6;
  /* backgrounrgba(34, 34, 34, 0.714)eb6; */
}

.li-label-ts.active-menu .icons-index {
  color: #ff506f;
}

.li-label-ts.active-menu .icons-index-arrow {
  transform: rotate(180deg);
}

.li-label-down {
  margin-left: 45px;
  max-height: 0px;
  overflow: hidden;
  color: #ececec;
  font-size: 14px;
  list-style-type: none;
  transition: all 0.5s ease 0s;
}

.li-label-ts-down {
  margin-bottom: 10px;
}

.li-label-ts-a {
  color: #d6d6d6;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.5s ease 0s;
}

.li-label-ts-a:hover {
  color: #ff506f;
}

.active-a {
  color: #ff506f;
}

.first-first-li-label.active-menu {
  margin-top: 10px;
  max-height: 220px;
}

.first-second-li-label.active-menu {
  margin-top: 10px;
  max-height: 310px;
}

.first-third-li-label.active-menu {
  margin-top: 10px;
  max-height: 370px;
}

.first-fourth-li-label.active-menu {
  margin-top: 10px;
  max-height: 50px;
}

.second-first-li-label.active-menu {
  margin-top: 10px;
  max-height: 430px;
}

.second-second-li-label.active-menu {
  margin-top: 10px;
  max-height: 390px;
}

.third-first-li-label.active-menu {
  margin-top: 10px;
  max-height: 60px;
}

.third-second-li-label.active-menu {
  margin-top: 10px;
  max-height: 60px;
}

.third-third-li-label.active-menu {
  margin-top: 10px;
  max-height: 60px;
}

.third-fourth-li-label.active-menu {
  margin-top: 10px;
  max-height: 60px;
}

.third-fifth-li-label.active-menu {
  margin-top: 10px;
  max-height: 60px;
}

.third-sixth-li-label.active-menu {
  margin-top: 10px;
  max-height: 90px;
}

.third-seventh-li-label.active-menu {
  margin-top: 10px;
  max-height: 60px;
}

.fourth-first-li-label.active-menu {
  margin-top: 10px;
  max-height: 310px;
}

.fourth-second-li-label.active-menu {
  margin-top: 10px;
  max-height: 120px;
}

.fourth-third-li-label.active-menu {
  margin-top: 10px;
  max-height: 60px;
}

.fourth-fourth-li-label.active-menu {
  margin-top: 10px;
  max-height: 150px;
}

.fourth-fifth-li-label.active-menu {
  margin-top: 10px;
  max-height: 150px;
}

.fourth-sixth-li-label.active-menu {
  margin-top: 10px;
  max-height: 180px;
}

.fourth-seventh-li-label.active-menu {
  margin-top: 10px;
  max-height: 210px;
}

.icons-index {
  color: #505050;
  min-width: 20px;
  max-width: 20px;
  margin-right: 10px;
  transition: all 0.5s ease 0s;
}

.icons-index.active-menu {
  color: #ff506f;
}

.icons-index-arrow {
  color: #686868;
  opacity: 0;
  text-align: center;
  height: 20px;
  transition: all 0.5s ease 0s;
}

.icons-index-arrow:hover {
  color: #d6d6d6;
}

.text-section-li {
  cursor: pointer;
  font-size: 14px;
  color: #ececec;
  transition: all 0.5s ease 0s;
}

.li-label-ts:hover .text-section-li {
  color: #ff506f;
}

.li-label-ts:hover .icons-index-arrow {
  opacity: 1;
}

.index-frame {
  width: 806px; 
  border-radius: 10px;
  margin: 0 0 20px 0;
}

.index-frame__group {
  background: #242424b6;
  padding: 20px;
}

.search__filter {
  font-size: 16px;
  color: #fff;
  background: #353535;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
}

.search__filter:focus {
  outline: none;
}

.index-frame__default-settings {
  background: #242424b6;
  padding: 10px;
  border-radius: 10px;
}

.index-frame__padding-fix {
  padding: 15px;
}

.index-frame__ads {
  margin-top: 15px;
}

.post-frame__main-margin-fix {
  margin-top: 15px;
}

.thread-seperator {
  height: 1px;
  display: block;
  background: #363636a3;
}

.index-box-search.index-frame__default-settings {
  padding: 0px;
}

.post-frame {
  border-radius: 10px;
  transition: .2s;
}

.post-frame:hover {
  background: #303030;
}

.post-frame__main {
  display: block;
}

.post-frame__main-about-post {
  display: flex;
  gap: 15px;
  align-items: center;
  color: #fff;
  padding: 10px 10px 0 10px;
}

.last-element {
  margin-bottom: 15px;
}

.post-frame__post-info {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-frame__post-info-title {
  font-size: 15px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-frame__avatar-post-container {
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.post-frame__avatar-post {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.post-frame__link {
  color: #d6d6d6;
  text-decoration: none;
}

.post-frame__link:hover {
  text-decoration: underline;
}

.post-frame__small-post-info {
  display: flex;
  font-size: 13px;
}

.post-frame__small-post-info .pink-separator {
  align-self: center;
  margin: 0 10px;
}

.post-frame__author-userlink {
  cursor: pointer;
  padding: 0 5px;
}

.post-frame__post-grouplink {
  cursor: pointer;
  text-decoration: none;
}

.post-frame__post-grouplink:hover {
  text-decoration: underline;
}

.post-frame__main-content {
  max-height: 150px;
  margin: 15px 15px;
  color: #d6d6d6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-frame__info-all {
  display: flex;
}

.post-frame__info-count {
  display: flex;
  gap: 12px;
  padding: 12px 16px;
}

.post-frame__info-count-styles {
  display: flex;
  padding: 7px 10px;
  border-radius: 20px;
  background: #343434;
}

.post-frame__info-count-img-container {
  display: flex;
  align-items: center;
}

.post-frame__info-count-img {
  width: 22px;
  height: 20px;
}

.post-frame__function-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: .2s;
}

.post-frame:hover .post-frame__function-buttons {
  opacity: 1;
}

.post-frame__avatar-comment-container {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.post-frame__avatar-comment {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post-frame__comment {
  display: flex;
  padding: 15px;
  gap: 12px;
  font-size: 13px;
}

.post-frame__comment .pink-separator {
  align-self: center;
  margin: 0 10px;
}

.post-frame__comment-info {
  display: flex;
}

.post-frame__comment-width-fix {
  max-width: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-frame__comment-text {
  color: #d6d6d6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-group__card {
  font-size: 14px;
  color: #d6d6d6;
  display: flex;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 10px;
  transition: .15s;
}

.post-group__card:hover {
  background: #2d2d2d;
}

.post-group__main-block {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.post-group__title-block {
  max-width: 550px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-group__title {
  color: #d6d6d6;
  text-decoration: none;
}

.post-group__title:hover {
  text-decoration: underline;
}

.post-group__info {
  display: flex;
}

.post-group__username {
  color: #d6d6d6;
  padding: 0 5px 0 0;
  text-decoration: none;
}

.post-group__username:hover {
  text-decoration: underline;
}

.post-group__info-additional {
  display: flex;
  padding-left: 5px;
  gap: 15px;
}

.post-group__comment-card {
  display: flex;
  width: 185px;
  gap: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-group__comment-card .post-group__comment-avatar-block {
  display: flex;
  align-self: center;
}

.post-group__comment-avatar-block {
  width: 40px;
  height: 40px;
}

.post-group__comment-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post-group__comment-info-block {
  display: block;
}

.post-group__comment-date {
  display: block;
}

.slide-bar-m {
  display: block;
}

.slide-bar-s {
  position: absolute;
  display: none;
  width: 100vw;
  border-radius: 10px;
  margin-bottom: 15px;
  background: #242424b6;
  padding: 20px;
}

.slide-bar-s-dop {
  display: flex;
  justify-content: space-between;
  height: 34px;
}

.slide-bar-s-btns {
  width: calc(50% - 5px);
  cursor: pointer;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 34px;
  color: #ffffff;
  background: #ff506f;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  transition: all 0.5s ease 0s;
}

.burger-btn {
  display: none;
  color: #ffffff;
}

.posts-group-title {
  color: #d6d6d6;
  font-size: 20px;
}

.help-group-title {
  color: #606060;
  font-size: 16px;
  font-weight: 700;
  margin-top: 5px;
}

.help-group-username {
  color: #d6d6d6;
  text-decoration: none;
}

.help-group-username:hover {
  text-decoration: underline;
}

.text-frame {
  display: flex;
}

.text-frame-title {
  cursor: pointer;
  color: #d6d6d6;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
}

.text-frame-text {
  cursor: pointer;
  color: #777777;
  font-size: 14px;
  display: inline-block;
  margin-top: 15px;
}

.avatar-username {
  display: flex;
  word-wrap: break-word;
}

.user-avatar {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 10px;
  right: 0px;
}

.text-frame-username {
  cursor: pointer;
  color: gray;
  font-size: 14px;
  width: 150px;
}

.search-header {
  margin: 0 0 20px 10px;
}

.search-header-else {
  display: flex;
}

.search-clear {
  cursor: pointer;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin: 10px 0 0 5px;
  color: #d6d6d6;
  background: #ff506f;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  display: block;
  padding: 3px 0px;
  width: 140px;
  text-align: center;
  transition: all 0.5s ease 0s;
}

.search-clear:hover {
  background: #ff6b86;
}

.input-search {
  margin-top: 10px;
  width: 720px;
  font-size: 18px;
  background: #202020b6;
  /* border: 2px solid #4444448a; */
  border: 2px solid #44444400;
  color: #d6d6d6;
  outline: none;
  border-radius: 10px;
  height: 40px;
  padding-left: 10px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.icon-delete {
  color: #505050;
  align-items: center;
  margin: 15px 0 0 5px;
  width: 30px;
  height: 30px;
  transition: all 0.5s ease 0s;
}

.icon-delete:hover {
  color: #ff506f;
}

.input-search:focus {
  border-color: #ff506f;
  outline: 0;
}

.text-frame-div {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  color: #d6d6d6;
}

.online-avatar-index {
  position: absolute;
  margin: -22px 0 0 36px;
  width: 10px;
  height: 10px;
}

.open-topics {
  cursor: pointer;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto 0 auto;
  color: #d6d6d6;
  text-decoration: none;
  border-radius: 10px;
  display: block;
  padding: 5px 0px;
  width: 240px;
  text-align: center;
  margin-left: 10px;
  background: gray;
  display: none;
  transition: background 0.5s ease 0s;
}

.frame-topics.active-menu {
  min-width: 400px;
  margin: 0 10px 0 10px;
  display: block;
}

.li-label-ad {
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 2px 0;
  transition: all 0.5s ease 0s;
}

.li-label-ad:hover {
  background: #3f3f3fb6;
  /* background: #2e2e2eb6; */
}

.tables-tags {
  font-size: 11.5px;
  font-weight: 700;
  top: -1px;
  position: relative;
  background: #505050;
  padding: 2px 8px;
  border-radius: 7px;
  margin-right: 7px;
}

.post-author-link {
  text-decoration: none;
}

.post-author-link:hover {
  text-decoration: underline #ffffff;
}

.user-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.maecenas-description {
  padding: 10px;
  color: #ececec;
  background: #303030;
  border-radius: 10px;
  margin-top: 10px;
  word-wrap: break-word;
}

.modal-w-topics .modal-w-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background: rgda(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

.modal-w-overlay {
  display: none;
  z-index: 100000;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(16 16 16 / 76%);
}

.modal-w-topics .modal-w-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #333333;
  width: 1020px;
  height: 700px;
  z-index: 2;
  border-radius: 10px;
  transition: .2s;
}

.modal-w-top {
  color: #ececec;
  font-weight: 700;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #ff506f;
}

.modal-w-topics .modal-w-close {
  position: absolute;
  right: 13px;
  top: 13px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

.modal-w-topics.mw-topic-active .modal-w-overlay {
  display: block;
}

.modal-w-topics.mw-topic-active .modal-w-content {
  transform: translate(-50%, -50%) scale(1);
}
