@media (max-width: 1220px) {
  /* HEADER */
  .header-con {
    width: calc(100% - 60px);
    display: flex;
    align-items: center;
    padding: 2px 10px;
  }

  /* INDEX */
  .frames-con {
    width: 931px;
    display: flex;
    margin: 0 auto;
  }
  .frame-right-first-index {
    width: 618px;
  }

  /* FAQ */
  .frame-rules {
    width: 981px;
  }
}

@media (max-width: 1020px) {
  /* HEADER */
  .menu-list-op {
    display: none;
  }
  .brandLogo-op {
    display: none;
  }
  .burger-btn {
    display: block;
  }

  /* INDEX */
  .frames-con {
    max-width: 1020px;
    display: block;
    margin: 0;
  }
  .frame-right-first-index {
    position: absolute;
    top: 160px;
    width: calc(100% - 40px);
  }
  .slide-bar-m {
    display: none;
  }
  .slide-bar-s {
    display: block;
    width: calc(100% - 40px);
  }

  /* FAQ */
  .frame-rules {
    width: 100vw;
  }
  .switch-info {
    min-width: 170px;
    max-width: 170px;
    height: 250px;
  }
  .switch-button {
    min-width: 140px;
    max-width: 140px;
  }
  .switch-info-h-fix {
    height: 280px;
  }
}

@media (max-width: 610px) {
  .avatar-username-op {
    display: none;
  }
  .switch-info {
    display: none;
  }
  .switch-info-op {
    display: block;
    margin: 0 0 15px 0;
    min-width: none;
    max-width: none;
    width: 100vw;
    padding: 0;
    height: 250px;
  }
  .switch-button {
    min-width: calc(100% - 30px);
  }
  .rules {
    padding: 10px;
  }
}

@media (max-width: 650px) {

}

@media (max-width: 450px) {

}