@media (max-width: 1220px) {
  /* HEADER */
  .header-con {
    max-width: calc(100% - 20px);
    display: flex;
    margin: 0;
    align-items: center;
  }
  .header {
    padding: 2px 10px;
  }

  /* INDEX */
  .frames-con {
    width: 931px;
    display: flex;
    margin: 0 auto;
  }
  .frame-right-first-index {
    width: 618px;
  }
}

@media (max-width: 1020px) {
  /* HEADER */
  .menu-list-op {
    display: none;
  }
  .brandLogo-op {
    display: none;
  }
  .burger-btn {
    display: block;
  }

  /* INDEX */
  .frames-con {
    max-width: 1020px;
    display: block;
    margin: 0;
  }
  .frame-right-first-index {
    position: absolute;
    top: 160px;
    width: 100vw;
  }
  .slide-bar-m {
    display: none;
  }
  .slide-bar-s {
    display: block;
  }
}

@media (max-width: 610px) {
  .avatar-username-op {
    display: none;
  }
}

@media (max-width: 650px) {

}

@media (max-width: 450px) {

}