.pagination {
  display: flex;
  list-style-type: none;
  color: #d6d6d6;
  padding: 0;
}

.pagination a {
  color: #d6d6d6;
  float: left;
  padding: 0 12px;
  text-decoration: none;
  transition: 0.5s ease 0s;
}

.pagination a.active {
  border-radius: 50px;
}

.pagination a:hover:not(.active) {
  background-color: #ff718b;
  border-radius: 50px;
}

.active {
  max-width: 30px;
  background: #ff506f;
  border-radius: 50px;
}

.page-item {
  padding-right: 3px;
}

.page-link {
  color: #d6d6d6;
  text-decoration: none;
}