.frame {
  max-width: 1081px;
  background: #242424b6;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
}

.title {
  color: #d6d6d6;
  font-size: 22px;
}

.field {
  width: 1020px;
  margin-bottom: 30px;
  font-size: 18px;
  background: #222222;
  border: 2px solid #4444448a;
  color: #d6d6d6;
  outline: none;
  border-radius: 10px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.width-fix {
  min-width: 1039px;
}

.field-height {
  height: 40px;
  padding: 0 10px;
}

textarea {
  padding: 10px 10px 10px 10px;
  max-width: 1015px;
  resize: none;
  border-radius: 15px;
  border: 0;
  height: 240px;
}

.field::-webkit-scrollbar {
  width: 7px;
}
 
.field::-webkit-scrollbar-track {
  padding: 10px;
  background-color: #3b3b3b;
  border-radius: 15px;
}
 
.field::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color:#9a9a9a;
}

.field:focus {
  border-color: #ff506f;
  outline: 0;
  box-shadow: 0 0 0 0.1px #ff506f;
}

.field-label {
  font-size: 20px;
  margin-bottom: 5px;
  margin: 0 15px 0 0;
  color: #d6d6d6;
  display: block;
}

.input-file {
  position: relative;
  display: inline-block;
}

.input-file-text {
  color: #d6d6d6;
  background: #222222;
  padding: 0 10px;
  line-height: 40px;
  text-align: left;
  height: 40px;
  display: block;
  float: left;
  box-sizing: border-box;
  width: 350px;
  border-radius: 10px 0px 0 10px;
  border: 2px solid #444444;
}

.input-file-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  vertical-align: middle;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  border-radius: 0 10px 10px 0;
  background-color: #ff506f;
  line-height: 22px;
  height: 40px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: none;
  margin-bottom: 30px;
  transition: background-color 0.2s;
}

.input-file input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.input-file input[type=file]:focus + .input-file-btn {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.input-file:hover .input-file-btn {
  background-color: #ff506f;
}

.input-file:active .input-file-btn {
  background-color: #ff6b86;
}

.input-file input[type=file]:disabled + .input-file-btn {
  background-color: #242424;
}

.button-level {
  display: block;
  min-width: 170px;
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #ff506f;
  background: #ff506f;
  color: #ffffff;
  cursor: pointer;
  transition: background 0.5s ease 0s;
}

.button-level:hover {
  background: #ff6b86;
}

.small-label-post-create {
  color: #d6d6d6;
  font-size: 18px;
  margin-bottom: 10px;
}

.field-label-help {
  color: #d6d6d6;
  font-size: 16px;
}

.checkbox.style-c {
  display: inline-block;
  position: relative;
  margin-right: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox.style-c input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox.style-c input:checked ~ .checkbox__checkmark {
  border-color: #ff506f;
  background-color: #ff506f;
}

.checkbox.style-c input:checked ~ .checkbox__checkmark:after {
  opacity: 1;
}

.checkbox.style-c:hover input ~ .checkbox__checkmark {
  background-color: #00000000;
}

.checkbox.style-c:hover input:checked ~ .checkbox__checkmark {
  border-color: #ff6b86;
  background-color: #ff6b86;
}

.checkbox.style-c .checkbox__checkmark {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 1px;
  left: 0;
  border: solid 2px #505050;
  border-radius: 2px;
  background-color: #00000000;
  transition: 0.25s ease;
}

.checkbox.style-c .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 3px;
  width: 3px;
  height: 7px;
  border: solid #333;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.25s ease;
}
