.frame-post_con {
  display: block;
}

.link-title {
  color: #d6d6d6;
  font-size: 20px;
  margin-bottom: 10px;
}

.link-title-main {
  color: #d6d6d6;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.5s ease 0s;
}

.link-title-main:hover {
  color: #ff6b86;
}

.frame-title {
  color: #d6d6d6;
  padding: 15px 20px;
  min-width: 1041px;
  word-wrap: break-word;
  background: #242424b6;
  border-radius: 10px;
  margin-top: 15px;
}

.text-up-title {
  color: #d6d6d6;
  font-size: 20px;
}

.text-up-all {
  color: #555555;
  font-size: 18px;
}

.text-up-nick {
  text-decoration: none;
  color: #ff506f;
  transition: color 0.5s ease 0s;
}

.text-up-nick2 {
  text-decoration: none;
  color: #ff506f;
  transition: color 0.5s ease 0s;
}

.text-up-nick2:hover {
  text-decoration:underline;
}

.text-up-nick:hover {
  color: #ff6b86;
  text-decoration:underline;
}

.heart {
  width: 16px;
  margin-bottom: 2px;
  vertical-align: middle;
}

.frame-main {
  max-width: 1300px;
  margin: 15px 0 20px 0;
  background: #242424b6;
  border-radius: 10px;
  padding: 20px 0;
}

.frame-main-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  margin-right: 20px;
  cursor: pointer;
}

.icons-post-detail {
  color: #505050;
  transition: all 0.5s ease 0s;
}

.fa-telegram {
  cursor: pointer;
  height: 3em;
}

.icons-post-detail:hover {
  color: #ff506f;
}

.frame-main-username {
  cursor: pointer;
  color: gray;
  font-size: 18px;
}

.frame-main-posts {
  display: flex;
  max-width: 1041px;
  padding: 0 20px;
}

.frame-main-post-text {
  max-width: 960px;
  color: #d6d6d6;
  font-size: 15px;
  word-wrap: break-word;
  margin-top: 10px;
}

.frame-main-post-heart {
  min-width: 960px;
  color: #d6d6d6;
  word-wrap: break-word;
  /* margin-top: 20px; */
}

.comment-text {
  color: #d6d6d6;
  margin-top: 20px;
  max-width: 1040px;
  word-wrap: break-word;
}

.comment-date {
  color: #757575;
  font-weight: bold;
  display: flex;
}

.hr-post-detail {
  margin: 20px 0 20px 0;
  border: none;
  background: #555555;
  height: 1px;
}

.field-detail {
  display: block;
  font-size: 16px;
  margin: 0 5px 0 20px;
  background: #222222;
  border: 2px solid #444444;
  color: #d6d6d6;
  outline: none;
  padding: 7px 10px 10px 10px;
  width: 920px;
  height: 18px;
  overflow: hidden;
  resize: none;
  border-radius: 10px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.field-detail:focus {
  border-color: #ff506f;
  outline: 0;
}

.button-edit-post {
  position: absolute;
  background: #ff506f;
  color: #d6d6d6;
  cursor: pointer;
  display: block;
  font-size: 14px;
  padding: 5px 0;
  border-radius: 7px;
  border: 0px;
  min-width: 180px;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease 0s;
}

.button-edit-post:hover {
  background: #ff6b86;
}

.icon-ellipsis {
  cursor: pointer;
  color: gray;
}

.online-avatar-post-detail {
  position: absolute;
  margin: -21px 0 0 47px;
}

.symp-img {
  cursor: pointer;
  width: 25px;
  height: 23px;
  float: left;
}

.symp-label {
  cursor: pointer;
  margin-left: 7px;
  color: #d6d6d6;
  font-weight: bold;
}

.active-activities {
  color: #d6d6d6;
}

.tables-tags-post {
  position: relative;
  padding: 3px 10px 0 10px;
  font-weight: bold;
  color: #d6d6d6;
  background: #505050;
  border-radius: 7px;
  text-align: center;
  text-align: center;
  margin-right: 5px;
}
