.main-profile {
    flex: 1;
    padding-top: 70px;
    margin-bottom: 20px;
}

.frame-edit {
    display: block;
    /* background: #1c1f20; */
    background: #1c1f20b6;
    padding: 20px 20px 20px 20px;
    max-width: 200px;
    border-radius: 10px;
    margin-right: 20px;
    max-height: 230px;
}

.frame-left-second {
    color: #ffffff;
    display: block;
    margin-top: 20px;
    width: 200px;
    padding: 20px;
    background: #1c1f20b6;
    border-radius: 10px;
}

.subs-a {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}

.subs-a:hover {
    text-decoration: underline;
}

.subs-left {
    margin-top: 10px;
}

.sub-users-div {
    max-height: 100px;
    border-radius: 10px;
    padding: 5px 0px;
    word-wrap: break-word;
}

.sub-avatar {
    width: 45px;
    border-radius: 45px;
}

.sub-users {
    color: gray;
    cursor: pointer;
    text-decoration: none;
}

.sub-users:hover {
    text-decoration: underline;
}

.sub-username {
    font-size: 13px;
    cursor: pointer;
}

.other-img {
    width: 25px;
    color: gray;
    display: flex;
    margin-left: 20px;
}

.button-edit {
    background: #ff506f;
    color: #ffffff;
    display: block;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 0;
    border-radius: 7px;
    border: 0px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    margin: 0 auto 0 auto;
    transition: background 0.5s ease 0s;
}

.profile-link {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}

.profile-link:hover {
    color: #ff506f;
}

.button-edit:hover {
    background: #ff6b86;
}

.profile-avatar {
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
}

.frame-left-third {
    color: #ffffff;
    display: block;
    margin-top: 20px;
    width: 200px;
    padding: 20px;
    background: #1c1f20b6;
    border-radius: 10px;
}

.frame-right-first {
    background: #1c1f20b6;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    width: 1000px;
    min-height: 0px;
}

.frame-right-second {
    margin-top: 20px;
    background: #1c1f20b6;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    width: 1000px;
    min-height: 0px;
    max-height: 190px;
}

.button-tools {
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    margin-right: 30px;
    background-image: linear-gradient(#ff506f, #ff506f);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    padding-bottom: 8px;
    transition: all 0.5s ease 0s;
}

.button-tools:hover {
    background-size: 100% 2px;
}

.active-tab {
    background-size: 100% 2px;
}

.frame-right-third {
    display: none;
    background: #1c1f20b6;
    margin: 20px 0 20px 0;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    font-size: 18px;
    width: 1000px;
}

.frame-right-third.active-tab {
    display: block;
}

.frame-right-third-posts {
    display: flex;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(59, 59, 59, 0.473);
}

.modal-content {
    color: #ffffff;
    background: #1c1f20b6;
    margin: 100px auto auto auto;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    height: 140px;
}

.text-modal {
    margin-bottom: 10px;
}

.close {
    color: #ffffff;
    position: absolute;
    margin-left: 410px;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: all 0.5s ease 0s;
}

.close:hover,
.close:focus {
    color: #ff506f;
    text-decoration: none;
    cursor: pointer;
}

.field-comment {
    display: block;
    font-size: 18px;
    margin: 0 5px 0 20px;
    background: #222222;
    border: 3px solid #444444;
    color: #ffffff;
    outline: none;
    padding: 7px 10px 10px 10px;
    width: 850px;
    height: 18px;
    max-width: 1130px;
    overflow: hidden;
    resize: none;
    border-radius: 10px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.field-comment:focus {
    border-color: #ff506f;
    outline: 0;
    box-shadow: 0 0 0 1px #ff506f;
}
