.frame-profile_edit_con {
  display: flex;
  color: #d6d6d6;
  width: 1300px;
}

.profile-edit {
  color: #d6d6d6;
  /* padding: 20px; */
  border-radius: 10px;
  width: 900px;
}

.switch-profile-edit {
  display: grid;
  align-content: center;
  margin-left: 20px;
  background: #242424b6;
  padding: 20px 0px;
  min-width: 200px;
  max-height: 100px;
  border-radius: 10px;
}

.switch-button-profile-edit {
  color: #d6d6d6;
  text-decoration: none;
  padding: 10px 20px;
  transition: background 0.5s ease 0s;
}

.switch-button-profile-edit:hover {
  background: #333333;
  cursor: pointer;
}

.switch-button-profile-edit.active-tab {
  box-shadow: inset 4px 0px 0px 0px #ff506f;
  background: #333333;
}

.profile-edit-div {
  margin-right: 20px;
  text-align: right;
  width: 160px;
}

.profile-edit-avatar {
  width: 90px;
  height: 90px;
  border-radius: 10px;
}

.field-load {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 200px;
  margin-left: 10px;
  border-radius: 10px;
  height: 56px;
}

.profile-edit-label {
  text-align: center;
  width: 194px;
  height: 30px;
  padding: 10px 0;
  margin: 0 0 6px 10px;
  color: #d6d6d6;
  border: 3px solid #ff506f;
  display: inline-block;
  border-radius: 10px;
}

.profile-edit-field {
  width: 620px;
  font-size: 16px;
  background: #222222;
  border: 2px solid #444444;
  color: #d6d6d6;
  outline: none;
  border-radius: 10px;
  transition: all 0.15s ease 0s;
}

.profile-edit-field:focus {
  border-color: #ff506f;
  outline: 0;
  box-shadow: 0 0 0 1px #ff506f;
}

.profile-edit-field-height {
  height: 30px;
  padding-left: 10px;
}

/* #id_birthday {
  background: #ff506f;
} */
/* 
select {
  border: 1px solid #ff506f;
  color: #d6d6d6;
  background: #ff506f;
}

select:hover {
  border: none;
}

option {
  color: #ff506f;
}

option:hover {
  border: none;
} */

.icon-rub-upgrade {
  height: 14px;
}

.sum-upgrade .icon-rub-upgrade {
  position:relative;
  top: -3px;
}

.button-save {
  background: #ff506f;
  color: #ffffff;
  display: block;
  cursor: pointer;
  font-size: 16px;
  border-radius: 7px;
  margin-top: 10px;
  border: 0px;
  width: 150px;
  padding: 5px 0;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease 0s;
}

.button-save:hover {
  background: #ff6b86;
}

.a-fix-width {
  width: 200px;
}

.birthday-input {
  color: #d6d6d6;
  background: #222222;
  border-radius: 10px;
  border: 2px solid #444444;
  outline: none;
  max-width: 90px;
  height: 30px;
  padding-left: 10px;
  font-size: 16px;
  transition: all 0.15s ease 0s;
}

.birthday-input:focus {
  border: 2px solid #ff506f;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}
