.frame-rules {
  display: flex;
  color: #d6d6d6;
  width: 1300px;
}

.rules {
  display: none;
  color: #d6d6d6;
  padding: 15px;
  border-radius: 10px;
  width: 831px;
  background: #242424b6;
}

.rules.active-tab {
  display: block;
}

.switch-info {
  display: grid;
  align-content: center;
  margin-left: 15px;
  background: #242424b6;
  padding: 20px 0px;
  min-width: 205px;
  max-height: 185px;
  border-radius: 10px;
}

.switch-button {
  padding: 10px 15px;
  min-width: 165px;
  transition: background 0.5s ease 0s;
}

.switch-button:hover {
  background: #333333;
  cursor: pointer;
}

.switch-button.active-tab {
  box-shadow: inset 4px 0px 0px 0px #ff506f;
  background: #333333;
}

.switch-button-fix {
  padding: 10px 20px;
  min-width: 165px;
  transition: background 0.5s ease 0s;
}

.switch-button-fix:hover {
  background: #333333;
  cursor: pointer;
}

.link-decor {
  color: #d6d6d6;
  text-decoration: underline;
  transition: color 0.5s ease 0s;
}

.link-decor:hover {
  color: #ff506f;
}

.link-decor-a {
  color: gray;
  text-decoration: underline;
  transition: color 0.5s ease 0s;
}

.link-decor-a:hover {
  color: #ff506f;
}

.link-h-words {
  color: #d6d6d6;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.5s ease 0s;
}

.link-h-words:hover {
  color: #ff506f;
}

.frame-words {
  margin-top: 20px;
  background: #242424b6;
  color: #d6d6d6;
  /* padding: 0 20px 20px 20px; */
  border-radius: 10px;
}

.tr-1 {
  display: flex;
  padding: 10px 20px 10px 20px;
}

.tr-2 {
  color: #d6d6d6;
  min-width: 180px;
  margin: auto 0;
}
