.frame-rules {
  display: flex;
  color: #d6d6d6;
  width: 1081px;
  margin: 0 auto;
}

.rules {
  display: none;
  color: #d6d6d6;
  padding: 15px;
  border-radius: 10px;
  width: 861px;
  background: #242424b6;
}

.rules.active-tab {
  display: block;
}

.switch-info {
  display: grid;
  align-content: center;
  margin-left: 15px;
  background: #242424b6;
  padding: 20px 0px;
  min-width: 205px;
  max-width: 205px;
  border-radius: 10px;
}

.switch-info-op {
  display: none;
}

.switch-info-h-fix {
  height: 270px;
}

.switch-button {
  padding: 10px 15px;
  min-width: 165px;
  transition: all .3s;
}

.switch-button:hover {
  background: #333333;
  cursor: pointer;
}

.switch-button.active-tab {
  box-shadow: inset 4px 0px 0px 0px #ff506f;
  background: #333333;
}

.switch-button-fix {
  padding: 10px 20px;
  min-width: 165px;
  transition: all .3s;
}

.switch-button-fix:hover {
  background: #333333;
  cursor: pointer;
}

.link-decor {
  color: #d6d6d6;
  text-decoration: underline;
  transition: all .3s;
}

.link-decor:hover {
  color: #ff506f;
}

.link-decor-a {
  color: gray;
  text-decoration: underline;
  transition: all .3s;
}

.link-decor-a:hover {
  color: #ff506f;
}

.link-h-words {
  color: #d6d6d6;
  text-decoration: none;
  font-size: 20px;
  transition: all .3s;
}

.link-h-words:hover {
  color: #ff506f;
}

.frame-words {
  margin-top: 20px;
  background: #242424b6;
  color: #d6d6d6;
  /* padding: 0 20px 20px 20px; */
  border-radius: 10px;
}

.tr-1 {
  display: flex;
  padding: 10px 20px 10px 20px;
}

.tr-2 {
  color: #d6d6d6;
  min-width: 180px;
  margin: auto 0;
}

.tr-21-max {
  min-width: 160px;
  margin: auto 30px auto 0;
}

.tr-22-max {
  margin: auto 50px auto 0;
}

.tr-23-max {
  max-width: 180px;
  margin: 0 0 0 auto;
}
