.ticket-label {
  color: #ffffff;
  font-size: 18px;
  margin-right: 10px;
  min-width: 300px;
  max-width: 300px;
  text-align: right;
}

.ticket-div {
  display: flex;
  margin-bottom: 25px;
}

.admin-frame-right {
  background: #242424b6;
  border-radius: 10px;
  font-size: 16px;
  width: 875px;
  margin: 0 0 15px 0;
  padding: 20px 0 0 20px;
  min-height: 50px;
}

.ticket-description {
  max-width: 830px;
  padding-left: 7px;
}