.ticket-label {
  color: #d6d6d6;
  font-size: 18px;
  margin-right: 10px;
  min-width: 300px;
  max-width: 300px;
  text-align: right;
}

.ticket-div {
  display: flex;
  margin-bottom: 25px;
}

.admin-frame-right {
  background: #242424b6;
  border-radius: 10px;
  font-size: 16px;
  width: 806px;
  margin: 0 0 15px 0;
  padding: 20px 0 20px 20px;
  min-height: 50px;
}

.ticket-description {
  max-width: 720px;
  min-height: 200px;
  padding-left: 7px;
}

.link-tap {
  cursor: pointer;
  color: #515151;
  text-decoration: none;
  transition: 0.5s ease 0s;
}

.link-tap:hover {
  color: #ff506f;
}
