{% load static %}
{% if widget.is_initial %}
    <div style="display: flex; flex-direction: row;">
        <div>
            <img class="profile-edit-avatar" src="{{ widget.value.url }}" width='200' height='200' alt="{{ widget.value }}">
        </div>
        <div>
            <input type="{{ widget.type }}" name="{{ widget.name }}" {% include "widgets/my_attrs.html" %}>
            <label for="{{ widget.type }}" class="profile-edit-label">Выберите файл</label>
        </div>
    </div>
{% else %}
    <input type="{{ widget.type }}" name="{{ widget.name }}" {% include "widgets/my_attrs.html" %}>
{% endif %}
