{% extends 'base.html' %}
{% load static %}
{% block title %}speedhack / маркет{% endblock %}
{% block content %}
  <div class="main">
    <div class="frames_con" style="display: flex;">
      <div style="display: block;">
        <div class="market-sell">
          <a href="{% url 'market:acc_sell' %}" class="market-sell-button">Продать аккаунт</a>
        </div>
        <div class="market-main-left">
          <a href="https://t.me/sp1edh4ck" class="market-link-left" target="_blank"><i class="fa-solid fa-circle-question fa-lg icon-market-left"></i>Нужна помощь</a>
          <a href="{% url 'market:rules' %}" class="market-link-left"><i class="fa-solid fa-book fa-lg icon-market-left"></i>Правила и гарантии</a>
          <a href="{% url 'forum:group_filter_posts' 111 %}" class="market-link-left"><i class="fa-solid fa-sheet-plastic fa-lg icon-market-left"></i>Советы и гайды</a>
          <a href="" class="market-link-left"><i class="fa-solid fa-gear fa-lg icon-market-left"></i>Настройки маркета</a>
          <a href="{% url 'forum:profile_upgrade' request.user %}" class="market-link-left"><i class="fa-solid fa-angles-up fa-lg icon-market-left"></i>Повышение статуса</a>
          <hr style="margin: 5px 0px; border: 1px solid #444444;">
          <a href="{% url 'forum:post_detail' 19 %}" class="market-link-left"><i class="fa-solid fa-newspaper fa-lg icon-market-left"></i>Изменения на сайте</a>
          <a href="{% url 'forum:group_filter_posts' 108 %}" class="market-link-left"><i class="fa-solid fa-flag fa-lg icon-market-left"></i>Сообщить о баге</a>
          <a href="{% url 'forum:group_filter_posts' 109 %}" class="market-link-left"><i class="fa-solid fa-circle-info fa-lg icon-market-left"></i>Предложить идею</a>
          <a href="" class="market-link-left"><i class="fa-solid fa-code fa-lg icon-market-left"></i>API для разработчика</a>
          <hr style="margin: 5px 0px; border: 1px solid #444444;">
          <a href="" class="market-link-left"><i class="fa-solid fa-money-bill-trend-up fa-lg icon-market-left"></i>Стоимость инвентаря steam</a>
        </div>
        <div class="market-main-left" style="margin-top: 20px; height: 465px;">
          <label class="market-link-left mll-fix">
            <div style="display: flex;">
              <div style="margin: 0 auto 0 0;">
                <i class="fa-solid fa-sack-dollar fa-lg icon-market-left"></i>Баланс
              </div>
              <div>
                <label style="color: #ff506f;">{{ user.balance }} <i class="fa-solid fa-ruble-sign fa-sm" style="padding-right: 3px;"></i></label>
              </div>
            </div>
          </label>
          <a href="" class="market-link-left"><i class="fa-solid fa-circle-plus fa-lg icon-market-left"></i>Пополнить баланс</a>
          <a href="" class="market-link-left"><i class="fa-solid fa-circle-minus fa-lg icon-market-left"></i>Вывести средства</a>
          <a href="" class="market-link-left"><i class="fa-solid fa-money-bill-transfer fa-lg icon-market-left"></i>Перевести средства</a>
          <hr style="margin: 5px 0px; border: 1px solid #444444;">
          <a href="{% url 'market:my_accs' %}" class="market-link-left"><i class="fa-solid fa-shop fa-lg icon-market-left"></i>Мои аккаунты</a>
          <a href="" class="market-link-left"><i class="fa-solid fa-bag-shopping fa-lg icon-market-left"></i>Мои покупки</a>
          <a href="" class="market-link-left"><i class="fa-solid fa-bars-staggered icon-market-left"></i>Мои операции</a>
          <a href="" class="market-link-left"><i class="fa-solid fa-bookmark fa-lg icon-market-left"></i>Избранное</a>
          <a href="" class="market-link-left"><i class="fa-solid fa-tag fa-lg icon-market-left"></i>Метки</a>
          <a href="" class="market-link-left"><i class="fa-solid fa-user-xmark fa-lg icon-market-left"></i>Игнор-лист продавцов</a>
          <a href="" class="market-link-left"><i class="fa-solid fa-comments-dollar fa-lg icon-market-left"></i>Мои денежные споры</a>
          <a href="" class="market-link-left"><i class="fa-solid fa-retweet fa-lg icon-market-left"></i>Автоплатежи</a>
        </div>
      </div>
      <div>
        <div style="margin: 0 0 20px 20px;">
          <label style="color: #ffffff; font-size: 20px;">Выберите категорию</label>
          <div style="margin-top: 20px;">
            <img src="{% static 'images/steam.png' %}" class="market-png-cat">
            <img src="{% static 'images/ea.png' %}" class="market-png-cat">
            <img src="{% static 'images/vk.png' %}" class="market-png-cat">
            <img src="{% static 'images/telegram.png' %}" class="market-png-cat">
          </div>
        </div>
        {% if count_accs != 0 %}
          <div class="acc-frame">
            <label style="margin: 20px 0 0 20px; color: #ffffff; font-size: 20px;">Последние аккаунты</label>
            {% for acc in accs %}
              {% if acc.author.rank != 'заблокирован' %}
                <div class="market-accs" style="margin-top: 10px;">
                  <a style="text-decoration: none;" href="{% url 'market:acc_detail' acc.id %}">
                    <div class="text-frame">
                      <div class="text-frame-div" style="margin: 0 auto 0 0;">
                        <label class="text-frame-title">{{ acc.title }}</label><br>
                        {% if acc.group.id == 1 %}
                          <img src="{% static 'images/steam.png' %}" class="market-png">
                        {% elif acc.group.id == 2 %}
                          <img src="{% static 'images/ea.png' %}" class="market-png">
                        {% elif acc.group.id == 3 %}
                          <img src="{% static 'images/vk.png' %}" class="market-png">
                        {% elif acc.group.id == 4 %}
                          <img src="{% static 'images/telegram.png' %}" class="market-png">
                        {% endif %}
                        <label class="text-frame-username {% if acc.author.username_style != 'gray-un' %}{{ acc.author.username_style }}{% endif %}" {% if acc.author.rank == 'заблокирован' %}style="text-decoration: line-through;"{% endif %}>{{ acc.author.username }}</label>
                        <span class="pink-separator"></span>
                        <label class="text-frame-text">
                          {{ acc.pub_date|date:"d E Y / H:i" }}
                        </label>
                      </div>
                      <div class="acc-price">
                        <label>{{ acc.price }}</label> <i class="fa-solid fa-ruble-sign fa-sm" style="padding-right: 3px;"></i>
                      </div>
                    </div>
                  </a>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% else %}
          <label>Пусто</label>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
