{% extends 'base.html' %}
{% block title %}speedhack / правила маркета{% endblock %}
{% load static %}
{% block content %}
  <div class="main">
    <div class="user-agreement_con">
      <div class="frame-market-rules">
        <div class="tabItem market-rules">
          <strong style="font-size:18px;">Правила и гарантии</strong><br>
          <hr style="margin: 15px 0px; border: 1px solid #444444;">
          <strong style="font-size:18px; color: #ff506f;">Правила</strong><br>
          <div style="margin-left: 20px;">
            <span style="list-style-type: none;"><span class="brandColor">1.</span> Заголовок товара не должен содержать постороннюю информацию, не относящуюся к продаваемому товару.</span><br>
            <span style="list-style-type: none;"><span class="brandColor">2.</span> В описании товара запрещено делать намеки/рекомендации/просьбы сменить временную почту от аккаунта. Запрещено писать заведомо ложное описание аккаунта (в т.ч. и в заголовке) ("не восстановят", "под основу", "0 шанс восстановления", "низкий шанс восстановления", "под мейн" и т.д.).</span><br>
            <span style="list-style-type: none;"><span class="brandColor">3.</span> Описание товара не должно содержать однотипного или повторяющегося текста, которое затрудняет увидеть нужную информацию об аккаунте.</span><br>
            <span style="list-style-type: none;"><span class="brandColor">4.</span> Запрещена продажа/обмен баланса маркета с целью получить деньги на электронном кошельке.</span><br>
            <span style="list-style-type: none;"><span class="brandColor">5.</span> Запрещено пользоваться, менять пароли, почты и другие данные от проданных аккаунтов на маркете.</span><br>
            <span style="list-style-type: none;"><span class="brandColor">6.</span> Продажа аккаунтов с интим фото/видео запрещена, а также с намеками, что на аккаунте есть "интересная информация, фото, переписки", запрещено упоминание внешности, семейного положения с целью намекнуть на наличие интимных фото/видео.</span><br>
            <span style="list-style-type: none;"><span class="brandColor">7.</span> Запрещена продажа аккаунтов с вбитыми/рефнутыми балансами, играми, гифтами, а так же на которые были переданы/подарены гифты, баланс с украденных аккаунтов (фишинг, стиллер и т.д.).</span><br>
            <span style="list-style-type: none;"><span class="brandColor">8.</span> Родная почта от аккаунта должна указываться только в поле "Родная почта". Если продавец указывает в заголовке или в описании наличие почты от аккаунта, то он должен вставить почту в поле "Родная почта".</span><br>
            <span style="list-style-type: none;"><span class="brandColor">9.</span> Запрещено продавать испорченные аккаунты (где недавно рассылался спам, играли с читами или другие действия, которые могут повлечь к блокировке аккаунта).</span><br>
            <span style="list-style-type: none;"><span class="brandColor">10.</span> Запрещено отправлять заявки на возврат средств, отменять последние транзакции на аккаунте Steam (производить рефанд).</span><br><br>
          </div>
          <strong style="font-size:18px; color: #ff506f;">Гарантии на аккаунты</strong><br>
          <div style="margin-left: 20px;">
            <span style="list-style-type: none;"><span class="brandColor">1.</span> Деньги могут быть возвращены в следующих случаях:</span><br>
            <span style="list-style-type: none;"><span class="brandColor">1.1.</span> Если на аккаунте не оказалось игр или инвентаря или других ценных характеристик, указанных при покупке.</span><br>
            <span style="list-style-type: none;"><span class="brandColor">1.2.</span> Если на аккаунте не совпадает информация, указанная при покупке, с действительной информацией (например, если указано, что блокировки нет, а она есть).</span><br>
            <span style="list-style-type: none;"><span class="brandColor">1.2.1.</span> Претензии написанные спустя более месяца с момента покупки не рассматриваются и закрываются в пользу продавца.</span><br>
            <span style="list-style-type: none;"><span class="brandColor">1.3.</span> Если количественный параметр отличается от заявленного более, чем на 10%. Например, баланс на аккаунте 850 рублей, а не 1000 рублей, как было заявлено.</span><br>
            <span style="list-style-type: none;"><span class="brandColor">2.</span> Если аккаунт не относится к категориям Steam, Battle.net, Fortnite, Epic Games, Supercell: гарантия, в случае восстановления аккаунта действует только на личные аккаунты. На аккаунты типа брут, фишинг, перепродажа не действует гарантия, если аккаунт вернули. Исключение: деньги могут быть возвращены только при наличии доказательств вины продавца, либо при наличии большого количества жалоб на продавца за короткое время.</span><br>
            <span style="list-style-type: none;"><span class="brandColor">2.1.</span> Если аккаунт относится к категориям Steam, Battle.net, Fortnite, Epic Games, Supercell: В случае восстановления аккаунта гарантия, указанная на странице товара под названием объявления, действует на все аккаунты. Если на аккаунте указано "Гарантия во время покупки", то мы не возвращаем деньги при восстановлении аккаунта после покупки.</span><br>
            <span style="list-style-type: none;"><span class="brandColor">2.1.1.</span> Если Fortnite, Epic Games аккаунт был куплен с гарантией "на момент покупки" без записи видео, претензия в случае неработоспособности аккаунта должна быть написана в течение двух часов после покупки. Если была произведена запись видео, претензия должна быть написана в течение 24 часов с момента покупки аккаунта. </span><br>
            <span style="list-style-type: none;"><span class="brandColor">2.1.2.</span> Если на аккаунте была длительная гарантия (12 часов и более), претензия к продавцу насчёт купленного аккаунта должна быть написана не позднее, чем через 30 дней. Если претензия написана позднее, то она будет автоматически закрыта в пользу продавца.</span><br>
            <span style="list-style-type: none;"><span class="brandColor">2.1.3.</span> Если наша система требовала запись видео при покупке аккаунта, то претензия в случае неработоспособности аккаунта должна быть написана в течение 24 часов с момента покупки, прикрепив видео в претензию.</span><br>
            <span style="list-style-type: none;"><span class="brandColor">2.2.</span> Если покупатель изменил почту на аккаунте, то гарантия в таком случае не действует на аккаунт.</span><br>
            <span style="list-style-type: none;"><span class="brandColor">2.3.</span> Гарантия на Steam, Battle.net, Fortnite, Epic Games, Supercell аккаунт перестает действовать, если баланс на игровом аккаунте был потрачен полностью или частично, были потрачены очки, или если были проданы/переданы вещи из инвентаря (в т.ч и внутриигрового).</span><br>
            <span style="list-style-type: none;"><span class="brandColor">2.4.</span> Гарантия на Steam, Battle.net, Fortnite, Epic Games, Supercell аккаунт перестает действовать, если покупатель получил игровую блокировку в какой-либо игре.</span><br>
            <span style="list-style-type: none;"><span class="brandColor">3.</span> Деньги за аккаунт возвращаются, если соблюдены все вышеперечисленные пункты правил и жалоба написана в момент действия гарантии. Если жалоба написана после истечения срока гарантии и покупатель имеет доказательства, что аккаунт был восстановлен в течение срока гарантии (письмо о КТ на почте, информация от бота на конец действия гарантии и иные бесспорные факты), то деньги будут возвращены.</span><br>
            <span style="list-style-type: none;"><span class="brandColor">4.</span> Если наша система отобразила недостоверную информацию о любой характеристике аккаунта (например, отобразила наличие игры, а ее на аккаунте нет), то денежные средства будут возвращены покупателю при написании жалобы в Арбитраж.</span><br>
            <span style="list-style-type: none;"><span class="brandColor">5.</span> Длительность гарантии автоматически продлевается на время, в течение которого сайт был недоступен.</span><br><br>
          </div>
          <strong style="font-size:18px; color: #ff506f;">Ограничения</strong><br>
          <div style="margin-left: 20px;">
            <span style="list-style-type: none;"><span class="brandColor">1.</span> После продажи деньги попадают в "Холд" (то время, когда вы ими не можете пользоваться). Через определенное время деньги попадают из Холда на баланс вашего аккаунта.</span><br>
            <span style="list-style-type: none;"><span class="brandColor">1.1.</span> Если на аккаунт действует гарантия, то время "Холда" такое же, как и длительность гарантии (например 24 часа).</span><br>
            <span style="list-style-type: none;"><span class="brandColor">1.2.</span> 
              Если на аккаунт не действует гарантия, то время "Холда" зависит от количества продаж:<br>
              0-3 продаж - 72 часа<br>
              4-10 продаж - 24 часа<br>
              11-30 продаж - 12 часов<br>
              31-999 продаж - 3 часа<br>
              1000 и более продаж - без Холда
            </span><br>
            <span style="list-style-type: none;"><span class="brandColor">1.3.</span> Если покупатель отменяет гарантию, то деньги из Холда сразу попадают на основной баланс продавца. Если у продавца меньше 30 продаж, то Холд отменен не будет до тех пор, пока не выйдет время гарантии.
          </span><br><br>
          </div>
          <strong style="font-size:18px; color: #ff506f;">Информация о способе получения товара покупателями</strong><br>
          <div style="margin-left: 20px;">
            После нажатия на кнопку "Купить", система снимает с баланса покупателя сумму, равную стоимости покупаемого товара. Наша система перенаправляет на страницу, где покупатель получает данные для доступа в аккаунт, который он купил. Наша система сохраняет все покупки пользователей, каждый пользователь может зайти в историю своих покупок (Слева в меню "Мои покупки" и посмотреть свои покупки и получить данные от них).
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
