{% extends "base.html" %}
{% block title %}speedhack / вход{% endblock %}
{% load static %}
{% load user_filters %}
{% block content %}
  <div class="main">
    <div class="frame-login">
      <p style="text-align: center;"><img class="logo" src="{% static 'images/speedhack_logo.png' %}" alt="img"></p>
      <div class="preview">
        <span class="login-text">Вход на сайт</span>
      </div>
      {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
            <div style="color: #ff506f; margin: 5px 0 0 0; font-size: 14px;">
              {{ error|escape }}
            </div>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <div style="color: #ff506f; margin: 5px 0 0 0; font-size: 14px;">
            {{ error|escape }}
          </div>
        {% endfor %}
      {% endif %}
      <form method="post" {% if action_url %}action="{% url action_url %}" {% endif %}>
        {% csrf_token %}
        {% for field in form %}
          <div class="form input-box" {% if field.field.required %} aria-required="true"{% else %}aria-required="false"{% endif %}>
            {{ field|addclass:"input-ret" }}
            {% if field.label == "Имя пользователя" %}
              <label for="Имя пользователя">Логин</label>
              <i class="fa-solid fa-user fa-lg icon-login"></i>
            {% elif field.label == "Password" %}
              <label>Пароль</label>
              <i class="fa-solid fa-lock fa-lg icon-login"></i>
            {% endif %}
          </div>
        {% endfor %}
        <div class="remember-me" style="justify-content: space-between;">
          <label><input type="checkbox" style="margin-right: 5px;">Запомнить меня</label>
          <a href="" class="login-link-a">Забыли пароль?</a>
        </div>
        <button type="submit" class="button-form">Войти</button>
        <div class="login-link">
          <label>Нет аккаунта? <a href="{% url 'users:signup' %}" class="login-link-a">Зарегистрироваться</a></label>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
