{% extends "base.html" %}
{% block title %}speedhack / вход{% endblock %}
{% load static %}
{% load user_filters %}
{% block content %}
  <div class="main">
    <div class="frame-login">
      <p style="text-align: center;"><img class="logo" src="{% static 'images/speedhack_logo.png' %}" alt="img"></p>
      <div class="preview">
        <span class="login-text">Вход на сайт</span>
      </div>
      <form method="post" {% if action_url %}action="{% url action_url %}" {% endif %} id="login_form">
        {% csrf_token %}
        {% comment %} {% for field in form %}
          <div class="form input-box" {% if field.field.required %} aria-required="true"{% else %}aria-required="false"{% endif %}>
            {{ field|addclass:"input-ret" }}
            {% if field.label == "Username" %}
              <label for="Имя пользователя">Логин</label>
              <i class="fa-solid fa-user fa-lg icon-login"></i>
            {% elif field.label == "Password" %}
              <label>Пароль</label>
              <i class="fa-solid fa-lock fa-lg icon-login"></i>
            {% endif %}
          </div>
        {% endfor %} {% endcomment %}
        <div class="form input-box" {% if field.field.required %} aria-required="true"{% else %}aria-required="false"{% endif %}>
          <input class="input-ret" type="text" name="username" id="id_username" autocomplete="off" style="margin-right: 5px;" placeholder="Логин...">
          <i class="fa-solid fa-user fa-lg icon-login"></i>
        </div>
        {% comment %} <div class="error"></div> {% endcomment %}
        <div class="form input-box" {% if field.field.required %} aria-required="true"{% else %}aria-required="false"{% endif %}>
          <input class="input-ret" type="password" name="password" id="id_password" autocomplete="off" style="margin-right: 5px;" placeholder="Пароль...">
          <i class="fa-solid fa-lock fa-lg icon-login"></i>
        </div>
        {% comment %} <div class="error"></div> {% endcomment %}
        <div class="remember-me" style="justify-content: space-between;">
          <label>
            <label class="checkbox style-c" style="margin-top: -5px;">
              <input type="checkbox" style="position: static; top: 5px;">
              <div class="checkbox__checkmark"></div>
            </label>
            Запомнить меня
          </label>
          <a href="{% url 'users:password_change' %}" class="login-link-a">Забыли пароль?</a>
        </div>
        <button type="submit" id="submit_login_btn" class="button-form">Войти</button>
        <div class="login-link">
          <label>Нет аккаунта? <a href="{% url 'users:signup' %}" class="login-link-a">Зарегистрироваться</a></label>
        </div>
      </form>
    </div>
  </div>
  <script type="text/javascript" src="{% static 'js/header.js' %}"></script>
{% endblock %}
