{% extends 'base.html' %}
{% block title %}speedhack / бан-панель{% endblock %}
{% load static %}
{% load user_filters %}
{% block content %}
  <div class="main">
    <div class="frame_con">
      <div style="display: block;">
        <div class="switch-info-admin" style="max-height: 175px;">
          <a href="{% url 'forum:admin_panel' %}" class="switch-button" style="text-decoration: none; color: #d6d6d6;">Основная админ-панель</a>
          <a href="{% url 'forum:users_bans' %}" class="switch-button active-tab" style="text-decoration: none; color: #d6d6d6;">Панель блокировки</a>
          <a href="{% url 'forum:tickets' %}" class="switch-button" style="text-decoration: none; color: #d6d6d6;">Обращения</a>
          <a href="{% url 'forum:ads' %}" class="switch-button" style="text-decoration: none; color: #d6d6d6;">Реклама</a>
        </div>
        <div class="frame-left-first-users">
          <span style="color: gray; font-size: 18px;">Найти пользователя</span>
          <div style="display: flex;">
            <div>
              <form action="{% url 'forum:admin_panel' %}">
                <input class="input-search-users" type="search" name="search" placeholder="Имя..." aria-label="Search" autocomplete="off">
              </form>
            </div>
            <div>
              <a href="{% url 'forum:admin_panel' %}"><i class="fa fa-times-circle fa-lg icons-users"></i></a>
            </div>
          </div>
        </div>
        <div class="frame-left-second-users">
          <span style="color: gray; font-size: 18px;">Статистика форума</span>
          <div style="display: block;">
            <div style="margin-top: 15px; color: gray;">
              <label>Пользователей:</label>
              <label style="color: #d6d6d6;">{{ users_list.count|bf_number }}</label>
            </div>
            <div style="margin-top: 3px; color: gray;">
              <label>Пользователей в бане:</label>
              <label style="color: #d6d6d6;">{{ users_ban_list.count|bf_number }}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}