{% extends 'base.html' %}
{% block title %}speedhack / админка{% endblock %}
{% load static %}
{% block content %}
  <div class="main">
    <div class="frame_con">
      <div style="display: block;">
        <div class="switch-info-admin" style="max-height: 130px;">
          <a href="{% url 'forum:admin_panel' %}" class="switch-button active-tab" style="text-decoration: none; color: #d6d6d6;">Основная админ-панель</a>
          <a href="{% url 'forum:tickets' %}" class="switch-button" style="text-decoration: none; color: #d6d6d6;">Обращения</a>
          <a href="{% url 'forum:ads' %}" class="switch-button" style="text-decoration: none; color: #d6d6d6;">Реклама</a>
        </div>
        <div class="frame-left-first-users">
          <span style="color: gray; font-size: 18px;">Найти пользователя</span>
          <div style="display: flex;">
            <div>
              <form action="{% url 'forum:admin_panel' %}">
                <input class="input-search-users" type="search" name="search" placeholder="Имя..." aria-label="Search">
              </form>
            </div>
            <div>
              <a href="{% url 'forum:admin_panel' %}"><i class="fa fa-times-circle fa-lg icons-users"></i></a>
            </div>
          </div>
        </div>
        <div class="frame-left-second-users">
          <span style="color: gray; font-size: 18px;">Статистика форума</span>
          <div style="display: block;">
            <div style="margin-top: 15px; color: gray;">
              <label>Пользователей:</label>
              <label style="color: #d6d6d6;">{{ count_users }}</label>
            </div>
            <div style="margin-top: 3px; color: gray;">
              <label>Пользователей в бане:</label>
              <label style="color: #d6d6d6;">{{ count_users_ban }}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="frame-users" style="display: block; {% if count_search == 0 %}max-height: 30px;{% elif count_search == 1 %}max-height: 40px;{% elif count_search == 2 %}max-height: 100px;{% elif count_search == 3 %}max-height: 160px;{% elif count_search == 4 %}max-height: 220px;{% elif count_search == 5 %}max-height: 280px;{% elif count_search == 6 %}max-height: 340px;{% endif %}">
        {% if count_search != 0 %}
          {% for user in users %}
            <div style="display: flex; padding: 0 20px 0 20px;">
              <div style="margin: 0 10px 0px 0; height: 40px;">
                <img style="width: 40px; border-radius: 10px;" src="{{ user.avatar.url }}">
              </div>
              <div style="margin: 0 auto 0 0;">
                <a href="{% url 'forum:profile' user.username %}" class="admin-link">
                  <label class="users-username" {% if user.rank == 'заблокирован' %}style="color: #515151; text-decoration: line-through;"{% endif %}>{{ user.username }}</label>
                </a>
              </div>
              <div class="admin-btn">
                {% if user.rank != "заблокирован" and user.username != request.user.username and request.user.rank_lvl > user.rank_lvl %}
                  <label class="role-banner {% if user.rank == "дизайнер" %}designer-role{% elif user.rank == "главный дизайнер" %}main-designer-role{% elif user.rank == "куратор" %}curator-role{% elif user.rank == "арбитр" %}referee-role{% elif user.rank == "главный арбитр" %}main-referee-role{% elif user.rank == "бот" %}admin-role{% elif user.rank == "администратор" %}admin-role{% elif user.rank == "разработчик" %}developer-role{% elif user.rank == "гл. администратор" %}main-admin-role{% elif user.rank == "владелец" %}milk-pink-role{% endif %}" style="font-size: 15px; max-width: 150px; height: 30px; padding: 7px 0 3px 0; margin: 0 5px 0 0; border-radius: 10px; font-weight: bold;">{{ user.rank }}</label>
                  <a href="{% url 'forum:admin_ban' user.username %}" class="admin-button" style="max-height: 40px; margin-right: 3px;">Заблокировать</a>
                  <a href="{% url 'forum:user_edit' user.username %}" style="max-height: 40px;"><i class="fa-solid fa-square-pen admin-edit-user"></i></a>
                {% elif user.rank == "заблокирован" and user.username != request.user.username and request.user.rank_lvl > user.rank_lvl %}
                  <label class="role-banner {% if user.rank == "дизайнер" %}designer-role{% elif user.rank == "главный дизайнер" %}main-designer-role{% elif user.rank == "куратор" %}curator-role{% elif user.rank == "арбитр" %}referee-role{% elif user.rank == "главный арбитр" %}main-referee-role{% elif user.rank == "бот" %}admin-role{% elif user.rank == "администратор" %}admin-role{% elif user.rank == "разработчик" %}developer-role{% elif user.rank == "гл. администратор" %}main-admin-role{% elif user.rank == "владелец" %}milk-pink-role{% endif %}" style="font-size: 15px; max-width: 150px; height: 30px; padding: 7px 0 3px 0; margin: 0 5px 0 0; border-radius: 10px; font-weight: bold;">{{ user.save_rank }}</label>
                  <a href="{% url 'forum:admin_ban' user.username %}" class="admin-button" style="max-height: 40px; margin-right: 3px;">Разблокировать</a>
                  <a href="{% url 'forum:user_edit' user.username %}" style="max-height: 40px;"><i class="fa-solid fa-square-pen admin-edit-user"></i></a>
                {% elif user.rank != "пользователь" %}
                  <label class="{% if user.rank != "заблокирован" %}role-banner {% if user.rank == "дизайнер" %}designer-role{% elif user.rank == "главный дизайнер" %}main-designer-role{% elif user.rank == "куратор" %}curator-role{% elif user.rank == "арбитр" %}referee-role{% elif user.rank == "главный арбитр" %}main-referee-role{% elif user.rank == "бот" %}admin-role{% elif user.rank == "администратор" %}admin-role{% elif user.rank == "разработчик" %}developer-role{% elif user.rank == "гл. администратор" %}main-admin-role{% elif user.rank == "владелец" %}milk-pink-role{% endif %}{% endif %}" style="font-size: 15px; max-width: 150px; height: 30px; padding: 7px 0 3px 0; margin: 0px; border-radius: 10px; font-weight: bold;">{{ user.rank }}</label>
                {% endif %}
              </div>
            </div>
            {% if not forloop.last %}<hr class="admin-hr">{% endif %} 
          {% endfor %}
        {% else %}
          <div style="margin: 0 0 0 20px;">
            <label style="color: #d6d6d6; font-size: 18px;">Нет пользователя с данным именем</label>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}