{% extends 'base.html' %}
{% block title %}speedhack / админка{% endblock %}
{% load static %}
{% block content %}
{% load user_filters %}
  <div class="main">
    <div class="frame_con">
      <div style="display: block;">
        <div class="switch-info-admin" style="min-width: 290px; max-height: 130px;">
          <a href="{% url 'forum:admin_panel' %}" class="switch-button" style="text-decoration: none; color: #d6d6d6;">Основная админ-панель</a>
          <a href="{% url 'forum:tickets' %}" class="switch-button" style="text-decoration: none; color: #d6d6d6;">Обращения</a>
          <a href="{% url 'forum:ads' %}" class="switch-button active-tab" style="text-decoration: none; color: #d6d6d6;">Реклама</a>
        </div>
      </div>
      <div style="display: block;">
        <div class="admin-frame-right" style="margin: 0 0 15px 0; padding: 20px 0 0 20px; max-height: 40px;">
          <a data-tab="#ads_create" class="button-tools active-tab">Создать рекламный пост</a>
          <a data-tab="#ads_all" class="button-tools">Рекламные посты</a>
        </div>
        <div class="tabItem frame-users active-tab" id="ads_create" style="max-width: 895px;{% if tickets_open_count == 0 %}max-height: 65px;{% elif tickets_open_count == 1 %}max-height: 80px;{% elif tickets_open_count == 2 %}max-height: 185px;{% elif tickets_open_count == 3 %}max-height: 290px;{% endif %}">
          <form method="post" action="{{ request.path }}">
            {% csrf_token %}
            <div class="ticket-div" style="max-height: 55px; margin-bottom: 0;">
              <label class="ads-label">Заголовок:</label>
              <div>
                <input type="text" name="title" id="id_title" class="field field-height" style="max-width: 650px; max-height: 36px; padding: 0 7px 0 7px;" placeholder="Заголовок..." maxlength="70">
              </div>
            </div>
            <div class="ticket-div" style="max-height: 55px; margin-bottom: 0;">
              <label class="ads-label">ID поста:</label>
              <div>
                <input type="integer" name="post_id" id="id_post_id" class="field field-height" style="max-width: 100px; max-height: 36px; padding: 0 7px 0 7px;" placeholder="ID..." maxlength="70">
              </div>
            </div>
            <div class="ticket-div" style="min-height: 80px; margin-bottom: 0;">
              <label class="ads-label">Длительность в неделях:</label>
              <div>
                <input type="number" name="weeks" id="id_weeks" class="field field-height" style="max-width: 250px; max-height: 36px; padding: 0 7px 0 7px;" placeholder="Длительность..." maxlength="5">
              </div>
            </div>
            <button type="submit" class="button-level" style="margin-left: 210px; margin-top: 0;">Создать обращение</button>
          </form>
        </div>
        <div class="tabItem frame-users" id="ads_all" style="max-width: 895px;{% if tickets_open_count == 0 %}max-height: 65px;{% elif tickets_open_count == 1 %}max-height: 80px;{% elif tickets_open_count == 2 %}max-height: 185px;{% elif tickets_open_count == 3 %}max-height: 290px;{% endif %}">
          {% if ads_count != 0 %}
            {% for ad in ads %}
              <a href="">
                <div style="display: block;">
                  <div style="display: flex; padding: 0 20px 0 20px; margin-bottom: 10px;">
                    <div style="margin: 0 10px 0px 0; height: 40px;">
                      <img style="width: 40px; border-radius: 10px;" src="{{ ad.author.avatar.url }}">
                    </div>
                    <div style="margin: 0 auto 0 0;">
                      {% comment %} <a href="{% url 'forum:profile' ad.author %}" class="admin-link">
                        <label class="users-username" {% if ad.author.rank == 'заблокирован' %}style="color: #515151; text-decoration: line-through;"{% endif %}>{{ ad.author }}</label>
                      </a> {% endcomment %}
                    </div>
                    <div class="admin-btn">
                      <a class="admin-button" href="">Открыть</a>
                    </div>
                  </div>
                  <div class="admin-btn" style="display: flex; padding: 0 20px 0 20px;">
                    <label class="role-banner" style="width: 80px; height: 25px; padding: 3px 15px 3px 15px; margin: 0px; border-radius: 10px; background: {% if ticket.open == True %}green{% else %}#393939{% endif %}">{% if ticket.open == True %}Открыт{% else %}Закрыт{% endif %}</label>
                    <label class="role-banner" style="width: 80px; height: 25px; padding: 3px 15px 3px 15px; margin: 0px; border-radius: 10px; margin-left: 10px; background: {% if ticket.priority == "Низкий" %}green{% elif ticket.priority == "Средний" %}#c6d400{% elif ticket.priority == "Высокий" %}red;{% endif %}">{{ ticket.priority }}</label>
                    <label class="role-banner" style="width: 30px; height: 25px; padding: 3px 15px 3px 15px; margin: 0px; border-radius: 10px; margin-left: 10px; background: {% if ticket.request == "Да" %}green{% elif ticket.request == "Нет" %}red;{% endif %}">{{ ticket.request }}</label>
                    <label class="role-banner" style="width: 300px; height: 25px; padding: 3px 15px 3px 15px; margin: 0px; border-radius: 10px; margin-left: 10px; background: #393939;">{{ ticket.category }}</label>
                    <label class="role-banner" style="width: auto; height: 25px; padding: 3px 15px 3px 15px; margin: 0px; border-radius: 10px; margin-left: 10px; background: #393939;">{{ ticket.created }}</label>
                  </div>
                </div>
              </a>
              {% if not forloop.last %}<hr class="admin-hr">{% endif %}
            {% endfor %}
          {% else %}
            <div style="margin: 0px 0 0 20px;" id="ads_all">
              <label style="color: #d6d6d6; font-size: 18px;">Нет открытых тикетов</label>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
{% endblock %}