{% extends 'base.html' %}
{% block title %}speedhack / админка{% endblock %}
{% load static %}
{% block content %}
{% load user_filters %}
  <div class="main">
    <div class="frame_con">
      <div style="display: block;">
        <div class="switch-info-admin" style="min-width: 260px; max-height: 175px;">
          <a href="{% url 'forum:admin_panel' %}" class="switch-button" style="text-decoration: none; color: #d6d6d6;">Основная админ-панель</a>
          <a href="{% url 'forum:users_bans' %}" class="switch-button" style="text-decoration: none; color: #d6d6d6;">Панель блокировки</a>
          <a href="{% url 'forum:tickets' %}" class="switch-button" style="text-decoration: none; color: #d6d6d6;">Обращения</a>
          <a href="{% url 'forum:ads' %}" class="switch-button active-tab" style="text-decoration: none; color: #d6d6d6;">Реклама</a>
        </div>
      </div>
      <div style="display: block;">
        <div class="admin-frame-right" style="margin: 0 0 15px 0; padding: 20px 0 0 20px; max-height: 40px; max-width: 785px;">
          <a data-tab="#ads_create" class="button-tools active-tab">Создать рекламный пост</a>
          <a data-tab="#ads_all" class="button-tools">Рекламные посты</a>
        </div>
        <div class="tabItem frame-users active-tab" id="ads_create" style="max-width: 806px;{% if tickets_open_count == 0 %}max-height: 65px;{% elif tickets_open_count == 1 %}max-height: 80px;{% elif tickets_open_count == 2 %}max-height: 185px;{% elif tickets_open_count == 3 %}max-height: 290px;{% endif %}">
          <form method="post" action="{{ request.path }}">
            {% csrf_token %}
            <div class="ticket-div" style="max-height: 55px; margin-bottom: 0;">
              <label class="ads-label">Заголовок:</label>
              <div>
                <input type="text" name="title" id="id_title" class="field field-height" style="max-width: 530px; max-height: 36px; padding: 0 7px;" placeholder="Заголовок..." maxlength="70">
              </div>
            </div>
            <div class="ticket-div" style="max-height: 55px; margin-bottom: 0;">
              <label class="ads-label">ID поста:</label>
              <div>
                <input type="integer" name="post_id" id="id_post_id" class="field field-height" style="max-width: 100px; max-height: 36px; padding: 0 7px;" placeholder="ID..." maxlength="70">
              </div>
            </div>
            <div class="ticket-div" style="min-height: 80px; margin-bottom: 0;">
              <label class="ads-label">Длительность в неделях:</label>
              <div>
                <input type="number" name="weeks" id="id_weeks" class="field field-height" style="max-width: 250px; max-height: 36px; padding: 0 7px;" placeholder="Длительность..." maxlength="5">
              </div>
            </div>
            <div class="ticket-div" style="min-height: 20px; margin-bottom: 0;">
              <label class="ads-label">Автор:</label>
              <div>
                <input type="text" name="author" id="id_author" class="field field-height" style="max-width: 150px; max-height: 36px; padding: 0 7px; margin-bottom: 5px;" placeholder="Имя пользователя..." maxlength="15" value="{{ request.user.username }}">
                <div style="color: gray; margin-bottom: 15px;">
                  <label style="color: #444444; font-weight: bold;">Ваш username</label>
                </div>
              </div>
            </div>
            <button type="submit" class="button-level" style="margin-left: 210px; margin-top: 0;">Создать запись</button>
          </form>
        </div>
        <div class="tabItem frame-users" id="ads_all" style="max-width: 806px;{% if tickets_open_count == 0 %}max-height: 65px;{% elif tickets_open_count == 1 %}max-height: 80px;{% elif tickets_open_count == 2 %}max-height: 185px;{% elif tickets_open_count == 3 %}max-height: 290px;{% endif %}">
          {% if ads.count != 0 %}
            {% for ad in ads %}
              <a href="">
                <div style="display: block;">
                  <div style="display: flex; padding: 0 20px 0 20px; margin-bottom: 10px;">
                    <div class="admin-btn">
                      <a class="ads-link-title" href="{% url 'forum:post_detail' ad.post_id %}">{{ ad.title }}</a>
                    </div>
                  </div>
                  <div class="admin-btn" style="display: flex; padding: 0 20px 0 20px;">
                    <label class="role-banner" style="width: 180px; height: 25px; padding: 3px 10px; margin: 0px; border-radius: 10px;">Оплаченных недель: {{ ad.weeks }}</label>
                    <label class="role-banner" style="width: 250px; height: 25px; padding: 3px 10px; margin: 0px; border-radius: 10px; margin-left: 5px;">Автор рекламы: {{ ad.author }}</label>
                    <label class="role-banner" style="width: auto; height: 25px; padding: 3px 10px; margin: 0px; border-radius: 10px; margin-left: 5px; background: #393939;">{{ ad.created }}</label>
                  </div>
                </div>
              </a>
              {% if not forloop.last %}<hr class="admin-hr">{% endif %}
            {% endfor %}
          {% else %}
            <div style="margin: 0px 0 0 20px; text-align: center;" id="ads_all">
              <label style="color: #515151; font-size: 18px; font-weight: bold;">Нет рекламных постов</label>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
{% endblock %}