{% extends 'base.html' %}
{% block title %}speedhack / faq{% endblock %}
{% load static %}
{% block content %}
	<div class="main">
		<div class="faq_con" style="margin-top: 20px;">
			<div class="button-group">
				<button class="button-list button-list__active" style="border-top-left-radius: 5px; border-top-right-radius: 5px;" type="button">Технические вопросы</button>
				<button class="button-list" style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;" type="button">Ранги и рейтинг</button>
			</div>
			<div class="faq-tech-ques__none faq-tech-ques__none__show">
				1. Не работают кнопки на сайте (вход, регистрация, купить, продать и т.д.)<br>
				<ul>
					<li style="list-style-type: none;"><span class="faq-tech-answer">Ответ: попробуйте отключить блокировщик рекламы, или включить использование JavaScript'ов в браузере, или попробуйте зайти с другого браузера, или отключите антивирус (он может блокировать работу сайта по неизвестным причинам), в ином случае обратитесь к <a class="faq-link" href="https://t.me/ababomSUIIIIIIIIIIIIIIIIII" target="_blank">Гл. Администратору</a> или <a class="faq-link" href="https://t.me/sp1edh4ck" target="_blank">Создателю</a>.</span><br><br></li>
				</ul>
				2. Поломался сайт (не открывается, медленно работает, появляется ошибка 404 или 500, сайт speedhack.ru выполнил переадресацию слишком много раз)<br>
				<ul>
					<li style="list-style-type: none;"><span class="faq-tech-answer">Ответ: попробуйте подождать (сайт может быть перегружен, сервер может быть отключен, могут вестись тех. работы на сайте), или очистите cookies и кэш браузера, или проверьте подключение в сети, или попробуйте отключить все программы на пк.</span><br><br></li>
				</ul>
				3. Некорректное отображение сайта (вместо картинок символы, сбился шрифт, поломалась структура сайта, загрузилась не вся страница).<br>
				<ul>
					<li style="list-style-type: none;"><span class="faq-tech-answer">Ответ: перезапустите вкладку с сайтом, или перезагрузите браузер, или перезагрузите пк, или, если проблема не исчезла, сделайте скриншот и отправьте его <a class="faq-link" href="https://t.me/ababomSUIIIIIIIIIIIIIIIIII" target="_blank">Гл. Администратору</a> или <a class="faq-link" href="https://t.me/sp1edh4ck" target="_blank">Создателю</a>.</span><br><br></li>
				</ul>
			</div>
			<div class="faq-tech-ques__none" hidden>
				1. Ранги
				<ul>
					<li style="list-style-type: none;">
						Система рангов построенна следующим образом.<br><br>
						<font style="color: #cacaca;">Управление сайтом (staff):</font> <font style="color: gray">создатель</font>, <font style="color: gray">гл. администратор</font>, <font style="color: gray">администратор</font>, <font style="color: gray">арбитр</font>.<br>
						<font style="color: #cacaca;">Ранги на маркете (sellers):</font> <font style="color: gray">бизнесмен</font>, <font style="color: gray">партнёр</font>, <font style="color: gray">доверенный продавец</font>, <font style="color: gray">продавец</font>.<br>
						<font style="color: #cacaca;">Ранги на форуме (diplomats):</font> <font style="color: gray">исскуственный интелект</font>, <font style="color: gray">учитель</font>, <font style="color: gray">наставник</font>, <font style="color: gray">участник</font>.<br>
						<font style="color: #cacaca;">Автоподдержка (autohelper):</font> <font style="color: gray">root</font>.<br><br>
					</li>
					У каждого ранга, есть определённые привелегии. Вы сможете выводить деньги с меньшей комиссией, бесплатная смена логина, кастомизация профиля, бесплатная реклама от форума и т.д.<br><br>
					<em style="color: rgb(255, 0, 0);">Все ранги расположены по мере их важности.</em><br><br><br>
					Главные на сайте, это <font class="brandColor">Создатель</font>, <font class="brandColor">Гл. Администратор</font> и <font class="brandColor">Администраторы</font>. Они занимаются решением основных вопросов, следят за сайтом, имеют возможность выдавать баны, или мьюты, накладывать какие-либо запреты и т.д.<br><br>
					<font class="brandColor">Арбитр</font> - решает какие-либо споры, насчёт покупки чего-либо на сайте, проблемы с балансом пользователя и т.д.<br>
					<font class="brandColor">root</font> - бот, который контролирует работу сайта, имеет привилегии на уровне <font class="brandColor">Администратора</font>.
				</ul><br>
				2. Лайки
				<ul>
					<li style="list-style-type: none;">
						Также на сайте присутствуют лайки. Их могут ставить пользователи, уже имеющие 20 и более лайков. Чтобы их получить, нужно, либо делать полезные статьи на форуме, либо продавать аккаунты на маркете (после успешной покупки, пользователь может поставить вам лайк, но только если у него уже имеется 20 лайков на аккаунте).<br><br>
						Чем больше лайков на вашем аккаунте, тем больше различных рангов у вас открываетя.<br><br>
						<span style="color: red;">За получение временного бана, с человека снимается 30% лайков.</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{% static 'js/faq.js' %}"></script>
{% endblock %}
