{% extends 'base.html' %}
{% block title %}speedhack / гарант{% endblock %}
{% load static %}
{% block content %}
  <div class="main">
    <div class="user-agreement_con">
      <div class="frame-guarantor">
        <h3 class="title-text-guarantor">Гарант-сервис speedhack</h3>
        <hr class="hr-post-detail" style="margin: 0;">
        <div class="main-taxt-guarantor">
          <span style="font-size: 18px;">Что такое гарант?</span><br>
          <span style="font-size: 14px;">Гарант - это лицо, принимающее на себя ответственность за выполнение, соблюдение и т.д. каких-либо обязательств в сделке двух или более лиц, а также осуществляющее надзор за их выполнением, соблюдением и т.п.</span><br><br>
          <span style="font-size: 18px;">Как работает гарант:</span><br>
          <ul style="margin-left: 30px; font-size: 14px;">
            <li>Лицо сделки или гарант создает конференцию во ВКонтакте или Телеграме (только ГАРАНТ) для обсуждения товара или услуги.</li>
            <li>Покупатель переводит гаранту деньги за товар (включая оплату гаранта).</li>
            <li>Продавец передает товар или информацию об услуге гаранту, гарант сверяет информацию о товаре или услуге с указанной.</li>
            <li>При соответствии информации с описанием, гарант передает деньги продавцу услуги или товара, а товар покупателю.</li>
          </ul><br>
          <span>Холд - удержание средств у гаранта во время проведения сделки на n-е время</span><br><br>
          <span style="font-size: 18px;">Стоимость услуг гарантов:</span><br>
          <div style="margin: 10px 0 40px 0; border-left: 5px solid #ff506f;">
            <ul style="margin-left: 10px; font-size: 14px; list-style-type: none;">
              <li>- 50 RUB на сделки менее 500RUB</li>
              <li>- 10% на сделки свыше 500RUB</li>
              <li>- Оплата холда денег - первые 2 дня бесплатно, а по их истечению 2% от сделки в сутки</li>
              <li>- Если начатая сделка в процессе проведения была отменена - 10% от суммы сделки</li>
              <li>- Стоимость обмена аккаунтов любых игровых платформ - 250 руб</li>
            </ul>
          </div>
          <span style="font-size: 18px;">Доступные гаранты:</span><br>
          <span style="font-size: 14px;">Нету их</span><br><br>
          <span style="font-size: 18px;">Форма подачи заявки Гаранту для проведения сделки:</span><br>
          <span style="font-size: 14px;">1. Что за товар, ссылка на товар (для аккаунтов стим указывать наличие баланса и игровых вещей дополнительно).</span><br>
          <span style="font-size: 14px;">2. Нужна ли проверка товара, какая (для баз указывать конкретные чекеры и ап)</span><br>
          <span style="font-size: 14px;">3. Нужен холд на оплату? На какое время? Причина? Кто оплачивает холд? (причина холда должна быть обоснована проверкой товара).</span><br>
          <span style="font-size: 14px;">4. Ссылка на продавца на lolzteam.</span><br>
          <span style="font-size: 14px;">5. Ссылка на покупателя на lolzteam.</span><br>
          <span style="font-size: 14px;">6. Платежная система через которую будет проходить оплата (желательно несколько возможных вариантов).</span><br>
          <span style="font-size: 14px;">7. Сумма сделки (указывать общепринятую валюту RUB / USD / EUR. Если оплата происходит через криптовалюту и вам нужна фиксация курса - указывать число в крипте, пример: 0.1 btc).</span><br><br>
          <span style="font-size: 18px;">Важно:</span><br>
          <div style="margin-top: 10px; border-left: 5px solid #ff506f;">
            <div style="margin-left: 10px;">
              <span style="font-size: 14px;">- Если Продавец или Покупатель НЕ В ОНЛАЙНЕ - не пишите Гаранту.</span><br>
              <span style="font-size: 14px;">- Если Продавец или Покупатель в списке кидков - НЕ ПРОВОДИТЕ СДЕЛКУ.</span><br>
              <span style="font-size: 14px;">- Комиссию за перевод и холд оплачивает покупатель.</span><br>
              <span style="font-size: 14px;">- При переводе с одной платёжной системы на другую комиссию за перевод средств продавцу оплачивает покупатель (Пример: QIWI -> YandexMoney)</span><br>
              <span style="font-size: 14px;">- При блокировке кошелька гаранта по вине одного из участников сделки виновный в этом юзер обязан возместить полную сумму, находящуюся на кошельке.</span><br>
              <span style="font-size: 14px;">- Сделка считается начатой с момента создания беседы с участниками сделки и заполнения формы, при отказе / срыве сделки инициатор отмены оплачивает 10% Гаранту, если сумма больше 500р, если сумма сделки меньше 500р, то 50р.</span><br>
              <span style="font-size: 14px;">- Стоимость холда (платного удержания средств у гаранта) не может превышать изначальную сумму сделки.</span><br>
            </div>
          </div><br>
          <span style="font-size: 18px;">На сайте так же  присутствует "<a href="" class="a-link-guarantor">Безопасная сделка</a>"</span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
x