{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}speedhack / форум{% endblock %}
{% block content %}
  <div class="main">
    <div class="frames_con optimization">
      <div style="display: block;">
        <div class="frame-left">
          <div style="margin-bottom: 20px; display: flex;">
            {% if request.user.is_authenticated %}
              <a href="{% url 'forum:post_create' %}" class="button-frame">Создать тему</a>
            {% else %}
              <a href="{% url 'users:login' %}" class="button-frame">Войти и создать тему</a>
            {% endif %}
            <label href="" class="button-frame open-topics" id="menu_0_0">Открыть разделы</label>
          </div>
          {% include 'includes/filters.html' %}
        </div>
      </div>
      <div style="display: block;">
        <div class="frame-right-first-index">
          {% if count_posts != 0 %}
            <div style="margin: 0 0 0 10px;">
              <div>
                <label class="posts-group-title">{% if request.path == '/' %}Все обсуждения{% elif request.path == '/forum/my_topics/' %}Мои темы{% elif request.path == '/forum/favourites/' %}Избранное{% endif %}</label>
              </div>
            </div>
            {% if request.path == '/' or request.path == '/forum/my_topics/' %}
              <div class="search-header search-header-else">
                <div>
                  <form action="{% if request.path == '/' %}{% url 'forum:index' %}{% elif request.path == '/forum/my_topics/' %}{% url 'forum:my_topics' %}{% endif %}">
                    <input class="input-search" type="search" name="search" placeholder="Поиск" aria-label="Search">
                  </form>
                </div>
                <div>
                  <a href="{% if request.path == '/' %}{% url 'forum:index' %}{% elif request.path == '/forum/my_topics/' %}{% url 'forum:my_topics' %}{% elif request.path == '/forum/favourites/' %}{% url 'forum:favourites' %}{% endif %}"><i class="fa fa-times-circle fa-lg icons-users"></i></a>
                </div>
              </div>
            {% endif %}
            {% if ads.count != 0 %}
              <div style="margin: 20px 0 20px 0;">
                {% for ad in ads %}
                  {% if ad.author.rank != "заблокирован" %}
                    <a style="text-decoration: none;" href="{% url 'forum:post_detail' ad.post_id %}">
                      <div class="li-label-ad" style="font-size: 16px;">
                        <i class="fa-solid fa-bullhorn" style="color: #515151; margin-right: 15px;"></i><label style="color: #ff506f; cursor: pointer;">{{ ad.title }}</label>
                      </div>
                    </a>
                  {% endif %}
                {% endfor %}
              </div>
            {% else %}
              <hr style="margin: 20px 0; border: 1px solid #444444; border-radius: 10px;">
            {% endif %}
            {% comment %} <div class="search-header search-header-else">
              <div>
                <form action="{% if request.path == '/' %}{% url 'forum:index' %}{% elif request.path == '/forum/my_topics/' %}{% url 'forum:my_topics' %}{% endif %}">
                  <input class="input-search" type="search" name="search" placeholder="Поиск" aria-label="Search">
                </form>
              </div>
              <div>
                <a href="{% if request.path == '/' %}{% url 'forum:index' %}{% elif request.path == '/forum/my_topics/' %}{% url 'forum:my_topics' %}{% endif %}"><i class="fa fa-times-circle fa-lg icons-users"></i></a>
              </div>
            </div> {% endcomment %}
            {% comment %} <hr style="margin-bottom: 20px; border: 1px solid #444444; border-radius: 10px;"> {% endcomment %}
            {% for post in objects %}
              {% if post.author.rank != "заблокирован" %}
                {% if request.path == '/' %}
                  <a style="text-decoration: none;" href="{% url 'forum:post_detail' post.id %}">
                    <div class="text-frame post">
                      <div class="text-frame-div" style="margin: 0 auto 0 0;">
                        <label class="text-frame-title">{{ post.title }}</label><br>
                        <div style="display: flex; align-items: baseline;">
                          {% if post.open_activities %}<label class="tables-tags">Активности</label><br>{% endif %}
                          <label class="text-frame-text">
                            {{ post.pub_date|date:"d E Y / H:i" }}
                          </label>
                          <label class="text-frame-text" style="margin-left: 10px;">
                            <i class="fa-solid fa-message fa-sm"></i> {{ post.comment.count }}
                          </label>
                        </div>
                      </div>
                      <div class="avatar-username">
                        <img class="user-avatar" src="{{ post.author.avatar.url }}">
                        {% if post.author.is_online == True %}
                          <div class="online online-avatar-index"></div>
                        {% endif %}
                        <label class="text-frame-username {% if post.author.username_style != 'gray-un' and post.author.rank != 'заблокирован' %}{{ post.author.username_style }}{% endif %}" {% if post.author.rank == 'заблокирован' %}style="text-decoration: line-through; z-index: 10000;"{% endif %}>{{ post.author.username }}</label>
                      </div>
                    </div>
                  </a>
                {% elif request.path == '/forum/my_topics/' %}
                  <a style="text-decoration: none;" href="{% url 'forum:post_detail' post.id %}">
                    <div class="text-frame post">
                      <div class="text-frame-div" style="margin: 0 auto 0 0;">
                        <label class="text-frame-title">{{ post.title }}</label><br>
                        <div style="display: flex; align-items: baseline;">
                          {% if post.open_activities %}<label class="tables-tags">Активности</label><br>{% endif %}
                          <label class="text-frame-text">
                            {{ post.pub_date|date:"d E Y / H:i" }}
                          </label>
                          <label class="text-frame-text" style="margin-left: 10px;">
                            <i class="fa-solid fa-message fa-sm"></i> {{ post.comment.count }}
                          </label>
                        </div>
                      </div>
                      <div class="avatar-username">
                        <img class="user-avatar" src="{{ post.author.avatar.url }}">
                        {% if post.author.is_online == True %}
                          <div class="online online-avatar-index"></div>
                        {% endif %}
                        <label class="text-frame-username {% if post.author.username_style != 'gray-un' and post.author.rank != 'заблокирован' %}{{ post.author.username_style }}{% endif %}" {% if post.author.rank == 'заблокирован' %}style="text-decoration: line-through; z-index: 10000;"{% endif %}>{{ post.author.username }}</label>
                      </div>
                    </div>
                  </a>
                {% elif request.path == '/forum/favourites/' %}
                  <a style="text-decoration: none;" href="{% url 'forum:post_detail' post.post.id %}">
                    <div class="text-frame post">
                      <div class="text-frame-div" style="margin: 0 auto 0 0;">
                        <label class="text-frame-title">{{ post.post.title }}</label><br>
                        <div style="display: flex; align-items: baseline;">
                          {% if post.post.open_activities %}<label class="tables-tags">Активности</label><br>{% endif %}
                          <label class="text-frame-text">
                            {{ post.post.pub_date|date:"d E Y / H:i" }}
                          </label>
                          <label class="text-frame-text" style="margin-left: 10px;">
                            <i class="fa-solid fa-message fa-sm"></i> {{ post.post.comment.count }}
                          </label>
                        </div>
                      </div>
                      <div class="avatar-username">
                        <img class="user-avatar" src="{{ post.post.author.avatar.url }}">
                        {% if post.post.author.is_online == True %}
                          <div class="online online-avatar-index"></div>
                        {% endif %}
                        <label class="text-frame-username {% if post.post.author.username_style != 'gray-un' and post.post.author.rank != 'заблокирован' %}{{ post.post.author.username_style }}{% endif %}" {% if post.post.author.rank == 'заблокирован' %}style="text-decoration: line-through; z-index: 10000;"{% endif %}>{{ post.post.author.username }}</label>
                      </div>
                    </div>
                  </a>
                {% endif %}
              {% endif %}
            {% endfor %}
            <div style="margin-bottom: 15px;"></div>
            {% include '../includes/paginator.html' %}
          {% else %}
            <div style="margin: 0 0 5px 10px;">
              <div>
                <label class="posts-group-title">{% if request.path == '/' %}Все обсуждения{% elif request.path == '/forum/my_topics/' %}Мои темы{% elif request.path == '/forum/favourites/' %}Избранное{% endif %}</label>
              </div>
            </div>
            <div class="search-header search-header-else">
              <div>
                <form action="{% if request.path == '/' %}{% url 'forum:index' %}{% elif request.path == '/forum/my_topics/' %}{% url 'forum:my_topics' %}{% endif %}">
                  <input class="input-search" type="search" name="search" placeholder="Поиск" aria-label="Search">
                </form>
              </div>
              <div>
                <a href="{% if request.path == '/' %}{% url 'forum:index' %}{% elif request.path == '/forum/my_topics/' %}{% url 'forum:my_topics' %}{% elif request.path == '/forum/favourites/' %}{% url 'forum:favourites' %}{% endif %}"><i class="fa fa-times-circle fa-lg icons-users"></i></a>
              </div>
            </div>
            <hr style="margin-bottom: 20px; border: 1px solid #444444; border-radius: 10px;">
            <div style="text-align: center;">
              <label style="color: #515151; font-size: 18px; font-weight: bold;">
                {% if request.path == '/' %}
                  На данную тему не было созданно ещё ни одного поста :/
                {% elif request.path == '/forum/my_topics/' %}
                  Вы ещё не создали ни одного поста :/
                {% elif request.path == '/forum/favourites/' %}
                  У вас нет постов в избранном
                {% endif %}
              </label>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
{% endblock %}
