{% extends 'base.html' %}
{% block title %}speedhack / пост / {{ post.title|truncatechars:15 }}{% endblock %}
{% load static %}
{% load thumbnail %}
{% block content %}
{% load user_filters %}
  <div class="main">
    <div class="frame-post_con">
      <label class="link-title"><a href="{% url 'forum:index' %}" class="link-title-main">Форум</a> <label style="margin: 0 5px 0 5px;">/</label> <a href="{% url 'forum:group_filter_posts' post.group.id %}" class="link-title-main">{{ post.group.title }}</a> <label style="margin: 0 5px 0 5px;">/</label> <a href="{% url 'forum:post_detail' post.id %}" class="link-title-main">Пост</a></label>
      <div class="frame-title">
        <label class="text-up-title">{{ post.title }}</label><br>
        <label class="text-up-all">Тема в разделе <a href="{% url 'forum:group_filter_posts' post.group.slug %}" class="text-up-nick">{{ post.group }}</a> создана пользователем <a href="{% url 'forum:profile' post.author.username %}" class="text-up-nick {% if post.author.username_style != 'gray-un' %}{{ post.author.username_style }}{% endif %}">{{ post.author.username }}</a> / <img class="heart" src="{% static 'images/heart_gray.png' %}"> <label style="color: #ff506f;">{{ post.author.likes }}</label> / <img src="{% static 'images/views.png' %}" style="width: 25px; vertical-align: middle; margin-bottom: 2px;"> <label style="color: #ff506f;">{{ post.view }}</label> | <label style="color: gray;">{{ post.pub_date|date:"d E Y / H:i" }}</label></label>
      </div>
      <div class="frame-main">
        <div class="frame-main-avatars">
          <i class="fas fa-star fa-lg icons-post-detail" style="cursor: pointer; padding-left: 20px;"></i>
          {% include '../includes/paginator.html' %}
          <hr class="hr-post-detail" style="margin: 15px 0;">
        </div>
        <div class="frame-main-posts">
          <div>
            <a href="{% url 'forum:profile' post.author.username %}"><img class="frame-main-avatar" src="{{ post.author.avatar.url }}"></a>
            {% if post.author.is_online == True %}
              <div class="online online-avatar" style="margin: -20px 0 0 60px;"></div>
            {% endif %}
          </div>
          <div>
            <div style="display: flex;">
              <div style="margin: 0 auto 0 0;">
                <a href="{% url 'forum:profile' post.author.username %}" style="text-decoration: none; cursor: pointer;">
                  <label class="frame-main-username {% if post.author.username_style != 'gray-un' %}{{ post.author.username_style }}{% endif %}" {% if post.author.rank == 'заблокирован' %}style="text-decoration: line-through;"{% endif %}>{{ post.author.username }}</label>
                </a>
              </div>
              {% if user.username == post.author.username or user.rank == "владелец" or .user.rank == "гл. администратор" or user.rank == "администратор" or user.rank == "арбитр" or user.rank == "куратор" %}
                <div style="height: 30px;" class="window-main">
                  <i class="fa-solid fa-ellipsis fa-2xl icon-ellipsis"></i>
                  <div class="window-other" style="right: 0;">
                    <a href="{% url 'forum:post_edit' post.id %}" class="window-button-second">Редактировать запись</a>
                    {% if post.closed == False %}
                      <a href="{% url 'forum:post_close' post.id %}" class="window-button-second">Закрыть тему</a>
                    {% elif post.closed == True and user.rank == "владелец" or user.rank == "гл. администратор" or .user.rank == "администратор" or user.rank == "арбитр" or user.rank == "куратор" %}
                      <a href="{% url 'forum:post_open' post.id %}" class="window-button-second">Открыть тему</a>
                    {% endif %}
                    <a href="{% url 'forum:post_delete' post.id %}" class="window-button-second">Удалить пост</a>
                  </div>
                </div>
              {% endif %}
            </div>
            <div>
              <div class="frame-main-post-text">
                <label>{{ post.text }}</label>
              </div>
              <div class="frame-main-post-heart">
                {% thumbnail post.image "1050" crop="center" upscale=True as im %}
                  <img src="{{ im.url }}">
                {% endthumbnail %}
              </div>
            </div>
            <div style="display: flex;">
              <div class="comment-date" style="margin: 10px auto 0 0;">
                <label>{{ post.pub_date|date:"d E Y / H:i" }}</label>
                {% if post.edit == True %}
                  <label style="margin-left: 30px">
                    Изменено
                  </label>
                {% endif %}
              </div>
              {% if user.likes >= 20 and user.username != post.author.username %}
                <form method="post" action="{% url 'forum:likes_add' post.id %}">
                  <div class="comment-date" style="margin-top: 3px;">
                    <a href="{% url 'forum:likes_add' post.id %}">
                      <img src="{% static 'images/heart_pink.png' %}" style="width: 25px; height: 23px; margin: 5px;">
                    </a>
                  </div>
                </form>
              {% endif %}
            </div>
          </div>
        </div>
        {% if count_comments != 0 %}
          <hr class="hr-post-detail">
        {% endif %}
        {% for comment in comments %}
          <div style="display: flex; padding: 0 20px;">
            <div>
              <img class="frame-main-avatar" src="{{ comment.author.avatar.url }}">
              {% if post.author.is_online == True or comment.author.is_online == True %}
                <div class="online online-avatar" style="margin: -20px 0 0 60px;"></div>
              {% endif %}
            </div>
            <div style="display: block;">
              <div>
                <a href="{% url 'forum:profile' comment.author.username %}" class="frame-main-username {% if comment.author.username_style != 'gray-un' %}{{ comment.author.username_style }}{% endif %}" style="text-decoration: none;">{{ comment.author.username }}</a>
              </div>
              <div class="comment-text">
                <label>{{ comment.text }}</label>
              </div>
              <div style="display: flex;">
                <div class="comment-date" style="margin: 10px auto 0 0;">
                  <label>{{ comment.created|date:"d E Y / H:i" }}</label>
                </div>
                {% if user.likes >= 20 and user.username != comment.author.username %}
                  <div class="comment-date" style="margin-top: 3px;">
                    <a href="{% url 'forum:likes_add' post.id %}">
                      <img src="{% static 'images/heart_pink.png' %}" style="width: 25px; height: 23px; margin: 5px;">
                    </a>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          {% if not forloop.last %}<hr class="hr-post-detail">{% endif %}
        {% endfor %}
        {% if user.is_authenticated and post.closed != True %}
          <div>
            <hr class="hr-post-detail">
          </div>
          <div class="frame-main-posts">
            <form method="post" enctype="multipart/form-data" action="{% url 'forum:add_comment' post.id %}">
              {% csrf_token %}
              <div style="display: flex;">
                <div>
                  <a href="{% url 'forum:profile' user %}"><img class="frame-main-avatar" style="width: 40px; height: 40px; margin: 0;" src="{{ user.avatar.url }}"></a>
                </div>
                <div style="display: flex;">
                  <div>
                    {{ form.text|addclass:"field-detail" }}
                  </div>
                  <div>
                    <button type="submit" style="background: #ffffff00; border: none; cursor: pointer;"><i class="fab fa-telegram-plane icons-post-detail"></i></button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        {% endif %}
        {% if post.closed == True %}
          <div>
            <hr class="hr-post-detail">
            <label style="color: #ffffff; font-size: 18px; padding: 20px;">Данная тема закрыта и больше не доступна для комментирования!</label>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <script type="text/javascript", src="{% static 'js/post_detail.js' %}"></script>
{% endblock %}
