{% extends 'base.html' %}
{% load static %}
{% block title%}
  {% if is_edit %}
    speedhack / редактирование
  {% else %}
    speedhack / новый пост
  {% endif %}
{% endblock %}
{% load user_filters %}
{% block content %}
  <div class="main">
    <div class="frame_con">
      <div class="frame">
        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}
              {{ error|escape }}
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            {{ error|escape }}
          {% endfor %}
        {% endif %}
        <form method="post" enctype="multipart/form-data" {% if action_url %}action="{% url 'posts:index' %}"{% endif %}>
          {% csrf_token %}
          {% for field in form %}
            {% if field.label == "Группа" %}
              <div style="display: block;">
                <label class="field-label">{{ field.label }}</label>
                <div style="color: #666666; font-size: 18px; height: 40px;">Выберете тему поста</div>
              </div>
              {{ field|addclass:"field field-height width-fix" }}
            {% elif field.label == "Заголовок" %}
              <div style="display: block;">
                <label class="field-label">{{ field.label }}</label>
                <label style="color: #666666; font-size: 18px; height: 40px;">Будьте конкретны. Представьте, что вы задаёте вопрос другому человеку.</label>
              </div>
              {{ field|addclass:"field field-height" }}
            {% elif field.label == "Текст" %}
              <div style="display: block;">
                <label class="field-label">{{ field.label }}</label>
                <label style="color: #666666; font-size: 18px; height: 40px;">Напишите ваш пост</label>
              </div>
              <script>
                let textarea = document.querySelector('textarea');
                textarea.value = textarea.value.replace(/g, '<br>');
              </script>
              {{ field|addclass:"field" }}
            {% elif field.label == "Картинка" %}
              <div style="display: block;">
                <label class="field-label">{{ field.label }}</label>
                <label style="color: #666666; font-size: 18px; height: 40px;">Вставьте картинку по желанию</label>
              </div>
              <label class="input-file">
                <span class="input-file-text" type="text"></span>
                {{ field }}
                <span class="input-file-btn">Выберите файл</span>
              </label>
              <script>
                $('.input-file input[type=file]').on('change', function(){
                  let file = this.files[0];
                  $(this).closest('.input-file').find('.input-file-text').html(file.name);
                });
              </script>
            {% elif field.label == "Отключить оповещения" %}
              <div class="small-label-post-create">Настройки:</div>
              <div style="display: flex; margin-bottom: 5px;">
                <label class="checkbox style-c">
                  <input type="checkbox" name="notification" id="id_notification" {% if post.notification == True %}checked{% endif %}>
                  <div class="checkbox__checkmark"></div>
                </label>
                <label class="field-label-help">Не оповещать подписчиков о создании темы</label>
              </div>
            {% elif field.label == "Скрыть контакты" %}
              <div style="display: flex; margin-bottom: 5px;">
                <label class="checkbox style-c">
                  <input type="checkbox" name="hide" id="id_hide" {% if post.hide == True %}checked{% endif %}>
                  <div class="checkbox__checkmark"></div>
                </label>
                <label class="field-label-help">Скрывать контакты в теме</label>
              </div>
            {% elif field.label == "Разрешение на запрос личного" %}
              <div style="display: flex; margin-bottom: 5px;">
                <label class="checkbox style-c">
                  <input type="checkbox" name="permission" id="id_permission" {% if post.permission == True %}checked{% endif %}>
                  <div class="checkbox__checkmark"></div>
                </label>
                <label class="field-label-help">Разрешить просить "Личный" (если есть "хайд" в теме)</label>
              </div>
            {% elif field.label == "Подписка на тему" %}
              <div style="display: flex; margin-bottom: 20px;">
                <label class="checkbox style-c">
                  <input type="checkbox" name="subscribe" id="id_subscribe" {% if post.subscribe == True %}checked{% endif %}>
                  <div class="checkbox__checkmark"></div>
                </label>
                <label class="field-label-help">Подписаться на тему</label>
              </div>
            {% elif field.label == "Закрытая тема" %}
              {% if user|permission_access:'designer' %}
                <div class="small-label-post-create">Админ-настройки:</div>
                <div style="display: flex; margin-bottom: 5px;">
                  <label class="checkbox style-c">
                    <input type="checkbox" name="closed" id="id_closed" {% if post.closed == True %}checked{% endif %}>
                    <div class="checkbox__checkmark"></div>
                  </label>
                  <label class="field-label-help">Закрыть тему</label>
                </div>
              {% endif %}
            {% elif field.label == "Пост был отредактирован" %}
              {% if user|permission_access:'designer' %}
                <div style="display: flex; margin-bottom: 5px;">
                  <label class="checkbox style-c">
                    <input type="checkbox" name="edit" id="id_edit" {% if post.edit == True %}checked{% endif %}>
                    <div class="checkbox__checkmark"></div>
                  </label>
                  <label class="field-label-help">Поставить метку об изменении поста</label>
                </div>
              {% endif %}
            {% elif field.label == "Активности доступны" %}
              {% if user|permission_access:'designer' %}
                <div style="display: flex; margin-bottom: 5px;">
                  <label class="checkbox style-c">
                    <input type="checkbox" name="open_activities" id="id_open_activities" {% if post.open_activities == True %}checked{% endif %}>
                    <div class="checkbox__checkmark"></div>
                  </label>
                  <label class="field-label-help">Включить активности</label>
                </div>
              {% endif %}
            {% elif field.label == "Закреплённый пост" %}
              {% if user|permission_access:'designer' %}
                <div style="display: flex; margin-bottom: 20px;">
                  <label class="checkbox style-c">
                    <input type="checkbox" name="pinned" id="id_pinned" {% if post.pinned == True %}checked{% endif %}>
                    <div class="checkbox__checkmark"></div>
                  </label>
                  <label class="field-label-help">Закрепить пост</label>
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
          <button type="submit" class="button-level">
            {% if is_edit %}
              Изменить тему
            {% else %}
              Создать тему
            {% endif %}
          </button>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{% static 'js/post_create.js' %}"></script>
{% endblock %}
