{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% block title %}speedhack / пост / {{ post.text|truncatechars:15 }}{% endblock %}
{% block content %}
{% load user_filters %}
	<div class="frame-post_con">
		<label class="link-title"><a href="{% url 'forum:index' %}" class="link-title-main">Форум</a> <label style="margin: 0 5px 0 5px;">/</label> <a href="{% url 'forum:post_detail' post.id %}" class="link-title-main">Пост</a></label>
		<div class="frame-title">
			<label class="text-up-title">{{ post.title }}</label><br>
			<label class="text-up-all">Тема создана пользователем <a href="{% url 'forum:profile' post.author.username %}" class="text-up-nick">{{ post.author.username }}</a> / <img class="heart" src="{% static 'images/heart_gray.png' %}"> <label style="color: #ff506f;">{{ post.author.likes }} / <img src="{% static 'images/views.png' %}" style="width: 25px;"> {{ post.total_views }}</label> | {{ post.pub_date }}</label>
		</div>
		<div class="frame-main">
			<div class="frame-main-avatars">
				<img style="width: 25px;" src="{% static 'images/save.png' %}">
				{% include '../includes/paginator.html' %}
				<hr class="hr-post-detail" style="margin: 5px 0;">
			</div>
			<div class="frame-main-posts">
				<div>
					<img class="frame-main-avatar" src="{{ post.author.avatar.url }}">
				</div>
				<div>
					<div>
						<a href="{% url 'forum:profile' post.author.username %}" style="text-decoration: none; cursor: pointer;"><label class="frame-main-username {% if post.author.rank == 'владелец' %}admin-username{% endif %}">{{ post.author.username }}</label></a><br>
					</div>
					<div class="frame-main-post">
						<label>{{ post.text }}</label>
					</div>
					<div style="display: flex;">
						<div class="comment-date" style="margin: 10px auto 0 0;">
							<label>{{ post.pub_date }}</label>
						</div>
						{% if user.likes >= 20 %}
							<div class="comment-date" style="margin-top: 3px;">
								<img src="{% static 'images/heart_pink.png' %}" style="width: 25px; height: 23px; margin: 5px;">
							</div>
						{% endif %}
					</div>
				</div>
			</div>
			{% if not forloop.last %}<hr class="hr-post-detail">{% endif %}
			{% for comment in comments %}
				<div style="display: flex;">
					<div>
						<img class="frame-main-avatar" src="{{ comment.author.avatar.url }}">
					</div>
					<div style="display: block;">
						<div>
							<a href="{% url 'forum:profile'	 comment.author.username %}" class="frame-main-username {% if comment.author.rank == 'владелец' %}admin-username{% endif %}" style="text-decoration: none;">{{ comment.author.username }}</a>
						</div>
						<div class="comment-text">
							<label>{{ comment.text }}</label>
						</div>
						<div class="comment-date">
							<label>{{ comment.created }}</label>
						</div>
					</div>
				</div>
				{% if not forloop.last %}<hr class="hr-post-detail">{% endif %}
			{% endfor %}
			{% if user.is_authenticated %}
				<div class="frame-main-posts">
					<a href="{% url 'forum:profile' request.user %}"><img class="frame-main-avatar" style="width: 40px; height: 40px; margin: 0;" src="{{ user.avatar.url }}"></a>
					<form method="post" enctype="multipart/form-data" action="{% url 'forum:add_comment' post.id %}">
						{% csrf_token %}
						<div style="display: flex;">
							<div>
								{{ form.text|addclass:"field-detail" }}
							</div>
							<div>
								<button type="submit" style="background: #242527; border: none; cursor: pointer;"><img style="width: 40px;" src="{% static 'images/send.png' %}"></button>
							</div>
						</div>
					</form>
				</div>
			{% endif %}
		</div>
	</div>
	<script>
		var tx = document.getElementsByTagName('textarea');
		for (var i = 0; i < tx.length; i++) {
			tx[i].setAttribute('style', 'height:' + (tx[i].scrollHeight) + 'px;overflow-y:hidden;');
			tx[i].addEventListener("input", OnInput, false);
		}

		function OnInput() {
			this.style.height = 'auto';
			this.style.height = (this.scrollHeight) + 'px';
		}
	</script>
{% endblock %}
