{% extends 'base.html' %}
{% load static %}
{% block title%}
  {% if is_edit %}
    speedhack / редактирование
  {% else %}
    speedhack / новый пост
  {% endif %}
{% endblock %}
{% load user_filters %}
{% block content %}
  <div class="main">
    <div class="frame_con">
      <div class="frame">
        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}
              {{ error|escape }}
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            {{ error|escape }}
          {% endfor %}
        {% endif %}
        <form method="post" enctype="multipart/form-data" {% if action_url %}action="{% url 'posts:index' %}"{% endif %}>
          {% csrf_token %}
          {% for field in form %}
            {% if field.label == "Группа" %}
              <div style="display: flex;">
                <label class="field-label">{{ field.label }}</label>
                <label style="color: #444444; font-size: 20px; height: 40px;">(выберете тему поста)</label>
              </div>
              {{ field|addclass:"field field-height width-fix" }}
            {% elif field.label == "Заголовок" %}
              <div style="display: flex;">
                <label class="field-label">{{ field.label }}</label>
                <label style="color: #444444; font-size: 20px; height: 40px;">(опишите суть вашего поста)</label>
              </div>
              {{ field|addclass:"field field-height" }}
            {% elif field.label == "Текст" %}
              <div style="display: flex;">
                <label class="field-label">{{ field.label }}</label>
                <label style="color: #444444; font-size: 20px; height: 40px;">(напишите ваш пост)</label>
              </div>
              <script>
                let textarea = document.querySelector('textarea');
                textarea.value = textarea.value.replace(/g, '<br>');
              </script>
              {{ field|addclass:"field" }}
            {% elif field.label == "Картинка" %}
              <div style="display: flex;">
                <label class="field-label">{{ field.label }}</label>
                <label style="color: #444444; font-size: 20px; height: 40px;">(вставьте картинку по желанию)</label>
              </div>
              <label class="input-file">
                <span class="input-file-text" type="text"></span>
                {{ field }}
                <span class="input-file-btn">Выберите файл</span>
              </label>
              <script>
                $('.input-file input[type=file]').on('change', function(){
                  let file = this.files[0];
                  $(this).closest('.input-file').find('.input-file-text').html(file.name);
                });
              </script>
            {% elif field.label == "Закрытая тема" %}
              {% if user.rank_lvl >= "4" %}
                <div class="small-label-post-create">Настройки:</div>
                <div style="display: flex; margin-bottom: 5px;">
                  <label class="checkbox style-c">
                    <input type="checkbox" name="closed" id="id_closed" {% if post.closed == True %}checked{% endif %}>
                    <div class="checkbox__checkmark"></div>
                  </label>
                  <label class="field-label-help">Закрыть тему</label>
                </div>
              {% endif %}
            {% elif field.label == "Пост был отредактирован" %}
              {% if user.rank_lvl >= "4" %}
                <div style="display: flex; margin-bottom: 5px;">
                  {% comment %} {{ field }} {% endcomment %}
                  <label class="checkbox style-c">
                    <input type="checkbox" name="edit" id="id_edit" {% if post.edit == True %}checked{% endif %}>
                    <div class="checkbox__checkmark"></div>
                  </label>
                  <label class="field-label-help">Поставить метку об изменении поста</label>
                </div>
              {% endif %}
            {% elif field.label == "Активности доступны" %}
              {% if user.rank_lvl >= "4" %}
                <div style="display: flex; margin-bottom: 20px;">
                  {% comment %} {{ field }} {% endcomment %}
                  <label class="checkbox style-c">
                    <input type="checkbox" name="open_activities" id="id_open_activities" {% if post.open_activities == True %}checked{% endif %}>
                    <div class="checkbox__checkmark"></div>
                  </label>
                  <label class="field-label-help">Включить активности</label>
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
          <button type="submit" class="button-level">
            {% if is_edit %}
              Изменить тему
            {% else %}
              Создать тему
            {% endif %}
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
