{% extends 'base.html' %}
{% load static %}
{% block title %}speedhack / редактирование профиля{% endblock %}
{% load user_filters %}
{% block content %}
	<div class="main">
		<div class="frame-profile_edit_con">
			<div class="tabItem profile-edit active-tab" id ="person_info">
				<form method="post" action="{{ request.path }}" enctype="multipart/form-data">
					{% csrf_token %}
					<div style="display: flex; margin-top: 20px;">
						<div class="profile-edit-div">
							<label>Описание:</label>
						</div>
						<div>
							{{ form.description|addclass:"profile-edit-field profile-edit-field-height" }}
						</div>
					</div>
					<hr style="margin: 20px 0; border: 1px solid #444444; border-radius: 10px;">
					<div style="display: flex;">
						<div class="profile-edit-div">
							<label>Telegram:</label>
						</div>
						<div>
							{{ form.tg_link|addclass:"profile-edit-field profile-edit-field-height" }}
						</div>
					</div>
					<hr style="margin: 20px 0; border: 1px solid #444444; border-radius: 10px;">
					<div style="display: flex;">
						<div class="profile-edit-div">
							<label>Аватар:</label>
						</div>
						<div>
							{{ form.avatar|addclass:"field-load" }}
						</div>
					</div>
					<hr style="margin: 20px 0; border: 1px solid #444444; border-radius: 10px;">
					{% if request.user.rank == 'владелец' %}
						<div style="display: flex;">
							<div class="profile-edit-div">
								<label>Фон профиля:</label>
							</div>
							<div>
								{{ form.profile_background }}
							</div>
						</div>
						<hr style="margin: 20px 0; border: 1px solid #444444; border-radius: 10px;">
					{% endif %}
					<div style="display: flex;">
						<div class="profile-edit-div">
							<label>Стиль имени:</label>
						</div>
						<div>
							{{ form.username_style }}
						</div>
					</div>
					<hr style="margin: 20px 0; border: 1px solid #444444; border-radius: 10px;">
					<div style="display: flex;">
						<div class="profile-edit-div">
							<label>Пол:</label>
						</div>
						<div>
							{{ form.gender }}
						</div>
					</div>
					<hr style="margin: 20px 0; border: 1px solid #444444; border-radius: 10px;">
					<div style="display: flex;">
						<div class="profile-edit-div">
							<label>День рождения:</label>
						</div>
						<div>
							{{ form.birthday }}
						</div>
					</div>
					<hr style="margin: 20px 0; border: 1px solid #444444; border-radius: 10px;">
					<div style="display: flex;">
						<div class="profile-edit-div">
							<label>Род занятий:</label>
						</div>
						<div>
							{{ form.occupation|addclass:"profile-edit-field profile-edit-field-height" }}
						</div>
					</div>
					<hr style="margin: 20px 0; border: 1px solid #444444; border-radius: 10px;">
					<div style="display: flex;">
						<div class="profile-edit-div">
							<label>Интересы:</label>
						</div>
						<div>
							{{ form.interests|addclass:"profile-edit-field profile-edit-field-height" }}
						</div>
					</div>
					<hr style="margin: 20px 0; border: 1px solid #444444; border-radius: 10px;">
					<div style="display: flex;">
						<div class="profile-edit-div">
							<label></label>
						</div>
						<div style="display: block;">
							<div>
								<button type="submit" class="button-save">Сохранить</button>
							</div>
							<div style="margin-top: 20px; color: red;">
								{% if form.errors %}
									{% for field in form %}
										{% for error in field.errors %}
											{{ form.error.field }}
											{{ error|escape }}
										{% endfor %}
									{% endfor %}
									{% for error in form.non_field_errors %}
										{{ error|escape }}
									{% endfor %}
								{% endif %}
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="tabItem profile-edit" id="contacts_info">
				
			</div>
			<div class="tabItem profile-edit" id="preferences">
				
			</div>
			<div class="tabItem profile-edit" id="privacy">
				
			</div>
			<div class="tabItem profile-edit" id="alerts">
				
			</div>
			<div class="tabItem profile-edit" id="black_list">
				
			</div>
			<div class="tabItem profile-edit" id="status_upgrade">
				
			</div>
			<div class="tabItem profile-edit" id="accounts">
				
			</div>
			<div class="tabItem profile-edit" id="safety">
				
			</div>
			<div class="tabItem profile-edit" id="api_for_developer">
				
			</div>
			<div class="tabItem profile-edit" id="market_settings">
				
			</div>
			<div class="switch-profile-edit">
				<a data-tab="#person_info" class="switch-button-profile-edit active-tab">Персональная информация</a>
				<a data-tab="#contacts_info" class="switch-button-profile-edit">Контактная информация</a>
				<a data-tab="#preferences" class="switch-button-profile-edit">Предпочтения</a>
				<a data-tab="#privacy" class="switch-button-profile-edit">Приватность</a>
				<a data-tab="#alerts" class="switch-button-profile-edit">Настройка оповещений</a>
				<a data-tab="#black_list" class="switch-button-profile-edit">Чёрный список</a>
				<a data-tab="#status_upgrade" class="switch-button-profile-edit">Повышение статуса</a>
				<a data-tab="#accounts" class="switch-button-profile-edit">Учётные записи</a>
				<a data-tab="#safety" class="switch-button-profile-edit">Безопасность</a>
				<a data-tab="#api_for_developer" class="switch-button-profile-edit">API для разработчика</a>
				<a data-tab="#market_settings" class="switch-button-profile-edit">Настройки маркета</a>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{% static 'js/profile_edit.js' %}"></script>
{% endblock %}