{% extends 'base.html' %}
{% block title %}speedhack / профиль{% endblock  %}
{% load static %}
{% load thumbnail %}
{% block content %}
{% load user_filters %}
	<div class="main">
		<div class="frame_con">
			<div class="frame-edit" style="{% if user == author %}max-height: 235px; {% elif user != author and author.username != 'root' and user.is_authenticated %}max-height: 290px;{% else %} max-height:260px;{% endif %}">
				<img class="profile-avatar" src="{{ author.avatar.url }}">
				{% if user == author %}
					<a href="" class="button-edit" style="margin-top: 5px;">Редактировать</a>
				{% else %}
					{% if user.is_authenticated %}
						{% if following %}
							<a class="button-edit" href="{% url 'forum:profile_unfollow' author.username %}">Отписаться</a>
						{% else %}
							<a class="button-edit" href="{% url 'forum:profile_follow' author.username %}">Подписаться</a>
						{% endif %}
						{% if author.username != 'root' %}<label style="max-width: 200px; margin-top: 20px;"><a class="button-edit" style="margin-top: 5px">Написать</a></label>{% endif %}
						<a class="button-edit" style="margin-top: 5px;">Пожаловаться</a>
					{% else %}
						<a href="{% url 'users:login' %}" class="button-edit">Войти в аккаунт</a>
					{% endif %}
				{% endif %}
			</div>
			<div style="display: block;">
				<div class="frame-right-first">
					<div style="display: flex; ">
						<div style="margin: 0 auto 0 0;">
							<label {% if author.rank == 'владелец' %}class="admin-username"{% else %}style="color: gray;"{% endif %}>{{ author.username }}</label>
						</div>
						<div>
							<label style="color: gray; display: flex;">В сети 10 мин. назад</label>
						</div>
						{% if request.user.is_authenticated %}
							<div>
								<div class="user-button">
									<img src="{% static 'images/other.png' %}" class="other-img">
									<div class="user-button-content">
										<a href="#" style="border-top: 1px solid; border-color: #ff506f; border-top-left-radius: 5px; border-top-right-radius: 5px;">Замьютить</a>
										<a href="#">Заблокировать</a>
										<a href="#">Выдать администратора</a>
										<a href="#" style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">Выдать деньги</a>
									</div>
								</div>
							</div>
						{% endif %}
					</div>
					<hr style="margin-top: 20px; margin-bottom: 20px;">
					<div>
						<label style="color: gray;">Регистрация: </label><label style="color: #ffffff;">{{ author.date_joined|date:'d E Y' }}</label><br>
						<label style="color: gray;">Ранг: <label style="color: #ffffff;">{{ author.rank }}</label></label><br>
						{% if author.username == 'root' %}<label style="color: red;">Данный профиль является системным и работает под управлением бота!{% endif %}</label>
					</div>
					<hr style="margin: 20px 0 20px 0;">
					<div style="display: flex;">
						<label style="color: gray; margin: 0 30px 0 0;">Подписчики: <label style="color: #ff506f;">{{ author. }}</label></label><br>
						<label style="color: gray; margin: 0 30px 0 0;">Лайки: <label style="color: #ff506f;">{{ author.likes }}</label></label><br>
						<label style="color: gray;">Сообщения: <label style="color: #ff506f;">{{ author.messages }}</label></label><br>
					</div>
				</div>
				<div class="frame-right-second">
					<a data-tab="#userPosts" class="button-tools active-tab">Стена</a>
					<a data-tab="#authorPosts" class="button-tools">Посты</a>
					<a data-tab="#subscriptions" class="button-tools">Подписки</a>
					<a data-tab="#" class="button-tools">Подписчики</a>
					<a data-tab="#" class="button-tools">Жалобы</a>
				</div>
				<div id="userPosts" class="tabItem frame-right-third active-tab">
					{% if user.is_authenticated %}
						<div class="frame-main-posts">
							<a href="{% url 'forum:profile' request.user %}"><img class="frame-main-avatar" style="width: 40px; height: 40px; margin: 0;" src="{{ user.avatar.url }}"></a>
							<form method="post" enctype="multipart/form-data" action="{% url 'forum:profile_comment' author.username %}">
								{% csrf_token %}
								<div style="display: flex;">
									<div>
										{{ form.text }}
										{% comment %} |addclass:"field-detail" {% endcomment %}
									</div>
									<div>
										<button type="submit" style="background: #242527; border: none; cursor: pointer;"><img style="width: 40px;" src="{% static 'images/send.png' %}"></button>
									</div>
								</div>
							</form>
						</div>
					{% endif %}
				</div>
				<div id="userPosts" class="tabItem frame-right-third active-tab">
					<label style="color: #ffffff;">На стене пока ничего нет</label>
				</div>
				<div id="authorPosts" class="tabItem frame-right-third">
					{% if count_posts != 0 %}
						{% for post in objects %}
							<a style="text-decoration: none;" href="{% url 'forum:post_detail' post.id %}">
								<div class="text-frame post">
									<div style="margin: 0 auto 0 0;">
										<label class="text-frame-title">{{ post.title }}</label><br>
										<label class="text-frame-text">{{ post.pub_date|date:"d E Y / H:i" }}</label>
									</div>
									<div class="avatar-username">
										<img class="user-avatar" src="{{ post.author.avatar.url }}">
										<label class="text-frame-username {% if post.author.username == 'sp1edh4ck' %}admin-username{% endif %}">{{ post.author.username }}</label>
									</div>
								</div>
								{% if not forloop.last %}<br>{% endif %}
							</a>
						{% endfor %}
						{% include '../includes/paginator.html' %}
					{% else %}
						<label style="color: #ffffff;">У пользователя нет постов!</label>
					{% endif %}
				</div>
				<div id="subscriptions" class="tabItem frame-right-third">
					{% if count_subs != 0 %}
						{% for post in subs %}
							<a class="a-users" href="{% url 'forum:profile' post.author.username %}">
								<div style="display: flex;" class="users-div">
									<div>
										<img style="width: 70px; border-radius: 50px;" src="{{ post.author.avatar.url }}">
									</div>
									<div style="margin-left: 20px;">
										<div style="display: flex;">
											<div style="margin: 0 0 0 auto;">
												<label class="users-username {% if users.rank == 'владелец' %}admin-username{% endif %}">{{ post.author.username }}</label>
											</div>
											<div style="display: flex;">
												<label style="color: #ff506f; font-size: 21px; width: 100px;">{{ users.likes }}</label>
											</div>
										</div>
										<div style="margin-top: 10px; color: #ff506f;">
											<img class="heart-users" src="{% static 'images/heart_gray.png' %}"> <label>{{ post.author.likes }}</label>
										</div>
									</div>
								</div>
							</a>
						{% endfor %}
					{% else %}
						<label style="color: #ffffff;">Пользователь ни на кого не подписан!</label>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
{% endblock %}
