{% extends 'base.html' %}
{% block title %}speedhack / профиль{% endblock  %}
{% load static %}
{% load thumbnail %}
{% block content %}
{% load user_filters %}
	<div class="frame_con">
		<div class="frame-edit" style="{% if user == author %}max-height: 235px; {% elif user != author and user.is_authenticated %}max-height: 320px;{% endif %}">
			<img class="profile-avatar" src="{{ author.avatar.url }}">
			{% if user == author %}
				<a href="" class="button-edit" style="margin-top: 5px;">Редактировать</a>
			{% else %}
				{% if user.is_authenticated %}
					{% if following %}
						<a class="button-edit" href="{% url 'forum:profile_unfollow' author.username %}">Отписаться</a>
					{% else %}
						<a class="button-edit" href="{% url 'forum:profile_follow' author.username %}">Подписаться</a>
					{% endif %}
					<label style="max-width: 200px; margin-top: 20px;"><a class="button-edit" style="margin-top: 5px">Написать</a></label>
					<label><a class="button-edit" style="margin-top: 5px;">Подписаться</a>
					<a class="button-edit" style="margin-top: 5px;">Пожаловаться</a>
				{% else %}
					<a href="{% url 'users:login' %}" class="button-edit">Войти в аккаунт</a>
				{% endif %}
			{% endif %}
		</div>
		<div style="display: block;">
			<div class="frame-right-first">
				<div style="display: flex;">
					<div style="margin: 0 auto 0 0;">
						<label style="color: gray;">{{ author.username }}</label>
					</div>
					<div>
						<label style="color: gray; display: flex;">В сети 10 мин. назад</label>
					</div>
					{% if request.user.is_authenticated %}
						<div>
							<div class="user-button">
								<img src="{% static 'images/other.png' %}" class="other-img">
								<div class="user-button-content">
									<a href="#" style="border-top: 1px solid; border-color: #ff506f; border-top-left-radius: 5px; border-top-right-radius: 5px;">Замьютить</a>
									<a href="#">Заблокировать</a>
									<a href="#">Выдать администратора</a>
									<a href="#" style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">Выдать хуй</a>
								</div>
							</div>
						</div>
					{% endif %}
				</div>
				<hr style="margin-top: 20px; margin-bottom: 20px;">
				<div>
					<label style="color: gray;">Регистрация: </label><label style="color: #ffffff;">{{ author.date_joined|date:'d E Y' }}</label><br>
					<label style="color: gray;">Ранг: <label style="color: #ffffff;">{{ author.rank }}</label></label>
				</div>
				<hr style="margin: 20px 0 20px 0;">
				<div style="display: flex;">
					<label style="color: gray; margin: 0 30px 0 0;">Подписчики: <label style="color: #ff506f;">{{ author. }}</label></label><br>
					<label style="color: gray; margin: 0 30px 0 0;">Лайки: <label style="color: #ff506f;">{{ author.likes }}</label></label><br>
					<label style="color: gray;">Сообщения: <label style="color: #ff506f;">{{ author.messages }}</label></label><br>
				</div>
			</div>
			<div class="frame-right-second">
				<a href="#posts" class="button-tools">Стена</a>
				<a href="#posts" class="button-tools">Посты</a>
				<a href="#posts" class="button-tools">Жалобы</a>
			</div>
			<div class="frame-right-third">
				{% if count_posts != 0 %}
					{% for post in objects %}
						<a style="text-decoration: none;" href="{% url 'forum:post_detail' post.id %}">
							<div class="text-frame post">
								<div style="margin: 0 auto 0 0;">
									<label class="text-frame-title">{{ post.title }}</label><br>
									<label class="text-frame-text">{{ post.pub_date|date:"d E Y / H:i" }}</label>
								</div>
								<div class="avatar-username">
									<img class="user-avatar" src="{{ post.author.avatar.url }}">
									<label class="text-frame-username {% if post.author.username == 'sp1edh4ck' %}admin-username{% endif %}">{{ post.author.username }}</label>
								</div>
							</div>
							{% if not forloop.last %}<br>{% endif %}
						</a>
					{% endfor %}
					{% include '../includes/paginator.html' %}
				{% else %}
					<label style="color: #ffffff;">У пользователя нет постов :(</label>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
