{% extends 'base.html' %}
{% block title %}speedhack / правила{% endblock %}
{% load static %}
{% block content %}
  <div class="main">
    <div class="user-agreement_con">
      <div class="frame-rules">
        <div class="tabItem rules active-tab" id ="rules">
          <strong>1. Основные правила (распространяются на всё).</strong><br>
          <div style="margin-left: 20px;">
            <span style="list-style-type: none;"><span class="brandColor">1.1.</span> Запрещены любые мошеннические действия (пирамиды, хайпы, дропы, airdrop, NFT, ICO, Bounty, крипто-краны, поднятие или умножение чужих денег), кроме случаев, когда вас об этом попросил человек со статусом гл. администратор или владелец, в качестве проверки чего-либо.</span><br>
            <span style="list-style-type: none;"><span class="brandColor">1.2.</span> Запрещены публикации откровенного 18+ контента, убийств, насилия, оружия, наркотических средств, шокирующего контента.</span><br>
            <span style="list-style-type: none;"><span class="brandColor">1.3.</span> Запрещены разжигание ссор на форуме, оскорбления чувств верующих, оскорбления людей другой рассы.</span><br>
            <span style="list-style-type: none;"><span class="brandColor">1.4.</span> Запрещён слив любого контента, который является собственностью сайта.</li><br>
            <span style="list-style-type: none;"><span class="brandColor">1.5.</span> Запрещена передача личного аккаунта пользователя сайта <a href="{% url 'forum:index' %}" target="_blank" rel="noopener noreferrer" class="link-decor">speedhack</a>.</span><br>
            <span style="list-style-type: none;"><span class="brandColor">1.6.</span> На форуме запрещены любые темы, нарушающие <a href="http://pravo.gov.ru/codex/" target="_blank" rel="noopener noreferrer" class="link-decor">законодательство РФ</a>.</span><br>
          </div>
          <br><strong>2. Правила форума.</strong><br>
          <div style="margin-left: 20px;">
            <span style="list-style-type: none;"><span class="brandColor">2.1.</span> Запрещён контент, касающийся личной информации человека, его фотографий и т.д., кроме случаев, когда есть подтверждение на показ данного контента лично от человека.</span><br>
            <span style="list-style-type: none;"><span class="brandColor">2.2.</span> Запрещены посты с подозрительными ссылками, вредоносными файлами, которые могут причинить какой-либо вред пользователям форума.</span><br>
            <span style="list-style-type: none;"><span class="brandColor">2.3.</span> Запрещён спам, реклама (кроме случаев, когда реклама не несёт в себе рекламного смысла, например: ссылка на сайт с ответом на вопорос пользователя).</span><br>
            <span style="list-style-type: none;"><span class="brandColor">2.4.</span> Запрещены темы, не несущие какой-либо пользы.</span><br>
            <span style="list-style-type: none;"><span class="brandColor">2.5.</span> При копировании тем с других сайтов, вы обязаны указать источник в форме ссылки, ответственность за неправильно указанную ссылку вы берёте на себя.</span><br>
            <span style="list-style-type: none;"><span class="brandColor">2.6.</span> Запрещён контент со ставками/азартными играми.</span><br>
            <span style="list-style-type: none;"><span class="brandColor">2.7.</span> Всё, что является платным контентом, который принадлежит сайту <a href="{% url 'forum:index' %}" target="_blank" rel="noopener noreferrer" class="link-decor">speedhack</a>, запрещено дарить, давать в долг и т.д., это можно сделать только в случае, когда вы заранее всё обговорили с администрацией сайта со статусами администратор или гл. администратор.</span><br>
            <span style="list-style-type: none;"><span class="brandColor">2.8.</span> Запрещена любая информация по абузу на сайте (абуз баланса, накрутка статистики и т.д.). В случае нахождения какого-либо бага на сайте, вы можете рассказать о нём гл. администратору или владельцу сайта и получить вознаграждение.</span><br>
            <span style="list-style-type: none;"><span class="brandColor">2.9.</span> Если вы столкнулись с мошенничеством на форуме, то обратитесь в поддержку с пометкой "Мошенническая деятельность на сайте".</span><br>
          </div>
          <br><strong>3. Правила маркета.</strong><br>
          <div style="margin-left: 20px;">
            <span style="list-style-type: none;"><span class="brandColor">3.1.</span> На маркете запрещена продажа личной информации о пользователе, оружия, наркотических средств, 18+ контента.</span><br>
            <span style="list-style-type: none;"><span class="brandColor">3.2.</span> Запрещена многократная продажа одного аккаунта от одного пользователя (данное действие будет рассматриваться, как мошенническая деятельность).</span><br>
            <span style="list-style-type: none;"><span class="brandColor">3.3.</span> Если при покупке чего-либо, вы будете вести общение вне сайта, то вы не получите каких-либо гарантий от сервиса <a href="{% url 'forum:index' %}" target="_blank" rel="noopener noreferrer" class="link-decor">speedhack</a>, а администрация не будет обязана вам помогать.</span><br>
            <span style="list-style-type: none;"><span class="brandColor">3.4.</span> Если вы ведёте мошенническую деятельность вне сайта <a href="{% url 'forum:index' %}" target="_blank" rel="noopener noreferrer" class="link-decor">speedhack</a>, но зарегестрированы на нём, то вы будете заблокированы до момента, пока средства/аккаунт(-ы) не будут возвращены их законным владельцам, а личная информация не будет удалена из общего доступа. В случае, если вы доставите сервису <a href="{% url 'forum:index' %}" target="_blank" class="link-decor">speedhack</a> проблемы связанные с законодательством РФ, то мы можем передать всю личную информацию о вас правоохранительным органам.<br></li>
          </div>
          <br><strong>4. Содержимое сайта.</strong><br>
          <div style="margin-left: 20px;">
            <span style="list-style-type: none; color: gray;">В открытоми доступе нет никакой запрещённой <a href="http://pravo.gov.ru/codex/" target="_blank" rel="noopener noreferrer" class="link-decor-a">законодательством РФ</a> информации.</span><br>
            <span style="list-style-type: none; color: gray;">На форуме существуют закрытые разделы и система "хайдов" - это личная переписка между участниками форума, доступ к которой посторонним людям закрыт.</span><br><br>
            <span style="list-style-type: none;"><span class="brandColor">4.1.</span> Разглашение закрытой информации пользователей (т.е. любой информации под хайдом или из закрытых разделов) запрещено, данная информация является закрытой и не может быть использована против администрации форума.</span><br>
            <span style="list-style-type: none;"><span class="brandColor">4.2.</span> Жалобы на нарушающий законодательство контент принимаются только на содержимое сайта в открытом доступе. Закрытая информация является частной и никак не модерируется.</span><br>
            <span style="list-style-type: none;"><span class="brandColor">4.3.</span> Предоставление скриншотов частной переписки, закрытой информации является нарушением конфиденциальности частной переписки, такую информацию нельзя передавать людям, не имеющим к ней доступа. Пользователи сайта ознакомлены и согласны с данными правилами сайта, о чем они поставили галочку при регистрации.</span><br>
          </div>
          <br><strong>5. Общие положения.</strong><br>
          <div style="margin-left: 20px;">
            <span><span class="brandColor">5.1.</span> Регистрация пользователя на форуме является бесплатной, добровольной и означает безоговорочное согласие с настоящими аравилами, доступными по ссылке "<a href="{% url 'forum:rules' %}" target="_blank" rel="noopener noreferrer" class="link-decor">Правила форума</a>".</span><br>
            <span><span class="brandColor">5.2.</span> Администрация не несет ответственность за содержимое сайтов, размещенных в рекламных блоках форума.</span><br>
            <span><span class="brandColor">5.3.</span> Администрация имеет право по своему усмотрению хранить, обрабатывать и предоставлять третьим лицам любую информацию пользователей, в том числе "Персональные данные". При этом пользователь не в праве требовать от администрации каких-либо компенсаций.</span><br>
            <span><span class="brandColor">5.4.</span> Пользователь соглашается получать информацию, в том числе рекламного характера, по электронной почте, телефону и иным реквизитам, указанным в персональном профиле пользователя от администрации и третьих лиц.</span><br>
            <span><span class="brandColor">5.5.</span> Пользователь принимает услуги форума без каких-либо гарантий со стороны администрации.</span><br>
            <span><span class="brandColor">5.6.</span> Администрация не несет ответственности за работоспособность сайта, прямые или косвенные убытки возникшие вследствие его использования или не использования, а также технических сбоев.</span><br>
          </div>
          <br><strong>6. Администрация сайта в праве без объяснения причины:</strong><br>
          <div style="margin-left: 20px;">
            <span><span class="brandColor">6.1.</span> Удалить тему на форуме/маркете.</span><br>
            <span><span class="brandColor">6.2.</span> Заблокировать ваш аккаунт.</span><br>
            <span><span class="brandColor">6.3.</span> Удалить ваш аккаунт и всю информацию о вас безвозвратно.</span><br>
            <span><span class="brandColor">6.4.</span> Заблокировать баланс сайта, до выяснения обстоятельств.</span><br><br>
          </div>
          <span style="color: gray;">О любых нарушения, вы можете сообщить, создав тему в разделе жалобы!</span>
        </div>
        <div class="switch-info" style="min-width: 205px; max-width: 205px; max-height: 230px;">
          <a href="{% url 'forum:faq' %}" class="switch-button" style="color: #d6d6d6; text-decoration: none;">Группы пользователей</a>
          <a href="{% url 'forum:faq_q' %}" class="switch-button" style="color: #d6d6d6; text-decoration: none;">Общие вопросы</a>
          <a href="{% url 'forum:rules' %}" class="switch-button active-tab" style="color: #d6d6d6; text-decoration: none;">Условия и правила</a>
          <a href="{% url 'forum:user_ag' %}" class="switch-button" style="color: #d6d6d6; text-decoration: none;">Пользовательское соглашение</a>
          <a href="{% url 'forum:words' %}" class="switch-button" style="color: #d6d6d6; text-decoration: none;">Ключевые слова</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}