{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}{{ group.title }}{% endblock %}
{% load user_filters %}
{% block content %}
  <div class="main">
    <div class="frames_con optimization">
      <div style="display: block;">
        <div class="frame-left">
          <div style="margin-bottom: 20px; display: flex;">
            {% if request.user.is_authenticated %}
              {% if request.user.rank == "заблокирован" %}
                <label href="" class="button-frame" style="background: gray; cursor: default;">Создать тему</label>
              {% else %}
                <a href="{% url 'forum:post_create' %}" class="button-frame">Создать тему</a>
              {% endif %}
            {% else %}
              <a href="{% url 'users:login' %}" class="button-frame">Войти и создать тему</a>
            {% endif %}
            <label href="" class="button-frame open-topics" id="menu_0_0">Открыть разделы</label>
          </div>
          {% include 'includes/filters.html' %}
        </div>
      </div>
      <div style="display: block;">
        <div class="index-frame index-frame__group">
          {% if posts.count != 0 %}
            <div style="margin: 0 0 5px 10px;">
              <div>
                <label class="posts-group-title">{{ group.title }}</label>
              </div>
              {% if helpers.count != 0 %}<label class="help-group-title">Проверяющие раздела: {% for helper in helpers %}<a class="help-group-username {% if helper.helper.username_style != 'gray-un' and helper.helper.rank != 'заблокирован' %}{{ helper.helper.username_style }}{% endif %}" href="{% url 'forum:profile' helper.helper.username %}" {% if helper.helper.rank == 'заблокирован' %}style="color: #515151; text-decoration: line-through;"{% endif %}>{{ helper.helper }}</a>{% if helpers.count > 1 and not forloop.last %}<span class="pink-separator"></span>{% endif %}{% endfor %}</label>{% endif %}
            </div>
            <div class="search-header search-header-else">
              <div>
                <form action="{% url 'forum:group_filter_posts' group.slug %}">
                  <input class="input-search" type="search" name="search" placeholder="Поиск" aria-label="Search">
                </form>
              </div>
              <div>
                <a href="{% url 'forum:group_filter_posts' group.slug %}"><i class="fa fa-times-circle fa-lg icons-users"></i></a>
              </div>
            </div>
            <hr style="margin-bottom: 20px; border: 1px solid #444444; border-radius: 10px;">
            {% for post in objects %}
              {% if post.author.rank != "заблокирован" %}
              <a style="text-decoration: none;" href="{% url 'forum:post_detail' post.id %}">
                <div class="text-frame post">
                  <div class="text-frame-div" style="margin: 0 auto 0 0;">
                    <div class="text-frame-title" style="margin-bottom: 15px;">{{ post.title }}</div>
                    <div style="display: flex;">
                      {% if post.open_activities %}<label class="tables-tags">Активности</label><br>{% endif %}
                      <div class="text-frame-text" style="margin: 0 2px 0 0;">
                        <a href="{% url 'forum:profile' post.author.username %}" class="post-author-link"><label class="text-frame-username {% if post.author.username_style != 'gray-un' and post.author.rank != 'заблокирован' %}{{ post.author.username_style }}{% endif %}" style="{% if post.author.rank == 'заблокирован' %}text-decoration: line-through; z-index: 10000;{% endif %} padding-left: 4px;">{{ post.author.username }}</label></a>
                      </div>
                      <span class="pink-separator" style="margin-top: 8px;"></span>
                      <div class="text-frame-text" style="margin: 0 10px 0 2px;">
                        {{ post.pub_date|date:"d E Y / H:i" }}
                      </div>
                      <div class="text-frame-text" style="margin: 0 10px 0 0;">
                        <i class="fa-solid fa-message fa-sm"></i> {{ post.comment.count|bf_number }}
                      </div>
                      <div class="text-frame-text" style="margin: 0;">
                        <i class="fa-solid fa-heart"></i> {{ post.symp.count|bf_number }}
                      </div>
                    </div>
                  </div>
                  {% if post.comment.count != 0 %}
                    <div class="avatar-username" style="min-width: 180px; max-width: 180px;">
                      <div>
                        <img class="user-avatar" src="{{ post.comment.last.author.avatar.url }}">
                        {% if post.comment.last.author.is_online == True %}
                          <div class="online online-avatar-index"></div>
                        {% endif %}
                      </div>
                      <div style="display: block;">
                        <div style="display: block;">
                          <a href="{% url 'forum:profile' post.comment.last.author.username %}" class="post-author-link">
                            <label class="text-frame-username {% if post.comment.last.author.username_style != 'gray-un' and post.comment.last.author.rank != 'заблокирован' %}{{ post.comment.last.author.username_style }}{% endif %}" style="{% if post.comment.last.author.rank == 'заблокирован' %}text-decoration: line-through; z-index: 10000;{% endif %} padding-left: 4px;">{{ post.comment.last.author.username }}</label>
                          </a>
                        </div>
                        <div class="text-frame-text" style="margin: 0;">{{ post.comment.last.created|date:"d E Y" }}</div>
                      </div>
                    </div>
                  {% else %}
                    <div class="avatar-username" style="min-width: 180px; max-width: 180px;">
                      <div>
                        <img class="user-avatar" src="{{ post.author.avatar.url }}">
                        {% if post.author.is_online == True %}
                          <div class="online online-avatar-index"></div>
                        {% endif %}
                      </div>
                      <div style="display: block;">
                        <div style="display: block;">
                          <a href="{% url 'forum:profile' post.author.username %}" class="post-author-link">
                            <label class="text-frame-username {% if post.author.username_style != 'gray-un' and post.author.rank != 'заблокирован' %}{{ post.author.username_style }}{% endif %}" style="{% if post.author.rank == 'заблокирован' %}text-decoration: line-through; z-index: 10000;{% endif %} padding-left: 4px;">{{ post.author.username }}</label>
                          </a>
                        </div>
                        <div class="text-frame-text" style="margin: 0;">{{ post.pub_date|date:"d E Y" }}</div>
                      </div>
                    </div>
                  {% endif %}
                </div>
              </a>
              {% endif %}
            {% endfor %}
            <div style="margin-bottom: 15px;"></div>
            {% include '../includes/paginator.html' %}
          {% else %}
            <div style="margin: 0 0 5px 10px;">
              <div>
                <label class="posts-group-title">{{ group.title }}</label>
              </div>
              {% if helpers.count != 0 %}<label class="help-group-title">Проверяющие раздела: {% for helper in helpers %}<a class="help-group-username {% if helper.helper.username_style != 'gray-un' %}{{ helper.helper.username_style }}{% endif %}" href="{% url 'forum:profile' helper.helper.username %}">{{ helper.helper }}</a>{% if helpers.count > 1 and not forloop.last %}<span class="pink-separator"></span>{% endif %}{% endfor %}</label>{% endif %}
            </div>
            <div class="search-header search-header-else">
              <div>
                <form action="{% url 'forum:group_filter_posts' group.slug %}">
                  <input class="input-search" type="search" name="search" placeholder="Поиск" aria-label="Search">
                </form>
              </div>
              <div>
                <a href="{% url 'forum:group_filter_posts' group.slug %}"><i class="fa fa-times-circle fa-lg icons-users"></i></a>
              </div>
            </div>
            <hr style="margin-bottom: 20px; border: 1px solid #444444; border-radius: 10px;">
            <div style="text-align: center;">
              <label style="color: #515151; font-size: 18px; font-weight: bold;">На данную тему не было созданно ещё ни одного поста {% if request.user.is_authenticated %}<a href="{% url 'forum:post_create' %}" class="link-tap">*создать*</a>{% else %}<a href="{% url 'users:login' %}" class="link-tap">*создать*</a>{% endif %}</label>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}
