{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}{{ group.title }}{% endblock %}
{% load user_filters %}
{% block content %}
  <div class="main">
    <div class="frames_con optimization">
      <div style="display: block;">
        <div class="frame-left">
          <div style="margin-bottom: 20px; display: flex;">
            {% if request.user.is_authenticated %}
              {% if request.user.rank == "заблокирован" %}
                <label href="" class="button-frame" style="background: gray; cursor: default;">Создать тему</label>
              {% else %}
                <a href="{% url 'forum:post_create' %}" class="button-frame">Создать тему</a>
              {% endif %}
            {% else %}
              <a href="{% url 'users:login' %}" class="button-frame">Войти и создать тему</a>
            {% endif %}
            <label href="" class="button-frame open-topics" id="menu_0_0">Открыть разделы</label>
          </div>
          {% include 'includes/filters.html' %}
        </div>
      </div>
      <div style="display: block;">
        <div class="index-frame index-frame__group">
          {% if posts.count != 0 %}
            <div style="margin: 0 0 5px 10px;">
              <div>
                <label class="posts-group-title">{{ group.title }}</label>
              </div>
              {% if helpers.count != 0 %}<label class="help-group-title">Проверяющие раздела: {% for helper in helpers %}<a class="help-group-username {% if helper.helper.username_style != 'gray-un' and helper.helper.rank != 'заблокирован' %}{{ helper.helper.username_style }}{% endif %}" href="{% url 'forum:profile' helper.helper.username %}" {% if helper.helper.rank == 'заблокирован' %}style="color: #515151; text-decoration: line-through;"{% endif %}>{{ helper.helper }}</a>{% if helpers.count > 1 and not forloop.last %}<span class="pink-separator"></span>{% endif %}{% endfor %}</label>{% endif %}
            </div>
            <div class="search-header search-header-else">
              <div>
                <form action="{% url 'forum:group_filter_posts' group.slug %}">
                  <input class="input-search" type="search" name="search" placeholder="Поиск" aria-label="Search">
                </form>
              </div>
              <div>
                <a href="{% url 'forum:group_filter_posts' group.slug %}"><i class="fa fa-times-circle fa-lg icons-users"></i></a>
              </div>
            </div>
            <hr style="margin-bottom: 20px; border: 1px solid #444444; border-radius: 10px;">
            {% for post in objects %}
              {% if post.author.rank != "заблокирован" %}
                <div class="post-group__card">
                  <div class="post-group__main-block">
                    <div class="post-group__title-block">
                      <a class="post-group__title" href="{% url 'forum:post_detail' post.id %}">{{ post.title }}</a>
                    </div>
                    <div class="post-group__info">
                      <a class="post-group__username" href="{% url 'forum:profile' post.author.username %}">
                        {{ post.author.username }}
                      </a>
                      <span class="pink-separator" style="margin-top: 8px;"></span>
                      <div class="post-group__info-additional">
                        <div>
                          {{ post.pub_date|date:"d E Y / H:i" }}
                        </div>
                        <div>
                          <i class="fa-solid fa-message fa-sm"></i> {{ post.comment.count|bf_number }}
                        </div>
                        <div>
                          <i class="fa-solid fa-heart"></i> {{ post.symp.count|bf_number }}
                        </div>
                      </div>
                    </div>
                  </div>
                  {% if post.comment.count != 0 %}
                    <div class="post-group__comment-card">
                      <a class="post-group__comment-avatar-block">
                        <img class="post-group__comment-avatar" src="{{ post.comment.last.author.avatar.url }}">
                      </a>
                      <div class="post-group__comment-info-block">
                        <a>{{ post.comment.last.author.username }}</a>
                        <span class="post-group__comment-date">{{ post.comment.last.created|date:"d E Y" }}</span>
                      </div>
                    </div>
                  {% else %}
                    <div class="post-group__comment-card">
                      <a class="post-group__comment-avatar-block">
                        <img class="post-group__comment-avatar" src="{{ post.author.avatar.url }}">
                      </a>
                      <div class="post-group__comment-info-block">
                        <a>{{ post.author.username }}</a>
                        <span class="post-group__comment-date">{{ post.pub_date|date:"d E Y" }}</span>
                      </div>
                    </div>
                  {% endif %}
                </div>
              {% endif %}
            {% endfor %}
            <div style="margin-bottom: 15px;"></div>
            {% include '../includes/paginator.html' %}
          {% else %}
            <div style="margin: 0 0 5px 10px;">
              <div>
                <label class="posts-group-title">{{ group.title }}</label>
              </div>
              {% if helpers.count != 0 %}<label class="help-group-title">Проверяющие раздела: {% for helper in helpers %}<a class="help-group-username {% if helper.helper.username_style != 'gray-un' %}{{ helper.helper.username_style }}{% endif %}" href="{% url 'forum:profile' helper.helper.username %}">{{ helper.helper }}</a>{% if helpers.count > 1 and not forloop.last %}<span class="pink-separator"></span>{% endif %}{% endfor %}</label>{% endif %}
            </div>
            <div class="search-header search-header-else">
              <div>
                <form action="{% url 'forum:group_filter_posts' group.slug %}">
                  <input class="input-search" type="search" name="search" placeholder="Поиск" aria-label="Search">
                </form>
              </div>
              <div>
                <a href="{% url 'forum:group_filter_posts' group.slug %}"><i class="fa fa-times-circle fa-lg icons-users"></i></a>
              </div>
            </div>
            <hr style="margin-bottom: 20px; border: 1px solid #444444; border-radius: 10px;">
            <div style="text-align: center;">
              <label style="color: #515151; font-size: 18px; font-weight: 700;">На данную тему не было созданно ещё ни одного поста {% if request.user.is_authenticated %}<a href="{% url 'forum:post_create' %}" class="link-tap">*создать*</a>{% else %}<a href="{% url 'users:login' %}" class="link-tap">*создать*</a>{% endif %}</label>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}
