{% extends 'base.html' %}
{% load static %}
{% block title %}speedhack / покупка привилегий{% endblock %}
{% load user_filters %}
{% block content %}
  <div class="main">
    <div class="frame-profile_edit_con">
      <div class="tabItem profile-edit" {% if user.unique == True %}style="max-height: 25px;"{% endif %} id="status_upgrade">
        <div style="background: #242424b6; border-radius: 10px;">
          {% if user.buy_privilege != "уник" %}
            {% if user.market_privilege == "нет привилегий" and user.buy_privilege != "уник" %}
              <div style="display: block; padding: 20px;">
                <div style="margin-bottom: 10px;">
                  <label style="font-size: 18px; margin-right: 10px;">Доступ к продажам на маркете</label> <label class="sum-upgrade" style="color: #ff506f; font-weight: 600;">100 <i class="fas fa-ruble-sign fa-lg icon-rub-upgrade"></i></label> <label style="font-size: 18px; color: gray;">/ 30 дней</label>
                </div>
                <div style="color: #c5c5c5; line-height: 1.75;">
                  <label>Возможность продажи аккаунтов любой площадки</label><br>
                  <label>Поднятие объявлений раз в 24 часа</label><br>
                  <label>Доступ к Market API</label><br>
                </div>
                <div>
                  {% if user.balance >= 100 %}
                    <a href="{% url 'forum:upgrade' user.username 1 %}" class="button-save">Купить</a>
                  {% else %}
                    <a class="button-save a-fix-width">Пополнить баланс</a>
                  {% endif %}
                </div>
              </div>
            {% endif %}
            {% if user.profile_sub == False and user.buy_privilege != "уник" %}
              {% if user.market_privilege == "нет привилегий" %}
                <hr class="hr-post-detail" style="margin: 0;">
              {% endif %}
              <div style="display: block; padding: 20px;">
                <div style="margin-bottom: 10px;">
                  <label style="font-size: 18px; margin-right: 10px;">Фон в профиле</label> <label class="sum-upgrade" style="color: #ff506f; font-weight: 600;">100 <i class="fas fa-ruble-sign fa-lg icon-rub-upgrade"></i></label> <label style="font-size: 18px; color: gray;">/ 30 дней</label>
                </div>
                <div style="color: #c5c5c5; line-height: 1.75;">
                  <label>Поставь желаемый фон в своем профиле и выделись среди остальных. Твой фон будет виден всем.</label><br>
                </div>
                <div>
                  {% if user.balance >= 100 %}
                    <a href="{% url 'forum:upgrade' user.username 2 %}" class="button-save">Купить</a>
                  {% else %}
                    <a class="button-save a-fix-width">Пополнить баланс</a>
                  {% endif %}
                </div>
              </div>
            {% endif %}
            {% if user.buy_privilege == "нет привилегий" %}
              {% if user.profile_sub == False or user.market_privilege == "нет привилегий" %}
                <hr class="hr-post-detail" style="margin: 0;">
              {% endif %}
              <div style="display: block; padding: 20px;">
                <div style="margin-bottom: 10px;">
                  <label style="font-size: 18px; margin-right: 10px;">Легенда</label> <label class="sum-upgrade" style="color: #ff506f; font-weight: 600;">2999 <i class="fas fa-ruble-sign fa-lg icon-rub-upgrade"></i></label> <label style="font-size: 18px; color: gray;">/ 12 месяцев</label>
                </div>
                <div style="color: #c5c5c5; line-height: 1.75;">
                  <label>Размещение темы о вашем магазине на форуме</label><br>
                  <label>Поднятие тем в ленте раз в 24 часа</label><br>
                  <label>Смена ника один раз в 6 месяцев</label><br>
                </div>
                <div>
                  {% if user.balance >= 2999 %}
                    <a href="{% url 'forum:upgrade' user.username 3 %}" class="button-save">Купить</a>
                  {% else %}
                    <a class="button-save a-fix-width">Пополнить баланс</a>
                  {% endif %}
                </div>
              </div>
            {% endif %}
            {% if user.buy_privilege != "суприм" and user.buy_privilege != "уник" %}
              {% if user.market_privilege == "нет привилегий" or user.profile_sub == False or user.buy_privilege != "легенда" %}
                <hr class="hr-post-detail" style="margin: 0;">
              {% endif %}
              <div style="display: block; padding: 20px;">
                <div style="margin-bottom: 10px;">
                  <label style="font-size: 18px; margin-right: 10px;">Суприм</label> <label class="sum-upgrade" style="color: #ff506f; font-weight: 600;">1500 <i class="fas fa-ruble-sign fa-lg icon-rub-upgrade"></i></label> <label style="font-size: 18px; color: gray;">/ 3 месяца</label>
                </div>
                <div style="color: #c5c5c5; line-height: 1.75;">
                  <label>Размещение темы о вашем магазине на форуме</label><br>
                  <label>Поднятие тем в ленте раз в 12 часов</label><br>
                  <label>Смена ника один раз в 3 месяца</label><br>
                  <label>Уникальный банер под аватаркой</label><br>
                  <label>Фон в профиле</label><br>
                </div>
                <div>
                  {% if user.balance >= 1499 %}
                    <a href="{% url 'forum:upgrade' user.username 4 %}" class="button-save">Купить</a>
                  {% else %}
                    <a class="button-save a-fix-width">Пополнить баланс</a>
                  {% endif %}
                </div>
              </div>
            {% endif %}
            {% if user.buy_privilege != "уник" %}
              {% if user.market_privilege == "нет привилегий" or user.profile_sub == False or user.buy_privilege != "суприм" %}
                <hr class="hr-post-detail" style="margin: 0;">
              {% endif %}
              <div style="display: block; padding: 20px;">
                <div style="margin-bottom: 10px;">
                  <label style="font-size: 18px; margin-right: 10px;">Уник</label> <label class="sum-upgrade" style="color: #ff506f; font-weight: 600;">7500 <i class="fas fa-ruble-sign fa-lg icon-rub-upgrade"></i></label> <label style="font-size: 18px; color: gray;">/ навсегда</label>
                </div>
                <div style="color: #c5c5c5; line-height: 1.75;">
                  <label>Выделись перед всеми уникальным цветом ника, который ты выберешь сам</label><br>
                  <label>Размещение темы о вашем магазине на форуме</label><br>
                  <label>Поднятие тем в ленте раз в 6 часов</label><br>
                  <label>Смена ника один раз в месяц</label><br>
                  <label>Скрытие счётчика симпатий в темах</label><br>
                  <label>Анимированная аватарка в темах</label><br>
                  <label>Скрытие онлайна на форуме</label><br>
                  <label>Доступ к продажам на маркете</label><br>
                  <label>Доступ к фону профиля</label><br>
                </div>
                <div>
                  {% if user.balance >= 7500 %}
                    <a href="{% url 'forum:upgrade' user.username 5 %}" class="button-save">Купить</a>
                  {% else %}
                    <a class="button-save a-fix-width">Пополнить баланс</a>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          {% else %}
            <div style="padding: 20px; text-align: center;">
              <label style="color: #515151; font-size: 18px; font-weight: bold;">Вы приобрели все наши товары :)</label>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="switch-profile-edit">
        <a href="{% url 'forum:profile_info_edit' user.username %}" class="switch-button-profile-edit">Персональная информация</a>
        {% comment %} <a href="{% url 'forum:' %}" class="switch-button-profile-edit">Контактная информация</a> {% endcomment %}
        {% comment %} <a href="{% url 'forum:' %}" class="switch-button-profile-edit">Предпочтения</a> {% endcomment %}
        {% comment %} <a href="{% url 'forum:' %}" class="switch-button-profile-edit">Приватность</a> {% endcomment %}
        {% comment %} <a href="{% url 'forum:' %}" class="switch-button-profile-edit">Настройка оповещений</a> {% endcomment %}
        {% comment %} <a href="{% url 'forum:' %}" class="switch-button-profile-edit">Чёрный список</a> {% endcomment %}
        <a href="{% url 'forum:profile_upgrade' user.username %}" class="switch-button-profile-edit active-tab">Повышение статуса</a>
        {% comment %} <a href="{% url 'forum:' %}" class="switch-button-profile-edit">Учётные записи</a> {% endcomment %}
        {% comment %} <a href="{% url 'forum:' %}" class="switch-button-profile-edit">Безопасность</a> {% endcomment %}
        {% comment %} <a href="{% url 'forum:' %}" class="switch-button-profile-edit">API для разработчика</a> {% endcomment %}
        {% comment %} <a href="{% url 'forum:' %}" class="switch-button-profile-edit">Настройки маркета</a> {% endcomment %}
      </div>
    </div>
  </div>
{% endblock %}
