{% extends 'base.html' %}
{% load static %}
{% block title %}speedhack / пользователи{% endblock %}
{% load user_filters %}
{% block content %}
  <div class="main">
    <div class="frame_con">
      <div style="display: block;">
        <div class="frame-left-first-users">
          <span style="color: gray; font-size: 18px;">Найти пользователя</span>
          <div style="display: flex;">
            <div>
              <form action="{% url 'forum:users' %}">
                <input class="input-search-users" type="search" name="search" placeholder="Имя..." aria-label="Search">
              </form>
            </div>
            <div>
              <a href="{% url 'forum:users' %}"><i class="fa fa-times-circle fa-lg icons-users"></i></a>
            </div>
          </div>
        </div>
        <div class="frame-left-second-users">
          <span style="color: gray; font-size: 16px;">Статистика форума</span>
          <div style="display: block; font-size: 15px;">
            <div style="margin-top: 15px; color: gray;">
              <label>Тем:</label>
              <label style="color: #d6d6d6;">{{ posts.count|bf_number }}</label>
            </div>
            <div style="margin-top: 3px; color: gray;">
              <label>Сообщений:</label>
              <label style="color: #d6d6d6;">{{ messages.count|bf_number }}</label>
            </div>
            <div style="margin-top: 3px; color: gray;">
              <label>Пользователей:</label>
              <label style="color: #d6d6d6;">{{ users_list.count|bf_number }}</label>
            </div>
          </div>
        </div>
        {% comment %} <div class="frame-left-second-users">
          <span style="color: gray; font-size: 16px;">Статистика маркета</span>
          <div style="display: block; font-size: 15px;">
            <div style="margin-top: 15px; color: gray;">
              <label>Продавцов:</label>
              <label style="color: #d6d6d6;">{{ users_sellers|bf_number }}</label>
            </div>
            <div style="margin-top: 3px; color: gray;">
              <label>Аккаунтов:</label>
              <label style="color: #d6d6d6;">{{ accs.count|bf_number }}</label>
            </div>
          </div>
        </div> {% endcomment %}
        <div class="frame-left-second-users" style="{% if new_users.count == 1 %}min-height: 90px; max-height: 90px;{% elif new_users.count == 2 %}min-height: 150px; max-height: 150px;{% elif new_users.count == 3 %}min-height: 200px; max-height: 200px;{% elif new_users.count == 4 %}min-height: 260px; max-height: 260px;{% elif new_users.count == 5 %}min-height: 320px; max-height: 320px;{% elif new_users.count == 6 %}min-height: 375px; max-height: 375px;{% elif new_users.count == 7 %}min-height: 440px; max-height: 440px;{% endif %}">
          <div style="color: gray; font-size: 18px; margin-bottom: 15px;">Новые пользователи</div>
          {% for user in new_users %}
            <div style="display: flex;">
              <a class="a-users" href="{% url 'forum:profile' user.username %}">
                <img style="width: 50px; border-radius: 50px;" src="{{ user.avatar.url }}">
              </a>
              <div style="margin-left: 10px;">
                <a href="{% url 'forum:profile' user.username %}" style="text-decoration: none; cursor: pointer; font-size: 14px;">
                  <label class="users-un {% if user.username_style != 'gray-un' and user.rank != 'заблокирован' %}{{ user.username_style }}{% endif %}" {% if user.rank == 'заблокирован' %}style="text-decoration: line-through;"{% endif %} {% if user.username == "root" %}style="color: red;"{% endif %} style=" font-size: 16px;">{{ user.username }}</label>
                </a>
                <div style="color: #d6d6d6; font-size: 14px;">{{ user.date_joined|date:'d E Y' }}</div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div>
        <div class="admin-frame-right" style="margin: 0 0 15px 0; padding: 20px 0 0 20px; min-height: 50px;">
          <a data-tab="#users_list_bySymps" class="button-tools active-tab">Больше всех симпатий</a>
          <a data-tab="#users_list_byComments" class="button-tools">Больше всех сообщений</a>
          <a data-tab="#users_list_byStaff" class="button-tools">Команда форума</a>
        </div>
        <div id="users_list_bySymps" class="tabItem frame-right-users users-display active-tab" style="{% if users_list_bySymps.count == 0 %}max-height: 60px;{% elif users_list_bySymps.count == 1 %}max-height: 100px;{% elif users_list_bySymps.count == 2 %}max-height: 210px;{% elif users_list_bySymps.count == 3 %}max-height: 320px;{% endif %}">
          {% if users_list_bySymps.count != 0 %}
            {% for user in users_list_bySymps %}
              <div class="users-div">
                <div style="padding: 10px 0 10px 10px;">
                  <a class="a-users" href="{% url 'forum:profile' user.username %}">
                    <img style="width: 60px; border-radius: 50px;" src="{{ user.avatar.url }}">
                  </a>
                  {% if user.is_online == True %}
                    <div class="online online-avatar"></div>
                  {% endif %}
                </div>
                <div style="margin-left: 20px; padding: 10px 0 10px 0;">
                  <div style="display: flex;">
                    <div style="margin: 0;">
                      <a href="{% url 'forum:profile' user.username %}" style="text-decoration: none; cursor: pointer;">
                        <label class="users-un {% if user.username_style != 'gray-un' and user.rank != 'заблокирован' %}{{ user.username_style }}{% endif %}" {% if user.rank == 'заблокирован' %}style="text-decoration: line-through;"{% endif %} {% if user.username == "root" %}style="color: red;"{% endif %}>{{ user.username }}</label>
                      </a>
                      <div style="color: #909090; margin: 3px 0;">
                        <label>{{ user.description }}</label>
                      </div>
                      <div style="margin-top: 7px; color: #999999; font-weight: bold;">
                        <img class="heart-users" src="{% static 'images/heart_gray.png' %}"> <label style="margin-right: 20px;">{{ user.symper.count|bf_number }}</label>
                        <img class="heart-users" src="{% static 'images/messages.png' %}"> <label>{{ user.comments.count|bf_number }}</label>
                      </div>
                    </div>
                    {% comment %} <div style="align: right;">
                      <label style="color: #ff506f; font-size: 21px;">{{ user.symps }}</label>
                    </div> {% endcomment %}
                  </div>
                </div>
              </div>
              {% if not forloop.last %}<hr style="border: 1px solid #444444; padding: 0;">{% endif %}
            {% endfor %}
          {% else %}
            <div style="margin: 15px 0 0 20px; text-align: center; padding: 15px;">
              <label style="color: #515151; font-size: 18px; font-weight: bold;">Нет пользователя с данным именем :/</label>
            </div>
          {% endif %}
        </div>
        <div id="users_list_byComments" class="tabItem frame-right-users users-display" style="{% if users_list_byComments.count == 0 %}max-height: 60px;{% elif users_list_byComments.count == 1 %}max-height: 100px;{% elif users_list_byComments.count == 2 %}max-height: 210px;{% elif users_list_byComments.count == 3 %}max-height: 320px;{% endif %}">
          {% if users_list_byComments.count != 0 %}
            {% for user in users_list_byComments %}
              <div class="users-div">
                <div style="padding: 10px 0 10px 10px;">
                  <a class="a-users" href="{% url 'forum:profile' user.username %}">
                    <img style="width: 60px; border-radius: 50px;" src="{{ user.avatar.url }}">
                  </a>
                  {% if user.is_online == True %}
                    <div class="online online-avatar"></div>
                  {% endif %}
                </div>
                <div style="margin-left: 20px; padding: 10px 0 10px 0;">
                  <div style="display: flex;">
                    <div style="margin: 0;">
                      <a href="{% url 'forum:profile' user.username %}" style="text-decoration: none; cursor: pointer;">
                        <label class="users-un {% if user.username_style != 'gray-un' and user.rank != 'заблокирован' %}{{ user.username_style }}{% endif %}" {% if user.rank == 'заблокирован' %}style="text-decoration: line-through;"{% endif %} {% if user.username == "root" %}style="color: red;"{% endif %}>{{ user.username }}</label>
                      </a>
                      <div style="color: #909090; margin: 3px 0;">
                        <label>{{ user.description }}</label>
                      </div>
                      <div style="margin-top: 7px; color: #999999; font-weight: bold;">
                        <img class="heart-users" src="{% static 'images/heart_gray.png' %}"> <label style="margin-right: 20px;">{{ user.symper.count|bf_number }}</label>
                        <img class="heart-users" src="{% static 'images/messages.png' %}"> <label>{{ user.comments.count|bf_number }}</label>
                      </div>
                    </div>
                    {% comment %} <div style="align: right;">
                      <label style="color: #ff506f; font-size: 21px;">{{ user.symps }}</label>
                    </div> {% endcomment %}
                  </div>
                </div>
              </div>
              {% if not forloop.last %}<hr style="border: 1px solid #444444; padding: 0;">{% endif %}
            {% endfor %}
          {% else %}
            <div style="margin: 15px 0 0 20px; text-align: center; padding: 15px;">
              <label style="color: #515151; font-size: 18px; font-weight: bold;">Нет пользователя с данным именем :/</label>
            </div>
          {% endif %}
        </div>
        <div id="users_list_byStaff" class="tabItem frame-right-users users-display" style="{% if users_list_byStaff.count == 0 %}max-height: 60px;{% elif users_list_byStaff.count == 1 %}max-height: 100px;{% elif users_list_byStaff.count == 2 %}max-height: 230px;{% elif users_list_byStaff.count == 3 %}max-height: 320px;{% endif %}">
          {% if users_list_byStaff.count != 0 %}
            {% for user in users_list_byStaff %}
              {% if user.rank_lvl >= "4" %}
                <div class="users-div">
                  <div style="padding: 10px 0 10px 10px;">
                    <a class="a-users" href="{% url 'forum:profile' user.username %}">
                      <img style="width: 60px; border-radius: 50px;" src="{{ user.avatar.url }}">
                    </a>
                    {% if user.is_online == True %}
                      <div class="online online-avatar"></div>
                    {% endif %}
                  </div>
                  <div style="margin-left: 20px; padding: 10px 0 10px 0;">
                    <div style="display: flex;">
                      <div style="margin: 0;">
                        <a href="{% url 'forum:profile' user.username %}" style="text-decoration: none; cursor: pointer;">
                          <label class="users-un {% if user.username_style != 'gray-un' and user.rank != 'заблокирован' %}{{ user.username_style }}{% endif %}" {% if user.rank == 'заблокирован' %}style="text-decoration: line-through;"{% endif %} {% if user.username == "root" %}style="color: red;"{% endif %}>{{ user.username }}</label>
                        </a>
                        <div style="color: #909090; margin: 3px 0;">
                          <label>{{ user.description }}</label>
                        </div>
                        <div style="margin-top: 7px; color: #999999; font-weight: bold;">
                          <img class="heart-users" src="{% static 'images/heart_gray.png' %}"> <label style="margin-right: 20px;">{{ user.symper.count|bf_number }}</label>
                          <img class="heart-users" src="{% static 'images/messages.png' %}"> <label>{{ user.comments.count|bf_number }}</label>
                        </div>
                      </div>
                      {% comment %} <div>
                        <label style="color: #ff506f; font-size: 21px;">{{ users.symps }}</label>
                      </div> {% endcomment %}
                    </div>
                  </div>
                </div>
                {% if not forloop.last %}<hr style="border: 1px solid #444444; padding: 0;">{% endif %}
              {% endif %}
            {% endfor %}
          {% else %}
            <div style="margin: 15px 0 0 20px; text-align: center; padding: 15px;">
              <label style="color: #515151; font-size: 18px; font-weight: bold;">Нет пользователя с данным именем :/</label>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
{% endblock %}