{% extends 'base.html' %}
{% block title %}speedhack / подписки пользователя {{ author.username }}{% endblock %}
{% load static %}
{% load user_filters %}
{% block content %}
  <div class="main">
    <div class="frame_con" style="display: block;">
      <label class="link-title"><a href="{% url 'forum:index' %}" class="link-title-main">Форум</a> <label style="margin: 0 5px;">/</label> <a href="{% url 'forum:profile' author.username %}" class="link-title-main">{{ author.username }}</a></label>
      <div class="user-symps-frame">
        <div>
          {% if user_subscriptions.count != 0 %}
            {% for user_subscription in user_subscriptions %}
              <div class="users-div" style="{% if user_subscription.user.description != '' %}min-height: 100px;{% endif %}">
                <div style="padding: 10px 0 10px 10px;">
                  <a class="a-users" href="{% url 'forum:profile' user_subscription.author.username %}">
                    <img style="width: 60px; border-radius: 50px;" src="{{ user_subscription.author.avatar.url }}">
                  </a>
                </div>
                <div style="margin-left: 20px; padding: 10px 0 10px 0;">
                  <div style="display: flex;">
                    <div style="margin: 0;">
                      <a href="{% url 'forum:profile' user_subscription.author.username %}" style="text-decoration: none; cursor: pointer;">
                        <label class="users-un {% if user_subscription.author.username_style != 'gray-un' and user_subscription.author.rank != 'заблокирован' %}{{ user_subscription.author.username_style }}{% endif %}" {% if user.rank == 'заблокирован' %}style="text-decoration: line-through;"{% endif %} {% if user_subscription.author.username == "root" %}style="color: red;"{% endif %}>{{ user_subscription.author.username }}</label>
                      </a>
                      <div style="color: #909090; margin: 3px 0;">
                        <label>{{ user_subscription.author.description }}</label>
                      </div>
                      <div style="margin-top: 7px; color: #999999; font-weight: 700;">
                        <img class="heart-users" src="{% static 'images/heart_gray.png' %}"> <label style="margin-right: 20px;">{{ user_subscription.author.symper.count|bf_number }}</label>
                        <img class="heart-users" src="{% static 'images/messages.png' %}"> <label>{{ user_subscription.author.comments.count|bf_number }}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% if not forloop.last %}<hr class="hr-post-detail" style="margin: 0;">{% endif %}
            {% endfor %}
          {% else %}
            <div style="margin: 0 0 0 20px; text-align: center; padding: 15px;">
              <label style="color: #515151; font-size: 18px; font-weight: 700;">Ничего не найдено.</label>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
{% endblock %}
