{% extends 'base.html' %}
{% block title %}speedhack / сообщения пользователя {{ author.username }}{% endblock %}
{% load static %}
{% block content %}
  <div class="main">
    <div class="frame_con" style="display: block;">
      <label class="link-title"><a href="{% url 'forum:index' %}" class="link-title-main">Форум</a> <label style="margin: 0 5px;">/</label> <a href="{% url 'forum:profile' author.username %}" class="link-title-main">{{ author.username }}</a></label>
      <div class="user-symps-frame">
        <div>
          {% if user_messages.count != 0 %}
            {% for user_message in user_messages %}
              <div style="padding: 20px 20px 0 20px; display: flex;">
                <div style="margin-right: 10px;">
                  <a href="{% url 'forum:profile' user_message.author.username %}"><img style="width: 50px; border-radius: 50px;" src="{{ user_message.author.avatar.url }}"></a>
                </div>
                <div style="margin-bottom: 20px;">
                  <div style="display: flex; min-width: 980px;">
                    <div class="user-symp-post-title" style="margin: 0 auto 0 0;"><a class="user-symp-post-title-a" href="{% url 'forum:post_detail' user_message.post.id %}">{{ user_message.post.title }}</a></div>
                    <div class="user-symp-post-info" style="color: #909090;">Сообщение</div>
                  </div>
                  <div class="user-symp-post-info" style="max-width: 980px; word-wrap: break-word;">{{ user_message.text }}</div>
                  <div class="user-symp-post-info"><a class="user-symp-a muted" style="font-weight: bold;" href="{% url 'forum:profile' user_message.author.username %}">{{ user_message.author.username }}</a><span class="pink-separator" style="margin: 0 10px;"></span><a class="user-symp-a muted" href="{% url 'forum:group_filter_posts' user_message.post.group.id %}">{{ user_message.post.group }}</a><span class="pink-separator" style="margin: 0 10px;"></span><span class="muted">{{ user_message.created|date:"d E Y / H:i" }}</span></div>
                </div>
              </div>
              {% if not forloop.last %}<hr class="hr-post-detail" style="margin: 0;">{% endif %}
            {% endfor %}
          {% else %}
            <div style="margin: 0 0 0 20px; text-align: center; padding: 15px;">
              <label style="color: #515151; font-size: 18px; font-weight: bold;">Ничего не найдено.</label>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
{% endblock %}
