{% extends 'base.html' %}
{% block title %}speedhack / гарант{% endblock %}
{% load static %}
{% block content %}
  <div class="main">
    <div class="user-agreement-con" style="display: block;">
      <a class="link-h-words" href="{% url "forum:rules" %}">Правила форума</a>  <label style="color: #d6d6d6; margin: 0 5px 0 5px; font-size: 24px;">/</label>  <a class="link-h-words" href="{% url 'forum:words' %}">Ключевые слова</a>
      <div class="frame-words">
        <div class="tr-1" style="padding-top: 20px;">
          <div class="tr-2 tr-21-max" style="color: #ff506f; font-weight: 700;">Понятие</div>
          <div class="tr-2 tr-22-max" style="color: #ff506f; font-weight: 700;">Описание</div>
          <div class="tr-2 tr-23-max" style="color: #ff506f; font-weight: 700;">Ключевые слова</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2 tr-21-max">speedhack</div>
          <div class="tr-2 tr-22-max">Название нашего форума</div>
          <div class="tr-2 tr-23-max">sp, speed, sh, sph</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2 tr-21-max">sp1edh4ck</div>
          <div class="tr-2 tr-22-max">Создатель и главный администратор форума speedhack</div>
          <div class="tr-2 tr-23-max">sp1edh4ck, hacker, хакер, спидхакер</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2 tr-21-max">Стилер</div>
          <div class="tr-2 tr-22-max">Вредоносное ПО для получения конфиденциальной информации с устройства жертвы (пароли, cookie, кошельки и прочее)</div>
          <div class="tr-2 tr-23-max">стиллер, стилер, стиллак, стилак, stealer</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2 tr-21-max">Фишинг</div>
          <div class="tr-2 tr-22-max">Вид интернет-мошенничества, при котором злоумышленники пытаются получить конфиденциальную информацию жертвы (такую как пароли, логины, номера банковских карт), выдавая себя за доверенные организации или лица, отправляя фальшивые электронные сообщения или создавая поддельные веб-сайты</div>
          <div class="tr-2 tr-23-max">фиш, сфишил, фишер, фишинг, phishing</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2 tr-21-max">Арбитраж</div>
          <div class="tr-2 tr-22-max">Место урегулирования споров между истцом и ответчиком</div>
          <div class="tr-2 tr-23-max">Арбитраж, арб, арбитраже, арбитражи, арбитражах</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2 tr-21-max">Техническое задание</div>
          <div class="tr-2 tr-22-max">Документ, содержащий перечень задач, обязанностей и требований, которые заказчик предъявляет исполнителю</div>
          <div class="tr-2 tr-23-max">тз</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2 tr-21-max">Холд</div>
          <div class="tr-2 tr-22-max">Временное удержание средств в целях безопасности сделки</div>
          <div class="tr-2 tr-23-max">холд, холдом, hold</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2 tr-21-max">База</div>
          <div class="tr-2 tr-22-max">Представляет собой документ, в котором собраны некоторые данные, например логины и пароли</div>
          <div class="tr-2 tr-23-max">база, базы, base</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2 tr-21-max">Новорег</div>
          <div class="tr-2 tr-22-max">Недавно зарегистрировавшийся пользователь</div>
          <div class="tr-2 tr-23-max">новорек, новокек, новорег</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2 tr-21-max">Ратник</div>
          <div class="tr-2 tr-22-max">Программа-вирус, позволяющая удаленно управлять компьютером человека после запуска зараженного файла на его ПК</div>
          <div class="tr-2 tr-23-max">рат, rat, ратник</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2 tr-21-max">Невалид</div>
          <div class="tr-2 tr-22-max">Неверные данные (пример: аккаунт невалид, куки невалид и т.д.)</div>
          <div class="tr-2 tr-23-max">невалид, невалидный, invalid, nevalid, nevalide</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2 tr-21-max">Чекер</div>
          <div class="tr-2 tr-22-max">Программа, предназначенная для проверки аккаунтов на валид и получения сведений о них</div>
          <div class="tr-2 tr-23-max">чекеры, checker, чекер, чекером</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2 tr-21-max">Лог</div>
          <div class="tr-2 tr-22-max">Файл с данными, полученными с компьютера жертвы, который содержит в себе cookies, пароли, информацию о комплектующих ПК, IP-адрес жертвы, а так же файлы с рабочего стола. Логи получают путем распространения стиллера</div>
          <div class="tr-2 tr-23-max">лог, логах, логи, логами, логов, log, logs</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2 tr-21-max">Парсер</div>
          <div class="tr-2 tr-22-max">Программа, сервис или скрипт, который собирает данные с указанных веб-ресурсов, анализирует их и выдает в нужном формате</div>
          <div class="tr-2 tr-23-max">парсер, спарсил, парсил, парсить, parser</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2 tr-21-max">Автопостинг</div>
          <div class="tr-2 tr-22-max">Комплексная программа, предназначенная для автоматического размещения контента или рассылок с определенным содержимым в социальных сетях с возможностью задавать время публикации</div>
          <div class="tr-2 tr-23-max">автопостер, автопост, autoposting</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2 tr-21-max">Seed-фраза</div>
          <div class="tr-2 tr-22-max">Это последовательность случайных слов, используемых для получения доступа к криптокошельку</div>
          <div class="tr-2 tr-23-max">seed, сид, сиды, сидка</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2 tr-21-max">Инсталл</div>
          <div class="tr-2 tr-22-max">Загрузочный трафик, установка или запуск вашего ПО</div>
          <div class="tr-2 tr-23-max">инсталлы, installs, инсталы, инстал, инсталлов</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2 tr-21-max">Крипт</div>
          <div class="tr-2 tr-22-max">Шифрование исполняемого файла, позволяет обходить обнаружение антивирусными программами</div>
          <div class="tr-2 tr-23-max">крипт, криптовать, закриптовать, закриптован</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2 tr-21-max">Сигна</div>
          <div class="tr-2 tr-22-max">Фотография, содержащая в себе надпись с именем или никнеймом на теле человека или на листке бумаги</div>
          <div class="tr-2 tr-23-max">сигну, сигны, сигн, sign, сигна</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2 tr-21-max">Тима</div>
          <div class="tr-2 tr-22-max">Группа лиц, занимающаяся определенной деятельностью с целью извлечения собственной выгоды</div>
          <div class="tr-2 tr-23-max">тима, team, тиму</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2 tr-21-max">Бомбер</div>
          <div class="tr-2 tr-22-max">Программа для спама SMS, звонками, письмами на эл. почту</div>
          <div class="tr-2 tr-23-max">bomber, бомбер, бомбера, бомберы</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2 tr-21-max">Анти-фрод</div>
          <div class="tr-2 tr-22-max">Система, предназначенная для оценки действий пользователя на предмет подозрительности с точки зрения мошенничества и предлагающая рекомендации по их дальнейшей обработке</div>
          <div class="tr-2 tr-23-max">антифрод, antifrod, фрод, фроднуло</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1" style="padding-bottom: 20px;">
          <div class="tr-2 tr-21-max">Кряк</div>
          <div class="tr-2 tr-22-max">Взлом платного/приватного ПО (действия, направленные на устранение защиты ПО) для дальнейшего бесплатного использования/распространения</div>
          <div class="tr-2 tr-23-max">кряк, crack, крякнуть, крякнул</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
x