{% extends 'base.html' %}
{% block title %}speedhack / гарант{% endblock %}
{% load static %}
{% block content %}
  <div class="main">
    <div class="user-agreement_con" style="display: block;">
      <a class="link-h-words" href="{% url "forum:rules" %}">Правила форума</a>  <label style="color: #d6d6d6; margin: 0 5px 0 5px; font-size: 24px;">/</label>  <a class="link-h-words" href="{% url 'forum:words' %}">Ключевые слова</a>
      <div class="frame-words">
        <div class="tr-1" style="padding-top: 20px;">
          <div class="tr-2" style="color: #ff506f; font-weight: bold;">Понятие</div>
          <div class="tr-2" style="color: #ff506f; font-weight: bold;">Описание</div>
          <div class="tr-2" style="margin: 0 0 0 auto; color: #ff506f; max-width: 180px; font-weight: bold;">Ключевые слова</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2">speedhack</div>
          <div class="tr-2">Название нашего форума</div>
          <div class="tr-2" style="margin: 0 0 0 auto; max-width: 180px;">sp, speed, sh, sph</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
            <div class="tr-2">sp1edh4ck</div>
            <div class="tr-2">Создатель и главный администратор форума Lolzteam</div>
            <div class="tr-2" style="margin: 0 0 0 auto; max-width: 180px;">sp1edh4ck, hacker, хакер, спидхакер</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2">Стилер</div>
          <div class="tr-2">Вредоносное ПО для получения конфиденциальной информации с устройства жертвы (пароли, cookie, кошельки и прочее)</div>
          <div class="tr-2" style="margin: 0 0 0 auto; max-width: 180px;">стиллер, стилер, стиллак, стилак, stealer</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2">Фишинг</div>
          <div class="tr-2">Вид интернет-мошенничества, при котором злоумышленники пытаются получить конфиденциальную информацию жертвы (такую как пароли, логины, номера банковских карт), выдавая себя за доверенные организации или лица, отправляя фальшивые электронные сообщения или создавая поддельные веб-сайты</div>
          <div class="tr-2" style="margin: 0 0 0 auto; max-width: 180px;">фиш, сфишил, фишер, фишинг, phishing</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2">Арбитраж</div>
          <div class="tr-2">Место урегулирования споров между истцом и ответчиком</div>
          <div class="tr-2" style="margin: 0 0 0 auto; max-width: 180px;">Арбитраж, арб, арбитраже, арбитражи, арбитражах</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2">Техническое задание</div>
          <div class="tr-2">Документ, содержащий перечень задач, обязанностей и требований, которые заказчик предъявляет исполнителю</div>
          <div class="tr-2" style="margin: 0 0 0 auto; max-width: 180px;">тз</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2">Холд</div>
          <div class="tr-2">Временное удержание средств в целях безопасности сделки</div>
          <div class="tr-2" style="margin: 0 0 0 auto; max-width: 180px;">холд, холдом, hold</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2">База</div>
          <div class="tr-2">Представляет собой документ, в котором собраны некоторые данные, например логины и пароли</div>
          <div class="tr-2" style="margin: 0 0 0 auto; max-width: 180px;">база, базы, base</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2">Новорег</div>
          <div class="tr-2">Недавно зарегистрировавшийся пользователь</div>
          <div class="tr-2" style="margin: 0 0 0 auto; max-width: 180px;">новорек, новокек, новорег</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2">Ратник</div>
          <div class="tr-2">Программа-вирус, позволяющая удаленно управлять компьютером человека после запуска зараженного файла на его ПК</div>
          <div class="tr-2" style="margin: 0 0 0 auto; max-width: 180px;">рат, rat, ратник</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2">Невалид</div>
          <div class="tr-2">Неверные данные (пример: аккаунт невалид, куки невалид и т.д.)</div>
          <div class="tr-2" style="margin: 0 0 0 auto; max-width: 180px;">невалид, невалидный, invalid, nevalid, nevalide</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2">Чекер</div>
          <div class="tr-2">Программа, предназначенная для проверки аккаунтов на валид и получения сведений о них</div>
          <div class="tr-2" style="margin: 0 0 0 auto; max-width: 180px;">чекеры, checker, чекер, чекером</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2">Лог</div>
          <div class="tr-2">Файл с данными, полученными с компьютера жертвы, который содержит в себе cookies, пароли, информацию о комплектующих ПК, IP-адрес жертвы, а так же файлы с рабочего стола. Логи получают путем распространения стиллера</div>
          <div class="tr-2" style="margin: 0 0 0 auto; max-width: 180px;">лог, логах, логи, логами, логов, log, logs</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2">Парсер</div>
          <div class="tr-2">Программа, сервис или скрипт, который собирает данные с указанных веб-ресурсов, анализирует их и выдает в нужном формате</div>
          <div class="tr-2" style="margin: 0 0 0 auto; max-width: 180px;">парсер, спарсил, парсил, парсить, parser</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2">Автопостинг</div>
          <div class="tr-2">Комплексная программа, предназначенная для автоматического размещения контента или рассылок с определенным содержимым в социальных сетях с возможностью задавать время публикации</div>
          <div class="tr-2" style="margin: 0 0 0 auto; max-width: 180px;">автопостер, автопост, autoposting</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2">Seed-фраза</div>
          <div class="tr-2">Это последовательность случайных слов, используемых для получения доступа к криптокошельку</div>
          <div class="tr-2" style="margin: 0 0 0 auto; max-width: 180px;">seed, сид, сиды, сидка</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2">Инсталл</div>
          <div class="tr-2">Загрузочный трафик, установка или запуск вашего ПО</div>
          <div class="tr-2" style="margin: 0 0 0 auto; max-width: 180px;">инсталлы, installs, инсталы, инстал, инсталлов</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2">Крипт</div>
          <div class="tr-2">Шифрование исполняемого файла, позволяет обходить обнаружение антивирусными программами</div>
          <div class="tr-2" style="margin: 0 0 0 auto; max-width: 180px;">крипт, криптовать, закриптовать, закриптован</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2">Сигна</div>
          <div class="tr-2">Фотография, содержащая в себе надпись с именем или никнеймом на теле человека или на листке бумаги</div>
          <div class="tr-2" style="margin: 0 0 0 auto; max-width: 180px;">сигну, сигны, сигн, sign, сигна</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2">Тима</div>
          <div class="tr-2">Группа лиц, занимающаяся определенной деятельностью с целью извлечения собственной выгоды</div>
          <div class="tr-2" style="margin: 0 0 0 auto; max-width: 180px;">тима, team, тиму</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2">Бомбер</div>
          <div class="tr-2">Программа для спама SMS, звонками, письмами на эл. почту</div>
          <div class="tr-2" style="margin: 0 0 0 auto; max-width: 180px;">bomber, бомбер, бомбера, бомберы</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1">
          <div class="tr-2">Анти-фрод</div>
          <div class="tr-2">Система, предназначенная для оценки действий пользователя на предмет подозрительности с точки зрения мошенничества и предлагающая рекомендации по их дальнейшей обработке</div>
          <div class="tr-2" style="margin: 0 0 0 auto; max-width: 180px;">антифрод, antifrod, фрод, фроднуло</div>
        </div>
        <hr class="hr-post-detail" style="margin: 15px 0;">
        <div class="tr-1" style="padding-bottom: 20px;">
          <div class="tr-2">Кряк</div>
          <div class="tr-2">Взлом платного/приватного ПО (действия, направленные на устранение защиты ПО) для дальнейшего бесплатного использования/распространения</div>
          <div class="tr-2" style="margin: 0 0 0 auto; max-width: 180px;">кряк, crack, крякнуть, крякнул</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
x