asgiref==3.6.0
Django==3.2.18
django-filter==23.1
fontawesomefree==6.4.0
isort==5.11.5
Pillow==9.5.0
pytz==2023.3
sorl-thumbnail==12.9.0
sqlparse==0.4.3
typing_extensions==4.5.0
django-cleanup==7.0.0
