{% load static %}
<header class="header">
  <div class="header_con">
    <a href="/"><img class="brandLogo" src="{% static 'images/speedhack_logo.png' %}" alt="speedhack"></a>
    <div class="navbar">
      <div class="container">
        <div class="navbar_wrap">
          <div class="hamb">
            <div class="hamb_field" id="hamb">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="popup" id="popup"></div>
    <nav class="header_menu">
      <ul class="menu_list" id="menu">
        <li class="menu_item"><a href="/" class="menu_link">ФОРУМ</a></li>
        <li class="menu_item"><a href="/market" class="menu_link">МАРКЕТ</a></li>
        <li class="menu_item"><a href="/users" class="menu_link">КОМАНДА</a></li>
        <li class="menu_item"><a href="/faq/faq-tech" class="menu_link">FAQ</a></li>
      </ul>
    </nav>
    {% if request.user.is_authenticated %}
      <div class="user-button">
        <button class="user-icon">{{ request.user }}</button>
        <div class="user-button-content">{% comment %} {% url 'users:profile' user.username %} {% endcomment %}
          <a href="{% url 'forum:profile' user.username %}" style="border-top-left-radius: 5px; border-top-right-radius: 5px;">Профиль</a>
          <a href="#">Мои аккаунты</a>
          <a href="#">Мои покупки</a>
          <a href="{% url 'users:logout' %}" style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">Выйти</a>
        </div>
      </div>
    {% else %}
      <div class="header_logreg">
        <a href="{% url 'users:login' %}" class="button">Логин</a>
        <a href="{% url 'users:signup' %}" class="button">Регистрация</a>
      </div>
    {% endif %}
  </div>
</header>