<header class="header">
    <div class="header_con">
        <img class="brandLogo" src="images/Logo-pink.png" alt="speedhack">

        <div class="navbar">
            <div class="container">
                <div class="navbar_wrap">
                    <div class="hamb">
                        <div class="hamb_field" id="hamb">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="popup" id="popup"></div>

        <nav class="header_menu">
            <ul class="menu_list" id="menu">
                <li class="menu_item"><a href="https://sp11dh4ck.github.io/sp1edh4ck_site/" class="menu_link">ГЛАВНАЯ</a></li>
                <li class="menu_item"><a href="https://sp11dh4ck.github.io/sp1edh4ck_site/forum" class="menu_link">ФОРУМ</a></li>
                <li class="menu_item"><a href="https://sp11dh4ck.github.io/sp1edh4ck_site/market" class="menu_link">МАРКЕТ</a></li>
                <li class="menu_item"><a href="https://sp11dh4ck.github.io/sp1edh4ck_site/users" class="menu_link">КОМАНДА</a></li>
                <li class="menu_item"><a href="https://sp11dh4ck.github.io/sp1edh4ck_site/faq/faq-tech" class="menu_link">FAQ</a></li>
            </ul>
        </nav>

        <div class="user-button">
            <button class="user-icon">sp1edh4ck</button>
            <div class="user-button-content">
                  <a href="#">Профиль</a>
                  <a href="#">Мои аккаунты</a>
                <a href="#">Мои покупки</a>
                  <a href="#" style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">Выйти</a>
            </div>
        </div>

        <div class="header_logreg">
            <button onclick="login()" type="button" class="button">Логин</button>
            <script>
                function login(){
                    window.location="https://sp11dh4ck.github.io/sp1edh4ck_site/sing/sing-in";
                }
            </script>
              <button onclick="register()" type="button" class="button">Регистрация</button>
            <script>
                function register(){
                    window.location="https://sp11dh4ck.github.io/sp1edh4ck_site/sing/sing-up";
                }
            </script>
        </div>
    </div>
</header>